# Traitement des données

In [1]:
#! pip install verstack

In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import datetime as dt

import pre_traitement
import traitement_forecast

## Chargement des données

In [2]:
# unzip file

#! tar -xf ./data_meteonet/train/X_forecast/2016/2D_arome_2016.tar.gz -C ./data_meteonet/train/X_forecast/2D_arome_train/
#! tar -xf ./data_meteonet/train/X_forecast/2017/2D_arome_2017.tar.gz  -C ./data_meteonet/train/X_forecast/2D_arome_train/
#! tar -xf ./data_meteonet/test/X_forecast/2D_arome_test.tar.gz

#! tar -xf ./data_meteonet/train/X_forecast/2016/2D_arpege_2016.tar.gz -C ./data_meteonet/train/X_forecast/
#! tar -xf ./data_meteonet/train/X_forecast/2017/2D_arpege_2017.tar.gz -C ./data_meteonet/train/X_forecast/
#! tar -xf ./data_meteonet/test/X_forecast/2D_arpege_test.tar.gz -C ./data_meteonet/test/

#! tar -xf ./data_meteonet/train/X_forecast/2016/3D_arpege_2016.tar.gz -C ./data_meteonet/train/X_forecast/
#! tar -xf ./data_meteonet/train/X_forecast/2017/3D_arpege_2017.tar.gz -C ./data_meteonet/train/X_forecast/
#! tar -xf ./data_meteonet/test/X_forecast/3D_arpege_test.tar.gz -C ./data_meteonet/test/

In [2]:
path_coords = './Other/Other/'
path_train = './Train/Train/'
path_test = './Test/Test/'
path_baseline ='./Test/Test/Baselines/'

coords, df_X_train, df_X_test, df_Y_train, baseline = pre_traitement.load_datasets(path_coords, path_train, path_test, path_baseline)

In [11]:
df_X_train.head()

,number_sta,date,ff,t,td,hu,dd,precip,Id
0,14066001,2016-01-01 00:00:00,3.05,279.28,277.97,91.4,200.0,0.0,14066001_0_0
1,14066001,2016-01-01 01:00:00,2.57,278.76,277.45,91.4,190.0,0.0,14066001_0_1
2,14066001,2016-01-01 02:00:00,2.26,278.27,277.02,91.7,181.0,0.0,14066001_0_2
3,14066001,2016-01-01 03:00:00,2.62,277.98,276.95,93.0,159.0,0.0,14066001_0_3
4,14066001,2016-01-01 04:00:00,2.99,277.32,276.72,95.9,171.0,0.0,14066001_0_4

## Traitement des X_stations et des coordonnées

In [3]:
#on supprime les heures de 'date'
df_X_train["date"] = df_X_train["date"].apply(lambda x: dt.date(x.year, x.month, x.day))
#ffill et bfill par station et par jour
df_X_train = pre_traitement.fill_na_hour(df_X_train, 'date')
#moyenne/somme pour avoir 1 valeur par jour et par station
df_X_train = pre_traitement.hour_to_day(df = df_X_train, var = "date")
#on ajoute la variable month
df_X_train = pre_traitement.add_month(df_X_train)
#on ajoute les coordonnées des stations
df_X_train = pre_traitement.add_coords(coords, df_X_train)
#on ajoute ground truth
df_train = pre_traitement.merge_X_Y ( df_X_train, df_Y_train)
#drop les nan de ground_truth
df_train.dropna(subset = ["Ground_truth"], inplace = True)
df_train.head()

,date,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,month_7,month_8,month_9,month_10,month_11,month_12,lat,lon,height_sta,Ground_truth
0,2016-01-01,14066001,3.913750,280.333750,278.514583,88.591667,146.500000,0.2,14066001_0_0,0,...,0,0,0,0,0,0,49.334,-0.431,2.0,3.4
1,2016-01-01,14126001,NaN,280.283333,279.552083,95.083333,NaN,0.5,14126001_0_0,0,...,0,0,0,0,0,0,49.145,0.042,125.0,0.5
2,2016-01-01,14137001,5.444583,280.029583,278.721250,91.733333,144.125000,0.0,14137001_0_0,0,...,0,0,0,0,0,0,49.180,-0.456,67.0,3.4
3,2016-01-01,14216001,4.759583,280.089583,278.888750,92.187500,158.666667,0.6,14216001_0_0,0,...,0,0,0,0,0,0,48.928,-0.149,155.0,4.0
4,2016-01-01,14296001,NaN,279.301667,NaN,NaN,NaN,0.2,14296001_0_0,0,...,0,0,0,0,0,0,48.795,-1.037,336.0,13.3

In [4]:
#Création de l'Id 
df_X_test["Id"] = df_X_test["Id"].apply(lambda x: x.split('_')[0]+'_'+x.split('_')[1])
#Création de la variable 'day' et 'number_sta'
df_X_test["date"] = df_X_test["Id"].apply(lambda x: x.split('_')[1])
df_X_test["number_sta"] = df_X_test["Id"].apply(lambda x: x.split('_')[0])
#ffill et bfill par station et par jour
df_X_test = pre_traitement.fill_na_hour(df_X_test, 'date')
#moyenne/somme pour avoir 1 valeur par jour et par station
df_X_test = pre_traitement.hour_to_day(df = df_X_test, var = "date")
#suppression des lignes qui ne sont pas dans la baseline
df_X_test = df_X_test[df_X_test.Id.isin(baseline['Id'])] 
#on ajoute la variable month
df_X_test = pre_traitement.add_month(df_X_test)
#on ajoute les coordonnées des stations
df_X_test = pre_traitement.add_coords(coords, df_X_test)
df_X_test.head()

,day,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,month_6,month_7,month_8,month_9,month_10,month_11,month_12,lat,lon,height_sta
0,0,14066001,3.370000,279.474583,277.683750,89.125000,206.750000,0.2,14066001_0,1,...,0,0,0,0,0,0,0,49.334,-0.431,2.0
1,0,14126001,NaN,279.164583,278.152083,93.520833,NaN,0.5,14126001_0,1,...,0,0,0,0,0,0,0,49.145,0.042,125.0
2,0,14137001,3.388333,279.266667,277.653750,89.908333,197.708333,0.2,14137001_0,1,...,0,0,0,0,0,0,0,49.180,-0.456,67.0
3,0,14216001,2.695000,279.235417,277.063750,86.620833,213.583333,0.0,14216001_0,1,...,0,0,0,0,0,0,0,48.928,-0.149,155.0
4,0,14296001,NaN,277.874167,NaN,NaN,NaN,0.0,14296001_0,1,...,0,0,0,0,0,0,0,48.795,-1.037,336.0

## Traitement des données forecast

In [5]:
# liste des variables présentes dans forecast
var = ["ws", "p3031", "u10", "v10", "t2m", "d2m", "r", "tp", "msl"]

###  Modèle arome

In [6]:
# calcul des distances
K = 5 #nombre de points choisi
model = '2D_arome'
path = './data_meteonet/train/X_forecast/2D_arome_train/'
df_distance1 = traitement_forecast.calcul_distance(coords, path, model, K)

In [7]:
#ajout des prévisions dans df_train
p = 1 #paramètre d'interpolation

df_train = df_train.sort_values(by=["date", "number_sta"]) #indispensable pour faire traitement_forecast
prev= traitement_forecast.add_prevision(p,df_distance1, df_train, path, model, var)
df_train.head()

date : 2016-01-01T00:00:00.000000000
date : 2016-01-02T00:00:00.000000000
date : 2016-01-03T00:00:00.000000000
date : 2016-01-04T00:00:00.000000000
date : 2016-01-05T00:00:00.000000000
date : 2016-01-06T00:00:00.000000000
date : 2016-01-07T00:00:00.000000000
date : 2016-01-08T00:00:00.000000000
date : 2016-01-09T00:00:00.000000000
date : 2016-01-10T00:00:00.000000000
date : 2016-01-11T00:00:00.000000000
date : 2016-01-12T00:00:00.000000000
date : 2016-01-13T00:00:00.000000000
date : 2016-01-14T00:00:00.000000000
date : 2016-01-15T00:00:00.000000000
date : 2016-01-16T00:00:00.000000000
date : 2016-01-17T00:00:00.000000000
date : 2016-01-18T00:00:00.000000000
date : 2016-01-19T00:00:00.000000000
date : 2016-01-20T00:00:00.000000000
date : 2016-01-21T00:00:00.000000000
date : 2016-01-22T00:00:00.000000000
date : 2016-01-23T00:00:00.000000000
date : 2016-01-24T00:00:00.000000000
date : 2016-01-25T00:00:00.000000000
date : 2016-01-26T00:00:00.000000000
date : 2016-01-27T00:00:00.000000000
date : 2016-01-28T00:00:00.000000000
date : 2016-01-29T00:00:00.000000000
date : 2016-01-30T00:00:00.000000000
date : 2016-01-31T00:00:00.000000000
date : 2016-02-01T00:00:00.000000000
date : 2016-02-02T00:00:00.000000000
date : 2016-02-03T00:00:00.000000000
date : 2016-02-04T00:00:00.000000000
date : 2016-02-05T00:00:00.000000000
date : 2016-02-06T00:00:00.000000000
date : 2016-02-07T00:00:00.000000000
date : 2016-02-08T00:00:00.000000000
date : 2016-02-09T00:00:00.000000000
date : 2016-02-10T00:00:00.000000000
date : 2016-02-11T00:00:00.000000000
date : 2016-02-12T00:00:00.000000000
date : 2016-02-13T00:00:00.000000000
date : 2016-02-14T00:00:00.000000000
date : 2016-02-15T00:00:00.000000000
date : 2016-02-16T00:00:00.000000000
date : 2016-02-17T00:00:00.000000000
date : 2016-02-18T00:00:00.000000000
date : 2016-02-19T00:00:00.000000000
date : 2016-02-20T00:00:00.000000000
date : 2016-02-21T00:00:00.000000000
date : 2016-02-22T00:00:00.000000000
date : 2016-02-23T00:00:00.000000000
date : 2016-02-24T00:00:00.000000000
date : 2016-02-25T00:00:00.000000000
date : 2016-02-26T00:00:00.000000000
date : 2016-02-27T00:00:00.000000000
date : 2016-02-28T00:00:00.000000000
date : 2016-02-29T00:00:00.000000000
date : 2016-03-01T00:00:00.000000000
date : 2016-03-02T00:00:00.000000000
date : 2016-03-03T00:00:00.000000000
date : 2016-03-04T00:00:00.000000000
date : 2016-03-05T00:00:00.000000000
date : 2016-03-06T00:00:00.000000000
date : 2016-03-07T00:00:00.000000000
date : 2016-03-08T00:00:00.000000000
date : 2016-03-09T00:00:00.000000000
date : 2016-03-10T00:00:00.000000000
date : 2016-03-11T00:00:00.000000000
date : 2016-03-12T00:00:00.000000000
date : 2016-03-13T00:00:00.000000000
date : 2016-03-14T00:00:00.000000000
date : 2016-03-15T00:00:00.000000000
date : 2016-03-16T00:00:00.000000000
date : 2016-03-17T00:00:00.000000000
date : 2016-03-18T00:00:00.000000000
date : 2016-03-19T00:00:00.000000000
date : 2016-03-20T00:00:00.000000000
date : 2016-03-21T00:00:00.000000000
date : 2016-03-22T00:00:00.000000000
date : 2016-03-23T00:00:00.000000000
date : 2016-03-24T00:00:00.000000000
date : 2016-03-25T00:00:00.000000000
date : 2016-03-26T00:00:00.000000000
date : 2016-03-27T00:00:00.000000000
date : 2016-03-28T00:00:00.000000000
date : 2016-03-29T00:00:00.000000000
date : 2016-03-30T00:00:00.000000000
date : 2016-03-31T00:00:00.000000000
date : 2016-04-01T00:00:00.000000000
date : 2016-04-02T00:00:00.000000000
date : 2016-04-03T00:00:00.000000000
date : 2016-04-04T00:00:00.000000000
date : 2016-04-05T00:00:00.000000000
date : 2016-04-06T00:00:00.000000000
date : 2016-04-07T00:00:00.000000000
date : 2016-04-08T00:00:00.000000000
date : 2016-04-09T00:00:00.000000000
date : 2016-04-10T00:00:00.000000000
date : 2016-04-11T00:00:00.000000000
date : 2016-04-12T00:00:00.000000000
date : 2016-04-13T00:00:00.000000000
date : 2016-04-14T00:00:00.000000000
date : 2016-04-15T00:00:00.000000000
date : 2016-04-16T00:00:00.000000000
date : 2016-04-17T00:00:00.000000000
date : 2016-04-18T00:00:00.000000000
date : 2016-04-19T00:00:00.000000000
date : 2016-04-20T00:00:00.000000000
date : 2016-04-21T00:00:00.000000000
date : 2016-04-22T00:00:00.000000000
date : 2016-04-23T00:00:00.000000000
date : 2016-04-24T00:00:00.000000000
date : 2016-04-25T00:00:00.000000000
date : 2016-04-26T00:00:00.000000000
date : 2016-04-27T00:00:00.000000000
date : 2016-04-28T00:00:00.000000000
date : 2016-04-29T00:00:00.000000000
date : 2016-04-30T00:00:00.000000000
date : 2016-05-01T00:00:00.000000000
date : 2016-05-02T00:00:00.000000000
date : 2016-05-03T00:00:00.000000000
date : 2016-05-04T00:00:00.000000000
date : 2016-05-05T00:00:00.000000000
date : 2016-05-06T00:00:00.000000000
date : 2016-05-07T00:00:00.000000000
date : 2016-05-08T00:00:00.000000000
date : 2016-05-09T00:00:00.000000000
date : 2016-05-10T00:00:00.000000000
date : 2016-05-11T00:00:00.000000000
date : 2016-05-12T00:00:00.000000000
date : 2016-05-13T00:00:00.000000000
date : 2016-05-14T00:00:00.000000000
date : 2016-05-15T00:00:00.000000000
date : 2016-05-16T00:00:00.000000000
date : 2016-05-17T00:00:00.000000000
date : 2016-05-18T00:00:00.000000000
date : 2016-05-19T00:00:00.000000000
date : 2016-05-20T00:00:00.000000000
date : 2016-05-21T00:00:00.000000000
date : 2016-05-22T00:00:00.000000000
date : 2016-05-23T00:00:00.000000000
date : 2016-05-24T00:00:00.000000000
date : 2016-05-25T00:00:00.000000000
date : 2016-05-26T00:00:00.000000000
date : 2016-05-27T00:00:00.000000000
date : 2016-05-28T00:00:00.000000000
date : 2016-05-29T00:00:00.000000000
date : 2016-05-30T00:00:00.000000000
date : 2016-05-31T00:00:00.000000000
date : 2016-06-01T00:00:00.000000000
date : 2016-06-02T00:00:00.000000000
date : 2016-06-03T00:00:00.000000000
date : 2016-06-04T00:00:00.000000000
date : 2016-06-05T00:00:00.000000000
date : 2016-06-06T00:00:00.000000000
date : 2016-06-07T00:00:00.000000000
date : 2016-06-08T00:00:00.000000000
date : 2016-06-09T00:00:00.000000000
date : 2016-06-10T00:00:00.000000000
date : 2016-06-11T00:00:00.000000000
date : 2016-06-12T00:00:00.000000000
date : 2016-06-13T00:00:00.000000000
date : 2016-06-14T00:00:00.000000000
date : 2016-06-15T00:00:00.000000000
date : 2016-06-16T00:00:00.000000000
date : 2016-06-17T00:00:00.000000000
date : 2016-06-18T00:00:00.000000000
date : 2016-06-19T00:00:00.000000000
date : 2016-06-20T00:00:00.000000000
date : 2016-06-21T00:00:00.000000000
date : 2016-06-22T00:00:00.000000000
date : 2016-06-23T00:00:00.000000000
date : 2016-06-24T00:00:00.000000000
date : 2016-06-25T00:00:00.000000000
date : 2016-06-26T00:00:00.000000000
date : 2016-06-27T00:00:00.000000000
date : 2016-06-28T00:00:00.000000000
date : 2016-06-29T00:00:00.000000000
date : 2016-06-30T00:00:00.000000000
date : 2016-07-01T00:00:00.000000000
date : 2016-07-02T00:00:00.000000000
date : 2016-07-03T00:00:00.000000000
date : 2016-07-04T00:00:00.000000000
date : 2016-07-05T00:00:00.000000000
date : 2016-07-06T00:00:00.000000000
date : 2016-07-07T00:00:00.000000000
date : 2016-07-08T00:00:00.000000000
date : 2016-07-09T00:00:00.000000000
date : 2016-07-10T00:00:00.000000000
date : 2016-07-11T00:00:00.000000000
date : 2016-07-12T00:00:00.000000000
date : 2016-07-13T00:00:00.000000000
date : 2016-07-14T00:00:00.000000000
date : 2016-07-15T00:00:00.000000000
date : 2016-07-16T00:00:00.000000000
date : 2016-07-17T00:00:00.000000000
date : 2016-07-18T00:00:00.000000000
date : 2016-07-19T00:00:00.000000000
date : 2016-07-20T00:00:00.000000000
date : 2016-07-21T00:00:00.000000000
date : 2016-07-22T00:00:00.000000000
date : 2016-07-23T00:00:00.000000000
date : 2016-07-24T00:00:00.000000000
date : 2016-07-25T00:00:00.000000000
date : 2016-07-26T00:00:00.000000000
date : 2016-07-27T00:00:00.000000000
date : 2016-07-28T00:00:00.000000000
date : 2016-07-29T00:00:00.000000000
date : 2016-07-30T00:00:00.000000000
date : 2016-07-31T00:00:00.000000000
date : 2016-08-01T00:00:00.000000000
date : 2016-08-02T00:00:00.000000000
date : 2016-08-03T00:00:00.000000000
date : 2016-08-04T00:00:00.000000000
date : 2016-08-05T00:00:00.000000000
date : 2016-08-06T00:00:00.000000000
date : 2016-08-07T00:00:00.000000000
date : 2016-08-08T00:00:00.000000000
date : 2016-08-09T00:00:00.000000000

date : 2016-08-10T00:00:00.000000000
date : 2016-08-11T00:00:00.000000000
date : 2016-08-12T00:00:00.000000000
date : 2016-08-13T00:00:00.000000000
date : 2016-08-14T00:00:00.000000000
date : 2016-08-15T00:00:00.000000000
date : 2016-08-16T00:00:00.000000000
date : 2016-08-17T00:00:00.000000000
date : 2016-08-18T00:00:00.000000000
date : 2016-08-19T00:00:00.000000000
date : 2016-08-20T00:00:00.000000000
date : 2016-08-21T00:00:00.000000000
date : 2016-08-22T00:00:00.000000000
date : 2016-08-23T00:00:00.000000000
date : 2016-08-24T00:00:00.000000000
date : 2016-08-25T00:00:00.000000000
date : 2016-08-26T00:00:00.000000000
date : 2016-08-27T00:00:00.000000000
date : 2016-08-28T00:00:00.000000000
date : 2016-08-29T00:00:00.000000000
date : 2016-08-30T00:00:00.000000000
date : 2016-08-31T00:00:00.000000000
date : 2016-09-01T00:00:00.000000000
date : 2016-09-02T00:00:00.000000000
date : 2016-09-03T00:00:00.000000000
date : 2016-09-04T00:00:00.000000000
date : 2016-09-05T00:00:00.000000000
date : 2016-09-06T00:00:00.000000000
date : 2016-09-07T00:00:00.000000000
date : 2016-09-08T00:00:00.000000000
date : 2016-09-09T00:00:00.000000000
date : 2016-09-10T00:00:00.000000000
date : 2016-09-11T00:00:00.000000000
date : 2016-09-12T00:00:00.000000000
date : 2016-09-13T00:00:00.000000000
date : 2016-09-14T00:00:00.000000000
date : 2016-09-15T00:00:00.000000000
date : 2016-09-16T00:00:00.000000000
date : 2016-09-17T00:00:00.000000000
date : 2016-09-18T00:00:00.000000000
date : 2016-09-19T00:00:00.000000000
date : 2016-09-20T00:00:00.000000000
date : 2016-09-21T00:00:00.000000000
date : 2016-09-22T00:00:00.000000000
date : 2016-09-23T00:00:00.000000000
date : 2016-09-24T00:00:00.000000000
date : 2016-09-25T00:00:00.000000000
date : 2016-09-26T00:00:00.000000000
date : 2016-09-27T00:00:00.000000000
date : 2016-09-28T00:00:00.000000000
date : 2016-09-29T00:00:00.000000000
date : 2016-09-30T00:00:00.000000000
date : 2016-10-01T00:00:00.000000000
date : 2016-10-02T00:00:00.000000000
date : 2016-10-03T00:00:00.000000000
date : 2016-10-04T00:00:00.000000000
date : 2016-10-05T00:00:00.000000000
date : 2016-10-06T00:00:00.000000000
date : 2016-10-07T00:00:00.000000000
date : 2016-10-08T00:00:00.000000000
date : 2016-10-09T00:00:00.000000000
date : 2016-10-10T00:00:00.000000000
date : 2016-10-11T00:00:00.000000000
date : 2016-10-12T00:00:00.000000000
date : 2016-10-13T00:00:00.000000000
date : 2016-10-14T00:00:00.000000000
date : 2016-10-15T00:00:00.000000000
date : 2016-10-16T00:00:00.000000000
date : 2016-10-17T00:00:00.000000000
date : 2016-10-18T00:00:00.000000000
date : 2016-10-19T00:00:00.000000000
date : 2016-10-20T00:00:00.000000000
date : 2016-10-21T00:00:00.000000000
date : 2016-10-22T00:00:00.000000000
date : 2016-10-23T00:00:00.000000000
date : 2016-10-24T00:00:00.000000000
date : 2016-10-25T00:00:00.000000000
date : 2016-10-26T00:00:00.000000000
date : 2016-10-27T00:00:00.000000000
date : 2016-10-28T00:00:00.000000000
date : 2016-10-29T00:00:00.000000000
date : 2016-10-30T00:00:00.000000000
date : 2016-10-31T00:00:00.000000000
date : 2016-11-01T00:00:00.000000000
date : 2016-11-02T00:00:00.000000000
date : 2016-11-03T00:00:00.000000000
date : 2016-11-04T00:00:00.000000000
date : 2016-11-05T00:00:00.000000000
date : 2016-11-06T00:00:00.000000000
date : 2016-11-07T00:00:00.000000000
date : 2016-11-08T00:00:00.000000000
date : 2016-11-09T00:00:00.000000000
date : 2016-11-10T00:00:00.000000000
date : 2016-11-11T00:00:00.000000000
date : 2016-11-12T00:00:00.000000000
date : 2016-11-13T00:00:00.000000000
date : 2016-11-14T00:00:00.000000000
date : 2016-11-15T00:00:00.000000000
date : 2016-11-16T00:00:00.000000000
date : 2016-11-17T00:00:00.000000000
date : 2016-11-18T00:00:00.000000000
date : 2016-11-19T00:00:00.000000000
date : 2016-11-20T00:00:00.000000000
date : 2016-11-21T00:00:00.000000000
date : 2016-11-22T00:00:00.000000000
date : 2016-11-23T00:00:00.000000000
date : 2016-11-24T00:00:00.000000000
date : 2016-11-25T00:00:00.000000000
date : 2016-11-26T00:00:00.000000000
date : 2016-11-27T00:00:00.000000000
date : 2016-11-28T00:00:00.000000000
date : 2016-11-29T00:00:00.000000000
date : 2016-11-30T00:00:00.000000000
date : 2016-12-01T00:00:00.000000000
date : 2016-12-02T00:00:00.000000000
date : 2016-12-03T00:00:00.000000000
date : 2016-12-04T00:00:00.000000000
date : 2016-12-05T00:00:00.000000000
date : 2016-12-06T00:00:00.000000000
date : 2016-12-07T00:00:00.000000000
date : 2016-12-08T00:00:00.000000000
date : 2016-12-09T00:00:00.000000000
date : 2016-12-10T00:00:00.000000000
date : 2016-12-11T00:00:00.000000000
date : 2016-12-12T00:00:00.000000000
date : 2016-12-13T00:00:00.000000000
date : 2016-12-14T00:00:00.000000000
date : 2016-12-15T00:00:00.000000000
date : 2016-12-16T00:00:00.000000000
date : 2016-12-17T00:00:00.000000000
date : 2016-12-18T00:00:00.000000000
date : 2016-12-19T00:00:00.000000000
date : 2016-12-20T00:00:00.000000000
date : 2016-12-21T00:00:00.000000000
date : 2016-12-22T00:00:00.000000000
date : 2016-12-23T00:00:00.000000000
date : 2016-12-24T00:00:00.000000000
date : 2016-12-25T00:00:00.000000000
date : 2016-12-26T00:00:00.000000000
date : 2016-12-27T00:00:00.000000000
date : 2016-12-28T00:00:00.000000000
date : 2016-12-29T00:00:00.000000000
date : 2016-12-30T00:00:00.000000000
date : 2016-12-31T00:00:00.000000000
date : 2017-01-01T00:00:00.000000000
date : 2017-01-02T00:00:00.000000000
date : 2017-01-03T00:00:00.000000000
date : 2017-01-04T00:00:00.000000000
date : 2017-01-05T00:00:00.000000000
date : 2017-01-06T00:00:00.000000000
date : 2017-01-07T00:00:00.000000000
date : 2017-01-08T00:00:00.000000000
date : 2017-01-09T00:00:00.000000000
date : 2017-01-10T00:00:00.000000000
date : 2017-01-11T00:00:00.000000000
date : 2017-01-12T00:00:00.000000000
date : 2017-01-13T00:00:00.000000000
date : 2017-01-14T00:00:00.000000000
date : 2017-01-15T00:00:00.000000000
date : 2017-01-16T00:00:00.000000000
date : 2017-01-17T00:00:00.000000000
date : 2017-01-18T00:00:00.000000000
date : 2017-01-19T00:00:00.000000000
date : 2017-01-20T00:00:00.000000000
date : 2017-01-21T00:00:00.000000000
date : 2017-01-22T00:00:00.000000000
date : 2017-01-23T00:00:00.000000000
date : 2017-01-24T00:00:00.000000000
date : 2017-01-25T00:00:00.000000000
date : 2017-01-26T00:00:00.000000000
date : 2017-01-27T00:00:00.000000000
date : 2017-01-28T00:00:00.000000000
date : 2017-01-29T00:00:00.000000000
date : 2017-01-30T00:00:00.000000000
date : 2017-01-31T00:00:00.000000000
date : 2017-02-01T00:00:00.000000000
date : 2017-02-02T00:00:00.000000000
date : 2017-02-03T00:00:00.000000000
date : 2017-02-04T00:00:00.000000000
date : 2017-02-05T00:00:00.000000000
date : 2017-02-06T00:00:00.000000000
date : 2017-02-07T00:00:00.000000000
date : 2017-02-08T00:00:00.000000000
date : 2017-02-09T00:00:00.000000000
date : 2017-02-10T00:00:00.000000000
date : 2017-02-11T00:00:00.000000000
date : 2017-02-12T00:00:00.000000000
date : 2017-02-13T00:00:00.000000000
date : 2017-02-14T00:00:00.000000000
date : 2017-02-15T00:00:00.000000000
date : 2017-02-16T00:00:00.000000000
date : 2017-02-17T00:00:00.000000000
date : 2017-02-18T00:00:00.000000000
date : 2017-02-19T00:00:00.000000000
date : 2017-02-20T00:00:00.000000000
date : 2017-02-21T00:00:00.000000000
date : 2017-02-22T00:00:00.000000000
date : 2017-02-23T00:00:00.000000000
date : 2017-02-24T00:00:00.000000000
date : 2017-02-25T00:00:00.000000000
date : 2017-02-26T00:00:00.000000000
date : 2017-02-27T00:00:00.000000000
date : 2017-02-28T00:00:00.000000000
date : 2017-03-01T00:00:00.000000000
date : 2017-03-02T00:00:00.000000000
date : 2017-03-03T00:00:00.000000000
date : 2017-03-04T00:00:00.000000000
date : 2017-03-05T00:00:00.000000000
date : 2017-03-06T00:00:00.000000000
date : 2017-03-07T00:00:00.000000000
date : 2017-03-08T00:00:00.000000000
date : 2017-03-09T00:00:00.000000000
date : 2017-03-10T00:00:00.000000000
date : 2017-03-11T00:00:00.000000000
date : 2017-03-12T00:00:00.000000000
date : 2017-03-13T00:00:00.000000000
date : 2017-03-14T00:00:00.000000000
date : 2017-03-15T00:00:00.000000000
date : 2017-03-16T00:00:00.000000000
date : 2017-03-17T00:00:00.000000000
date : 2017-03-18T00:00:00.000000000
date : 2017-03-19T00:00:00.000000000

date : 2017-03-20T00:00:00.000000000
date : 2017-03-21T00:00:00.000000000
date : 2017-03-22T00:00:00.000000000
date : 2017-03-23T00:00:00.000000000
date : 2017-03-24T00:00:00.000000000
date : 2017-03-25T00:00:00.000000000
date : 2017-03-26T00:00:00.000000000
date : 2017-03-27T00:00:00.000000000
date : 2017-03-28T00:00:00.000000000
date : 2017-03-29T00:00:00.000000000
date : 2017-03-30T00:00:00.000000000
date : 2017-03-31T00:00:00.000000000
date : 2017-04-01T00:00:00.000000000
date : 2017-04-02T00:00:00.000000000
date : 2017-04-03T00:00:00.000000000
date : 2017-04-04T00:00:00.000000000
date : 2017-04-05T00:00:00.000000000
date : 2017-04-06T00:00:00.000000000
date : 2017-04-07T00:00:00.000000000
date : 2017-04-08T00:00:00.000000000
date : 2017-04-09T00:00:00.000000000
date : 2017-04-10T00:00:00.000000000
date : 2017-04-11T00:00:00.000000000
date : 2017-04-12T00:00:00.000000000
date : 2017-04-13T00:00:00.000000000
date : 2017-04-14T00:00:00.000000000
date : 2017-04-15T00:00:00.000000000
date : 2017-04-16T00:00:00.000000000
date : 2017-04-17T00:00:00.000000000
date : 2017-04-18T00:00:00.000000000
date : 2017-04-19T00:00:00.000000000
date : 2017-04-20T00:00:00.000000000
date : 2017-04-21T00:00:00.000000000
date : 2017-04-22T00:00:00.000000000
date : 2017-04-23T00:00:00.000000000
date : 2017-04-24T00:00:00.000000000
date : 2017-04-25T00:00:00.000000000
date : 2017-04-26T00:00:00.000000000
date : 2017-04-27T00:00:00.000000000
date : 2017-04-28T00:00:00.000000000
date : 2017-04-29T00:00:00.000000000
date : 2017-04-30T00:00:00.000000000
date : 2017-05-01T00:00:00.000000000
date : 2017-05-02T00:00:00.000000000
date : 2017-05-03T00:00:00.000000000
date : 2017-05-04T00:00:00.000000000
date : 2017-05-05T00:00:00.000000000
date : 2017-05-06T00:00:00.000000000
date : 2017-05-07T00:00:00.000000000
date : 2017-05-08T00:00:00.000000000
date : 2017-05-09T00:00:00.000000000
date : 2017-05-10T00:00:00.000000000
date : 2017-05-11T00:00:00.000000000
date : 2017-05-12T00:00:00.000000000
date : 2017-05-13T00:00:00.000000000
date : 2017-05-14T00:00:00.000000000
date : 2017-05-15T00:00:00.000000000
date : 2017-05-16T00:00:00.000000000
date : 2017-05-17T00:00:00.000000000
date : 2017-05-18T00:00:00.000000000
date : 2017-05-19T00:00:00.000000000
date : 2017-05-20T00:00:00.000000000
date : 2017-05-21T00:00:00.000000000
date : 2017-05-22T00:00:00.000000000
date : 2017-05-23T00:00:00.000000000
date : 2017-05-24T00:00:00.000000000
date : 2017-05-25T00:00:00.000000000
date : 2017-05-26T00:00:00.000000000
date : 2017-05-27T00:00:00.000000000
date : 2017-05-28T00:00:00.000000000
date : 2017-05-29T00:00:00.000000000
date : 2017-05-30T00:00:00.000000000
date : 2017-05-31T00:00:00.000000000
date : 2017-06-01T00:00:00.000000000
date : 2017-06-02T00:00:00.000000000
date : 2017-06-03T00:00:00.000000000
date : 2017-06-04T00:00:00.000000000
date : 2017-06-05T00:00:00.000000000
date : 2017-06-06T00:00:00.000000000
date : 2017-06-07T00:00:00.000000000
date : 2017-06-08T00:00:00.000000000
date : 2017-06-09T00:00:00.000000000
date : 2017-06-10T00:00:00.000000000
date : 2017-06-11T00:00:00.000000000
date : 2017-06-12T00:00:00.000000000
date : 2017-06-13T00:00:00.000000000
date : 2017-06-14T00:00:00.000000000
date : 2017-06-15T00:00:00.000000000
date : 2017-06-16T00:00:00.000000000
date : 2017-06-17T00:00:00.000000000
date : 2017-06-18T00:00:00.000000000
date : 2017-06-19T00:00:00.000000000
date : 2017-06-20T00:00:00.000000000
date : 2017-06-21T00:00:00.000000000
date : 2017-06-22T00:00:00.000000000
date : 2017-06-23T00:00:00.000000000
date : 2017-06-24T00:00:00.000000000
date : 2017-06-25T00:00:00.000000000
date : 2017-06-26T00:00:00.000000000
date : 2017-06-27T00:00:00.000000000
date : 2017-06-28T00:00:00.000000000
date : 2017-06-29T00:00:00.000000000
date : 2017-06-30T00:00:00.000000000
date : 2017-07-01T00:00:00.000000000
date : 2017-07-02T00:00:00.000000000
date : 2017-07-03T00:00:00.000000000
date : 2017-07-04T00:00:00.000000000
date : 2017-07-05T00:00:00.000000000
date : 2017-07-06T00:00:00.000000000
date : 2017-07-07T00:00:00.000000000
date : 2017-07-08T00:00:00.000000000
date : 2017-07-09T00:00:00.000000000
date : 2017-07-10T00:00:00.000000000
date : 2017-07-11T00:00:00.000000000
date : 2017-07-12T00:00:00.000000000
date : 2017-07-13T00:00:00.000000000
date : 2017-07-14T00:00:00.000000000
date : 2017-07-15T00:00:00.000000000
date : 2017-07-16T00:00:00.000000000
date : 2017-07-17T00:00:00.000000000
date : 2017-07-18T00:00:00.000000000
date : 2017-07-19T00:00:00.000000000
date : 2017-07-20T00:00:00.000000000
date : 2017-07-21T00:00:00.000000000
date : 2017-07-22T00:00:00.000000000
date : 2017-07-23T00:00:00.000000000
date : 2017-07-24T00:00:00.000000000
date : 2017-07-25T00:00:00.000000000
date : 2017-07-26T00:00:00.000000000
date : 2017-07-27T00:00:00.000000000
date : 2017-07-28T00:00:00.000000000
date : 2017-07-29T00:00:00.000000000
date : 2017-07-30T00:00:00.000000000
date : 2017-07-31T00:00:00.000000000
date : 2017-08-01T00:00:00.000000000
date : 2017-08-02T00:00:00.000000000
date : 2017-08-03T00:00:00.000000000
date : 2017-08-04T00:00:00.000000000
date : 2017-08-05T00:00:00.000000000
date : 2017-08-06T00:00:00.000000000
date : 2017-08-07T00:00:00.000000000
date : 2017-08-08T00:00:00.000000000
date : 2017-08-09T00:00:00.000000000
date : 2017-08-10T00:00:00.000000000
date : 2017-08-11T00:00:00.000000000
date : 2017-08-12T00:00:00.000000000
date : 2017-08-13T00:00:00.000000000
date : 2017-08-14T00:00:00.000000000
date : 2017-08-15T00:00:00.000000000
date : 2017-08-16T00:00:00.000000000
date : 2017-08-17T00:00:00.000000000
date : 2017-08-18T00:00:00.000000000
date : 2017-08-19T00:00:00.000000000
date : 2017-08-20T00:00:00.000000000
date : 2017-08-21T00:00:00.000000000
date : 2017-08-22T00:00:00.000000000
date : 2017-08-23T00:00:00.000000000
date : 2017-08-24T00:00:00.000000000
date : 2017-08-25T00:00:00.000000000
date : 2017-08-26T00:00:00.000000000
date : 2017-08-27T00:00:00.000000000
date : 2017-08-28T00:00:00.000000000
date : 2017-08-29T00:00:00.000000000
date : 2017-08-30T00:00:00.000000000
date : 2017-08-31T00:00:00.000000000
date : 2017-09-01T00:00:00.000000000
date : 2017-09-02T00:00:00.000000000
date : 2017-09-03T00:00:00.000000000
date : 2017-09-04T00:00:00.000000000
date : 2017-09-05T00:00:00.000000000
date : 2017-09-06T00:00:00.000000000
date : 2017-09-07T00:00:00.000000000
date : 2017-09-08T00:00:00.000000000
date : 2017-09-09T00:00:00.000000000
date : 2017-09-10T00:00:00.000000000
date : 2017-09-11T00:00:00.000000000
date : 2017-09-12T00:00:00.000000000
date : 2017-09-13T00:00:00.000000000
date : 2017-09-14T00:00:00.000000000
date : 2017-09-15T00:00:00.000000000
date : 2017-09-16T00:00:00.000000000
date : 2017-09-17T00:00:00.000000000
date : 2017-09-18T00:00:00.000000000
date : 2017-09-19T00:00:00.000000000
date : 2017-09-20T00:00:00.000000000
date : 2017-09-21T00:00:00.000000000
date : 2017-09-22T00:00:00.000000000
date : 2017-09-23T00:00:00.000000000
date : 2017-09-24T00:00:00.000000000
date : 2017-09-25T00:00:00.000000000
date : 2017-09-26T00:00:00.000000000
date : 2017-09-27T00:00:00.000000000
date : 2017-09-28T00:00:00.000000000
date : 2017-09-29T00:00:00.000000000
date : 2017-09-30T00:00:00.000000000
date : 2017-10-01T00:00:00.000000000
date : 2017-10-02T00:00:00.000000000
date : 2017-10-03T00:00:00.000000000
date : 2017-10-04T00:00:00.000000000
date : 2017-10-05T00:00:00.000000000
date : 2017-10-06T00:00:00.000000000
date : 2017-10-07T00:00:00.000000000
date : 2017-10-08T00:00:00.000000000
date : 2017-10-09T00:00:00.000000000
date : 2017-10-10T00:00:00.000000000
date : 2017-10-11T00:00:00.000000000
date : 2017-10-12T00:00:00.000000000
date : 2017-10-13T00:00:00.000000000
date : 2017-10-14T00:00:00.000000000
date : 2017-10-15T00:00:00.000000000
date : 2017-10-16T00:00:00.000000000
date : 2017-10-17T00:00:00.000000000
date : 2017-10-18T00:00:00.000000000
date : 2017-10-19T00:00:00.000000000
date : 2017-10-20T00:00:00.000000000
date : 2017-10-21T00:00:00.000000000
date : 2017-10-22T00:00:00.000000000
date : 2017-10-23T00:00:00.000000000
date : 2017-10-24T00:00:00.000000000
date : 2017-10-25T00:00:00.000000000
date : 2017-10-26T00:00:00.000000000
date : 2017-10-27T00:00:00.000000000
date : 2017-10-28T00:00:00.000000000
date : 2017-10-29T00:00:00.000000000
date : 2017-10-30T00:00:00.000000000
date : 2017-10-31T00:00:00.000000000

date : 2017-11-01T00:00:00.000000000
date : 2017-11-02T00:00:00.000000000
date : 2017-11-03T00:00:00.000000000
date : 2017-11-04T00:00:00.000000000
date : 2017-11-05T00:00:00.000000000
date : 2017-11-06T00:00:00.000000000
date : 2017-11-07T00:00:00.000000000
date : 2017-11-08T00:00:00.000000000
date : 2017-11-09T00:00:00.000000000
date : 2017-11-10T00:00:00.000000000
date : 2017-11-11T00:00:00.000000000
date : 2017-11-12T00:00:00.000000000
date : 2017-11-13T00:00:00.000000000
date : 2017-11-14T00:00:00.000000000
date : 2017-11-15T00:00:00.000000000
date : 2017-11-16T00:00:00.000000000
date : 2017-11-17T00:00:00.000000000
date : 2017-11-18T00:00:00.000000000
date : 2017-11-19T00:00:00.000000000
date : 2017-11-20T00:00:00.000000000
date : 2017-11-21T00:00:00.000000000
date : 2017-11-22T00:00:00.000000000
date : 2017-11-23T00:00:00.000000000
date : 2017-11-24T00:00:00.000000000
date : 2017-11-25T00:00:00.000000000
date : 2017-11-26T00:00:00.000000000
date : 2017-11-27T00:00:00.000000000
date : 2017-11-28T00:00:00.000000000
date : 2017-11-29T00:00:00.000000000
date : 2017-11-30T00:00:00.000000000
date : 2017-12-01T00:00:00.000000000
date : 2017-12-02T00:00:00.000000000
date : 2017-12-03T00:00:00.000000000
date : 2017-12-04T00:00:00.000000000
date : 2017-12-05T00:00:00.000000000
date : 2017-12-06T00:00:00.000000000
date : 2017-12-07T00:00:00.000000000
date : 2017-12-08T00:00:00.000000000
date : 2017-12-09T00:00:00.000000000
date : 2017-12-10T00:00:00.000000000
date : 2017-12-11T00:00:00.000000000
date : 2017-12-12T00:00:00.000000000
date : 2017-12-13T00:00:00.000000000
date : 2017-12-14T00:00:00.000000000
date : 2017-12-15T00:00:00.000000000
date : 2017-12-16T00:00:00.000000000
date : 2017-12-17T00:00:00.000000000
date : 2017-12-18T00:00:00.000000000
date : 2017-12-19T00:00:00.000000000
date : 2017-12-20T00:00:00.000000000
date : 2017-12-21T00:00:00.000000000
date : 2017-12-22T00:00:00.000000000
date : 2017-12-23T00:00:00.000000000
date : 2017-12-24T00:00:00.000000000
date : 2017-12-25T00:00:00.000000000
date : 2017-12-26T00:00:00.000000000
date : 2017-12-27T00:00:00.000000000
date : 2017-12-28T00:00:00.000000000
date : 2017-12-29T00:00:00.000000000
date : 2017-12-30T00:00:00.000000000

,date,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,Ground_truth,forecast_2D_arome_ws,forecast_2D_arome_p3031,forecast_2D_arome_u10,forecast_2D_arome_v10,forecast_2D_arome_t2m,forecast_2D_arome_d2m,forecast_2D_arome_r,forecast_2D_arome_tp,forecast_2D_arome_msl
0,2016-01-01,14066001,3.913750,280.333750,278.514583,88.591667,146.500000,0.2,14066001_0_0,0,...,3.4,9.608295,212.925930,4.660750,6.506475,282.986505,279.761738,80.474426,5.795015,100347.302535
1,2016-01-01,14126001,NaN,280.283333,279.552083,95.083333,NaN,0.5,14126001_0_0,0,...,0.5,8.337349,208.335944,3.410915,6.270228,281.776081,279.555447,85.968737,7.135000,100490.931728
2,2016-01-01,14137001,5.444583,280.029583,278.721250,91.733333,144.125000,0.0,14137001_0_0,0,...,3.4,8.932881,216.908106,4.776775,5.994745,282.374895,279.579423,82.723232,6.175511,100395.533900
3,2016-01-01,14216001,4.759583,280.089583,278.888750,92.187500,158.666667,0.6,14216001_0_0,0,...,4.0,8.957683,213.807950,4.469092,6.585549,281.729176,279.165233,83.938322,8.733481,100519.472299
4,2016-01-01,14296001,NaN,279.301667,NaN,NaN,NaN,0.2,14296001_0_0,0,...,13.3,8.232864,222.485432,5.035392,5.635883,280.183457,278.696856,90.324093,25.706864,100488.348086

In [8]:
#ajout des prévisions dans X_test
path = './data_meteonet/test/2D_arome/'
p = 1
#df_X_test['date'] = df_X_test['Id'].apply(lambda x: int(x.split('_')[1]))
df_X_test = df_X_test.sort_values(by=["date", "number_sta"]) #indispensable pour faire traitement_forecast
df_X_test = traitement_forecast.add_prevision(p,df_distance1,df_X_test, path, model, var = var,bool_train = False) 
df_X_test.head()

date : 0
./data_meteonet/test/2D_arome/2D_arome_1.nc
date : 1
./data_meteonet/test/2D_arome/2D_arome_2.nc
date : 2
./data_meteonet/test/2D_arome/2D_arome_3.nc
date : 3
./data_meteonet/test/2D_arome/2D_arome_4.nc
date : 4
./data_meteonet/test/2D_arome/2D_arome_5.nc
date : 5
./data_meteonet/test/2D_arome/2D_arome_6.nc
date : 6
./data_meteonet/test/2D_arome/2D_arome_7.nc
date : 7
./data_meteonet/test/2D_arome/2D_arome_8.nc
date : 8
./data_meteonet/test/2D_arome/2D_arome_9.nc
date : 9
./data_meteonet/test/2D_arome/2D_arome_10.nc
date : 10
./data_meteonet/test/2D_arome/2D_arome_11.nc
date : 11
./data_meteonet/test/2D_arome/2D_arome_12.nc
date : 12
./data_meteonet/test/2D_arome/2D_arome_13.nc
date : 13
./data_meteonet/test/2D_arome/2D_arome_14.nc
date : 14
./data_meteonet/test/2D_arome/2D_arome_15.nc
date : 15
./data_meteonet/test/2D_arome/2D_arome_16.nc
date : 16
./data_meteonet/test/2D_arome/2D_arome_17.nc
date : 17
./data_meteonet/test/2D_arome/2D_arome_18.nc
date : 18
./data_meteonet/test/2D_arome/2D_arome_19.nc
date : 19
./data_meteonet/test/2D_arome/2D_arome_20.nc
date : 20
./data_meteonet/test/2D_arome/2D_arome_21.nc
date : 21
./data_meteonet/test/2D_arome/2D_arome_22.nc
date : 22
./data_meteonet/test/2D_arome/2D_arome_23.nc
date : 23
./data_meteonet/test/2D_arome/2D_arome_24.nc
date : 24
./data_meteonet/test/2D_arome/2D_arome_25.nc
date : 25
./data_meteonet/test/2D_arome/2D_arome_26.nc
date : 26
./data_meteonet/test/2D_arome/2D_arome_27.nc
date : 27
./data_meteonet/test/2D_arome/2D_arome_28.nc
date : 28
./data_meteonet/test/2D_arome/2D_arome_29.nc
date : 29
./data_meteonet/test/2D_arome/2D_arome_30.nc
date : 30
./data_meteonet/test/2D_arome/2D_arome_31.nc
date : 31
./data_meteonet/test/2D_arome/2D_arome_32.nc
date : 32
./data_meteonet/test/2D_arome/2D_arome_33.nc
date : 33
./data_meteonet/test/2D_arome/2D_arome_34.nc
date : 34
./data_meteonet/test/2D_arome/2D_arome_35.nc
date : 35
./data_meteonet/test/2D_arome/2D_arome_36.nc
date : 36
./data_meteonet/test/2D_arome/2D_arome_37.nc
date : 37
./data_meteonet/test/2D_arome/2D_arome_38.nc
date : 38
./data_meteonet/test/2D_arome/2D_arome_39.nc
date : 39
./data_meteonet/test/2D_arome/2D_arome_40.nc
date : 40
./data_meteonet/test/2D_arome/2D_arome_41.nc
date : 41
./data_meteonet/test/2D_arome/2D_arome_42.nc
date : 42
./data_meteonet/test/2D_arome/2D_arome_43.nc
date : 43
./data_meteonet/test/2D_arome/2D_arome_44.nc
date : 44
./data_meteonet/test/2D_arome/2D_arome_45.nc
date : 45
./data_meteonet/test/2D_arome/2D_arome_46.nc
date : 46
./data_meteonet/test/2D_arome/2D_arome_47.nc
date : 47
./data_meteonet/test/2D_arome/2D_arome_48.nc
date : 48
./data_meteonet/test/2D_arome/2D_arome_49.nc
date : 49
./data_meteonet/test/2D_arome/2D_arome_50.nc
date : 50
./data_meteonet/test/2D_arome/2D_arome_51.nc
date : 51
./data_meteonet/test/2D_arome/2D_arome_52.nc
date : 52
./data_meteonet/test/2D_arome/2D_arome_53.nc
date : 53
./data_meteonet/test/2D_arome/2D_arome_54.nc
date : 54
./data_meteonet/test/2D_arome/2D_arome_55.nc
date : 55
./data_meteonet/test/2D_arome/2D_arome_56.nc
date : 56
./data_meteonet/test/2D_arome/2D_arome_57.nc
date : 57
./data_meteonet/test/2D_arome/2D_arome_58.nc
date : 58
./data_meteonet/test/2D_arome/2D_arome_59.nc
date : 59
./data_meteonet/test/2D_arome/2D_arome_60.nc
date : 60
./data_meteonet/test/2D_arome/2D_arome_61.nc
date : 61
./data_meteonet/test/2D_arome/2D_arome_62.nc
date : 62
./data_meteonet/test/2D_arome/2D_arome_63.nc
date : 63
./data_meteonet/test/2D_arome/2D_arome_64.nc
date : 64
./data_meteonet/test/2D_arome/2D_arome_65.nc
date : 65
./data_meteonet/test/2D_arome/2D_arome_66.nc
date : 66
./data_meteonet/test/2D_arome/2D_arome_67.nc
date : 67
./data_meteonet/test/2D_arome/2D_arome_68.nc
date : 68
./data_meteonet/test/2D_arome/2D_arome_69.nc
date : 69
./data_meteonet/test/2D_arome/2D_arome_70.nc
date : 70
./data_meteonet/test/2D_arome/2D_arome_71.nc
date : 71
./data_meteonet/test/2D_arome/2D_arome_72.nc
date : 72
./data_meteonet/test/2D_arome/2D_arome_73.nc
date : 73
./data_meteonet/test/2D_arome/2D_arome_74.nc
date : 74
./data_meteonet/test/2D_arome/2D_arome_75.nc
date : 75
./data_meteonet/test/2D_arome/2D_arome_76.nc
date : 76
./data_meteonet/test/2D_arome/2D_arome_77.nc
date : 77
./data_meteonet/test/2D_arome/2D_arome_78.nc
date : 78
./data_meteonet/test/2D_arome/2D_arome_79.nc
date : 79
./data_meteonet/test/2D_arome/2D_arome_80.nc
date : 80
./data_meteonet/test/2D_arome/2D_arome_81.nc
date : 81
./data_meteonet/test/2D_arome/2D_arome_82.nc
date : 82
./data_meteonet/test/2D_arome/2D_arome_83.nc
date : 83
./data_meteonet/test/2D_arome/2D_arome_84.nc
date : 84
./data_meteonet/test/2D_arome/2D_arome_85.nc
date : 85
./data_meteonet/test/2D_arome/2D_arome_86.nc
date : 86
./data_meteonet/test/2D_arome/2D_arome_87.nc
date : 87
./data_meteonet/test/2D_arome/2D_arome_88.nc
date : 88
./data_meteonet/test/2D_arome/2D_arome_89.nc
date : 89
./data_meteonet/test/2D_arome/2D_arome_90.nc
date : 90
./data_meteonet/test/2D_arome/2D_arome_91.nc
date : 91
./data_meteonet/test/2D_arome/2D_arome_92.nc
date : 92
./data_meteonet/test/2D_arome/2D_arome_93.nc
date : 93
./data_meteonet/test/2D_arome/2D_arome_94.nc
date : 94
./data_meteonet/test/2D_arome/2D_arome_95.nc
date : 95
./data_meteonet/test/2D_arome/2D_arome_96.nc
date : 96
./data_meteonet/test/2D_arome/2D_arome_97.nc
date : 97
./data_meteonet/test/2D_arome/2D_arome_98.nc
date : 98
./data_meteonet/test/2D_arome/2D_arome_99.nc
date : 99
./data_meteonet/test/2D_arome/2D_arome_100.nc
date : 100
./data_meteonet/test/2D_arome/2D_arome_101.nc
date : 101
./data_meteonet/test/2D_arome/2D_arome_102.nc
date : 102
./data_meteonet/test/2D_arome/2D_arome_103.nc
date : 103
./data_meteonet/test/2D_arome/2D_arome_104.nc
date : 104
./data_meteonet/test/2D_arome/2D_arome_105.nc
date : 105
./data_meteonet/test/2D_arome/2D_arome_106.nc
date : 106
./data_meteonet/test/2D_arome/2D_arome_107.nc
date : 107
./data_meteonet/test/2D_arome/2D_arome_108.nc
date : 108
./data_meteonet/test/2D_arome/2D_arome_109.nc
date : 109
./data_meteonet/test/2D_arome/2D_arome_110.nc
date : 110
./data_meteonet/test/2D_arome/2D_arome_111.nc
date : 111
./data_meteonet/test/2D_arome/2D_arome_112.nc
date : 112
./data_meteonet/test/2D_arome/2D_arome_113.nc
date : 113
./data_meteonet/test/2D_arome/2D_arome_114.nc
date : 114
./data_meteonet/test/2D_arome/2D_arome_115.nc
date : 115
./data_meteonet/test/2D_arome/2D_arome_116.nc
date : 116
./data_meteonet/test/2D_arome/2D_arome_117.nc
date : 117
./data_meteonet/test/2D_arome/2D_arome_118.nc
date : 118
./data_meteonet/test/2D_arome/2D_arome_119.nc
date : 119
./data_meteonet/test/2D_arome/2D_arome_120.nc
date : 120
./data_meteonet/test/2D_arome/2D_arome_121.nc
date : 121
./data_meteonet/test/2D_arome/2D_arome_122.nc
date : 122
./data_meteonet/test/2D_arome/2D_arome_123.nc
date : 123
./data_meteonet/test/2D_arome/2D_arome_124.nc
date : 124
./data_meteonet/test/2D_arome/2D_arome_125.nc
date : 125
./data_meteonet/test/2D_arome/2D_arome_126.nc
date : 126
./data_meteonet/test/2D_arome/2D_arome_127.nc
date : 127
./data_meteonet/test/2D_arome/2D_arome_128.nc
date : 128
./data_meteonet/test/2D_arome/2D_arome_129.nc
date : 129
./data_meteonet/test/2D_arome/2D_arome_130.nc
date : 130
./data_meteonet/test/2D_arome/2D_arome_131.nc
date : 131
./data_meteonet/test/2D_arome/2D_arome_132.nc
date : 132
./data_meteonet/test/2D_arome/2D_arome_133.nc
date : 133
./data_meteonet/test/2D_arome/2D_arome_134.nc
date : 134
./data_meteonet/test/2D_arome/2D_arome_135.nc
date : 135
./data_meteonet/test/2D_arome/2D_arome_136.nc
date : 136
./data_meteonet/test/2D_arome/2D_arome_137.nc
date : 137
./data_meteonet/test/2D_arome/2D_arome_138.nc
date : 138
./data_meteonet/test/2D_arome/2D_arome_139.nc
date : 139
./data_meteonet/test/2D_arome/2D_arome_140.nc
date : 140
./data_meteonet/test/2D_arome/2D_arome_141.nc
date : 141
./data_meteonet/test/2D_arome/2D_arome_142.nc
date : 142
./data_meteonet/test/2D_arome/2D_arome_143.nc
date : 143
./data_meteonet/test/2D_arome/2D_arome_144.nc
date : 144
./data_meteonet/test/2D_arome/2D_arome_145.nc
date : 145
./data_meteonet/test/2D_arome/2D_arome_146.nc
date : 146
./data_meteonet/test/2D_arome/2D_arome_147.nc
date : 147
./data_meteonet/test/2D_arome/2D_arome_148.nc

date : 148
./data_meteonet/test/2D_arome/2D_arome_149.nc
date : 149
./data_meteonet/test/2D_arome/2D_arome_150.nc
date : 150
./data_meteonet/test/2D_arome/2D_arome_151.nc
date : 151
./data_meteonet/test/2D_arome/2D_arome_152.nc
date : 152
./data_meteonet/test/2D_arome/2D_arome_153.nc
date : 153
./data_meteonet/test/2D_arome/2D_arome_154.nc
date : 154
./data_meteonet/test/2D_arome/2D_arome_155.nc
date : 155
./data_meteonet/test/2D_arome/2D_arome_156.nc
date : 156
./data_meteonet/test/2D_arome/2D_arome_157.nc
date : 157
./data_meteonet/test/2D_arome/2D_arome_158.nc
date : 158
./data_meteonet/test/2D_arome/2D_arome_159.nc
date : 159
./data_meteonet/test/2D_arome/2D_arome_160.nc
date : 160
./data_meteonet/test/2D_arome/2D_arome_161.nc
date : 161
./data_meteonet/test/2D_arome/2D_arome_162.nc
date : 162
./data_meteonet/test/2D_arome/2D_arome_163.nc
date : 163
./data_meteonet/test/2D_arome/2D_arome_164.nc
date : 164
./data_meteonet/test/2D_arome/2D_arome_165.nc
date : 165
./data_meteonet/test/2D_arome/2D_arome_166.nc
date : 166
./data_meteonet/test/2D_arome/2D_arome_167.nc
date : 167
./data_meteonet/test/2D_arome/2D_arome_168.nc
date : 168
./data_meteonet/test/2D_arome/2D_arome_169.nc
date : 169
./data_meteonet/test/2D_arome/2D_arome_170.nc
date : 170
./data_meteonet/test/2D_arome/2D_arome_171.nc
date : 171
./data_meteonet/test/2D_arome/2D_arome_172.nc
date : 172
./data_meteonet/test/2D_arome/2D_arome_173.nc
date : 173
./data_meteonet/test/2D_arome/2D_arome_174.nc
date : 174
./data_meteonet/test/2D_arome/2D_arome_175.nc
date : 175
./data_meteonet/test/2D_arome/2D_arome_176.nc
date : 176
./data_meteonet/test/2D_arome/2D_arome_177.nc
date : 177
./data_meteonet/test/2D_arome/2D_arome_178.nc
date : 178
./data_meteonet/test/2D_arome/2D_arome_179.nc
date : 179
./data_meteonet/test/2D_arome/2D_arome_180.nc
date : 180
./data_meteonet/test/2D_arome/2D_arome_181.nc
date : 181
./data_meteonet/test/2D_arome/2D_arome_182.nc
date : 182
./data_meteonet/test/2D_arome/2D_arome_183.nc
date : 183
./data_meteonet/test/2D_arome/2D_arome_184.nc
date : 184
./data_meteonet/test/2D_arome/2D_arome_185.nc
date : 185
./data_meteonet/test/2D_arome/2D_arome_186.nc
date : 186
./data_meteonet/test/2D_arome/2D_arome_187.nc
date : 187
./data_meteonet/test/2D_arome/2D_arome_188.nc
date : 188
./data_meteonet/test/2D_arome/2D_arome_189.nc
date : 189
./data_meteonet/test/2D_arome/2D_arome_190.nc
date : 190
./data_meteonet/test/2D_arome/2D_arome_191.nc
date : 191
./data_meteonet/test/2D_arome/2D_arome_192.nc
date : 192
./data_meteonet/test/2D_arome/2D_arome_193.nc
date : 193
./data_meteonet/test/2D_arome/2D_arome_194.nc
date : 194
./data_meteonet/test/2D_arome/2D_arome_195.nc
date : 195
./data_meteonet/test/2D_arome/2D_arome_196.nc
date : 196
./data_meteonet/test/2D_arome/2D_arome_197.nc
date : 197
./data_meteonet/test/2D_arome/2D_arome_198.nc
date : 198
./data_meteonet/test/2D_arome/2D_arome_199.nc
date : 199
./data_meteonet/test/2D_arome/2D_arome_200.nc
date : 200
./data_meteonet/test/2D_arome/2D_arome_201.nc
date : 201
./data_meteonet/test/2D_arome/2D_arome_202.nc
date : 202
./data_meteonet/test/2D_arome/2D_arome_203.nc
date : 203
./data_meteonet/test/2D_arome/2D_arome_204.nc
date : 204
./data_meteonet/test/2D_arome/2D_arome_205.nc
date : 205
./data_meteonet/test/2D_arome/2D_arome_206.nc
date : 206
./data_meteonet/test/2D_arome/2D_arome_207.nc
date : 207
./data_meteonet/test/2D_arome/2D_arome_208.nc
date : 208
./data_meteonet/test/2D_arome/2D_arome_209.nc
date : 209
./data_meteonet/test/2D_arome/2D_arome_210.nc
date : 210
./data_meteonet/test/2D_arome/2D_arome_211.nc
date : 211
./data_meteonet/test/2D_arome/2D_arome_212.nc
date : 212
./data_meteonet/test/2D_arome/2D_arome_213.nc
date : 213
./data_meteonet/test/2D_arome/2D_arome_214.nc
date : 214
./data_meteonet/test/2D_arome/2D_arome_215.nc
date : 215
./data_meteonet/test/2D_arome/2D_arome_216.nc
date : 216
./data_meteonet/test/2D_arome/2D_arome_217.nc
date : 217
./data_meteonet/test/2D_arome/2D_arome_218.nc
date : 218
./data_meteonet/test/2D_arome/2D_arome_219.nc
date : 219
./data_meteonet/test/2D_arome/2D_arome_220.nc
date : 220
./data_meteonet/test/2D_arome/2D_arome_221.nc
date : 221
./data_meteonet/test/2D_arome/2D_arome_222.nc
date : 222
./data_meteonet/test/2D_arome/2D_arome_223.nc
date : 223
./data_meteonet/test/2D_arome/2D_arome_224.nc
date : 224
./data_meteonet/test/2D_arome/2D_arome_225.nc
date : 225
./data_meteonet/test/2D_arome/2D_arome_226.nc
date : 226
./data_meteonet/test/2D_arome/2D_arome_227.nc
date : 227
./data_meteonet/test/2D_arome/2D_arome_228.nc
date : 228
./data_meteonet/test/2D_arome/2D_arome_229.nc
date : 229
./data_meteonet/test/2D_arome/2D_arome_230.nc
date : 230
./data_meteonet/test/2D_arome/2D_arome_231.nc
date : 231
./data_meteonet/test/2D_arome/2D_arome_232.nc
date : 232
./data_meteonet/test/2D_arome/2D_arome_233.nc
date : 233
./data_meteonet/test/2D_arome/2D_arome_234.nc
date : 234
./data_meteonet/test/2D_arome/2D_arome_235.nc
date : 235
./data_meteonet/test/2D_arome/2D_arome_236.nc
date : 236
./data_meteonet/test/2D_arome/2D_arome_237.nc
date : 237
./data_meteonet/test/2D_arome/2D_arome_238.nc
date : 238
./data_meteonet/test/2D_arome/2D_arome_239.nc
date : 239
./data_meteonet/test/2D_arome/2D_arome_240.nc
date : 240
./data_meteonet/test/2D_arome/2D_arome_241.nc
date : 241
./data_meteonet/test/2D_arome/2D_arome_242.nc
date : 242
./data_meteonet/test/2D_arome/2D_arome_243.nc
date : 243
./data_meteonet/test/2D_arome/2D_arome_244.nc
date : 244
./data_meteonet/test/2D_arome/2D_arome_245.nc
date : 245
./data_meteonet/test/2D_arome/2D_arome_246.nc
date : 246
./data_meteonet/test/2D_arome/2D_arome_247.nc
date : 247
./data_meteonet/test/2D_arome/2D_arome_248.nc
date : 248
./data_meteonet/test/2D_arome/2D_arome_249.nc
date : 249
./data_meteonet/test/2D_arome/2D_arome_250.nc
date : 250
./data_meteonet/test/2D_arome/2D_arome_251.nc
date : 251
./data_meteonet/test/2D_arome/2D_arome_252.nc
date : 252
./data_meteonet/test/2D_arome/2D_arome_253.nc
date : 253
./data_meteonet/test/2D_arome/2D_arome_254.nc
date : 254
./data_meteonet/test/2D_arome/2D_arome_255.nc
date : 255
./data_meteonet/test/2D_arome/2D_arome_256.nc
date : 256
./data_meteonet/test/2D_arome/2D_arome_257.nc
date : 257
./data_meteonet/test/2D_arome/2D_arome_258.nc
date : 258
./data_meteonet/test/2D_arome/2D_arome_259.nc
date : 259
./data_meteonet/test/2D_arome/2D_arome_260.nc
date : 260
./data_meteonet/test/2D_arome/2D_arome_261.nc
date : 261
./data_meteonet/test/2D_arome/2D_arome_262.nc
date : 262
./data_meteonet/test/2D_arome/2D_arome_263.nc
date : 263
./data_meteonet/test/2D_arome/2D_arome_264.nc
date : 264
./data_meteonet/test/2D_arome/2D_arome_265.nc
date : 265
./data_meteonet/test/2D_arome/2D_arome_266.nc
date : 266
./data_meteonet/test/2D_arome/2D_arome_267.nc
date : 267
./data_meteonet/test/2D_arome/2D_arome_268.nc
date : 268
./data_meteonet/test/2D_arome/2D_arome_269.nc
date : 269
./data_meteonet/test/2D_arome/2D_arome_270.nc
date : 270
./data_meteonet/test/2D_arome/2D_arome_271.nc
date : 271
./data_meteonet/test/2D_arome/2D_arome_272.nc
date : 272
./data_meteonet/test/2D_arome/2D_arome_273.nc
date : 273
./data_meteonet/test/2D_arome/2D_arome_274.nc
date : 274
./data_meteonet/test/2D_arome/2D_arome_275.nc
date : 275
./data_meteonet/test/2D_arome/2D_arome_276.nc
date : 276
./data_meteonet/test/2D_arome/2D_arome_277.nc
date : 277
./data_meteonet/test/2D_arome/2D_arome_278.nc
date : 278
./data_meteonet/test/2D_arome/2D_arome_279.nc
date : 279
./data_meteonet/test/2D_arome/2D_arome_280.nc
date : 280
./data_meteonet/test/2D_arome/2D_arome_281.nc
date : 281
./data_meteonet/test/2D_arome/2D_arome_282.nc
date : 282
./data_meteonet/test/2D_arome/2D_arome_283.nc
date : 283
./data_meteonet/test/2D_arome/2D_arome_284.nc
date : 284
./data_meteonet/test/2D_arome/2D_arome_285.nc
date : 285
./data_meteonet/test/2D_arome/2D_arome_286.nc
date : 286
./data_meteonet/test/2D_arome/2D_arome_287.nc
date : 287
./data_meteonet/test/2D_arome/2D_arome_288.nc
date : 288
./data_meteonet/test/2D_arome/2D_arome_289.nc
date : 289
./data_meteonet/test/2D_arome/2D_arome_290.nc
date : 290
./data_meteonet/test/2D_arome/2D_arome_291.nc
date : 291
./data_meteonet/test/2D_arome/2D_arome_292.nc

date : 292
./data_meteonet/test/2D_arome/2D_arome_293.nc
date : 293
./data_meteonet/test/2D_arome/2D_arome_294.nc
date : 294
./data_meteonet/test/2D_arome/2D_arome_295.nc
date : 295
./data_meteonet/test/2D_arome/2D_arome_296.nc
date : 296
./data_meteonet/test/2D_arome/2D_arome_297.nc
date : 297
./data_meteonet/test/2D_arome/2D_arome_298.nc
date : 298
./data_meteonet/test/2D_arome/2D_arome_299.nc
date : 299
./data_meteonet/test/2D_arome/2D_arome_300.nc
date : 300
./data_meteonet/test/2D_arome/2D_arome_301.nc
date : 301
./data_meteonet/test/2D_arome/2D_arome_302.nc
date : 302
./data_meteonet/test/2D_arome/2D_arome_303.nc
date : 303
./data_meteonet/test/2D_arome/2D_arome_304.nc
date : 304
./data_meteonet/test/2D_arome/2D_arome_305.nc
date : 305
./data_meteonet/test/2D_arome/2D_arome_306.nc
date : 306
./data_meteonet/test/2D_arome/2D_arome_307.nc
date : 307
./data_meteonet/test/2D_arome/2D_arome_308.nc
date : 308
./data_meteonet/test/2D_arome/2D_arome_309.nc
date : 309
./data_meteonet/test/2D_arome/2D_arome_310.nc
date : 310
./data_meteonet/test/2D_arome/2D_arome_311.nc
date : 311
./data_meteonet/test/2D_arome/2D_arome_312.nc
date : 312
./data_meteonet/test/2D_arome/2D_arome_313.nc
date : 313
./data_meteonet/test/2D_arome/2D_arome_314.nc
date : 314
./data_meteonet/test/2D_arome/2D_arome_315.nc
date : 315
./data_meteonet/test/2D_arome/2D_arome_316.nc
date : 316
./data_meteonet/test/2D_arome/2D_arome_317.nc
date : 317
./data_meteonet/test/2D_arome/2D_arome_318.nc
date : 318
./data_meteonet/test/2D_arome/2D_arome_319.nc
date : 319
./data_meteonet/test/2D_arome/2D_arome_320.nc
date : 320
./data_meteonet/test/2D_arome/2D_arome_321.nc
date : 321
./data_meteonet/test/2D_arome/2D_arome_322.nc
date : 322
./data_meteonet/test/2D_arome/2D_arome_323.nc
date : 323
./data_meteonet/test/2D_arome/2D_arome_324.nc
date : 324
./data_meteonet/test/2D_arome/2D_arome_325.nc
date : 325
./data_meteonet/test/2D_arome/2D_arome_326.nc
date : 326
./data_meteonet/test/2D_arome/2D_arome_327.nc
date : 327
./data_meteonet/test/2D_arome/2D_arome_328.nc
date : 328
./data_meteonet/test/2D_arome/2D_arome_329.nc
date : 329
./data_meteonet/test/2D_arome/2D_arome_330.nc
date : 330
./data_meteonet/test/2D_arome/2D_arome_331.nc
date : 331
./data_meteonet/test/2D_arome/2D_arome_332.nc
date : 332
./data_meteonet/test/2D_arome/2D_arome_333.nc
date : 333
./data_meteonet/test/2D_arome/2D_arome_334.nc
date : 334
./data_meteonet/test/2D_arome/2D_arome_335.nc
date : 335
./data_meteonet/test/2D_arome/2D_arome_336.nc
date : 336
./data_meteonet/test/2D_arome/2D_arome_337.nc
date : 337
./data_meteonet/test/2D_arome/2D_arome_338.nc
date : 338
./data_meteonet/test/2D_arome/2D_arome_339.nc
date : 339
./data_meteonet/test/2D_arome/2D_arome_340.nc
date : 340
./data_meteonet/test/2D_arome/2D_arome_341.nc
date : 341
./data_meteonet/test/2D_arome/2D_arome_342.nc
date : 342
./data_meteonet/test/2D_arome/2D_arome_343.nc
date : 343
./data_meteonet/test/2D_arome/2D_arome_344.nc
date : 344
./data_meteonet/test/2D_arome/2D_arome_345.nc
date : 345
./data_meteonet/test/2D_arome/2D_arome_346.nc
date : 346
./data_meteonet/test/2D_arome/2D_arome_347.nc
date : 347
./data_meteonet/test/2D_arome/2D_arome_348.nc
date : 348
./data_meteonet/test/2D_arome/2D_arome_349.nc
date : 349
./data_meteonet/test/2D_arome/2D_arome_350.nc
date : 350
./data_meteonet/test/2D_arome/2D_arome_351.nc
date : 351
./data_meteonet/test/2D_arome/2D_arome_352.nc
date : 352
./data_meteonet/test/2D_arome/2D_arome_353.nc
date : 353
./data_meteonet/test/2D_arome/2D_arome_354.nc
date : 354
./data_meteonet/test/2D_arome/2D_arome_355.nc
date : 355
./data_meteonet/test/2D_arome/2D_arome_356.nc
date : 356
./data_meteonet/test/2D_arome/2D_arome_357.nc
date : 357
./data_meteonet/test/2D_arome/2D_arome_358.nc
date : 358
./data_meteonet/test/2D_arome/2D_arome_359.nc
date : 359
./data_meteonet/test/2D_arome/2D_arome_360.nc
date : 360
./data_meteonet/test/2D_arome/2D_arome_361.nc
date : 361
./data_meteonet/test/2D_arome/2D_arome_362.nc
date : 362
./data_meteonet/test/2D_arome/2D_arome_363.nc

,day,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,date,forecast_2D_arome_ws,forecast_2D_arome_p3031,forecast_2D_arome_u10,forecast_2D_arome_v10,forecast_2D_arome_t2m,forecast_2D_arome_d2m,forecast_2D_arome_r,forecast_2D_arome_tp,forecast_2D_arome_msl
0,0,14066001,3.370000,279.474583,277.683750,89.125000,206.750000,0.2,14066001_0,1,...,0,4.772604,287.379452,3.583057,-1.795566,291.132735,288.028601,82.545876,0.000000,101703.152476
1,0,14126001,NaN,279.164583,278.152083,93.520833,NaN,0.5,14126001_0,1,...,0,2.706289,267.679862,1.614270,-1.398665,290.287671,287.108753,82.625441,0.097439,101708.597627
2,0,14137001,3.388333,279.266667,277.653750,89.908333,197.708333,0.2,14137001_0,1,...,0,3.454726,294.411684,2.410070,-1.587477,291.455700,287.114786,76.896642,0.014582,101709.303434
3,0,14216001,2.695000,279.235417,277.063750,86.620833,213.583333,0.0,14216001_0,1,...,0,3.237514,294.943812,2.095295,-1.556012,291.326185,286.437626,74.723927,0.210788,101711.273218
4,0,14296001,NaN,277.874167,NaN,NaN,NaN,0.0,14296001_0,1,...,0,2.799716,294.769656,2.238178,-1.296203,290.326455,286.720757,81.021201,0.010956,101772.700711

### Modèle arpege

In [9]:
# calcul des distances
K = 3
model = '2D_arpege'
path = './data_meteonet/train/X_forecast/2D_arpege_train/'
df_distance2 = traitement_forecast.calcul_distance(coords, path, model, K)

In [10]:
#ajout des prévisions dans df_train
p = 1
df_train = df_train.sort_values(by=["date", "number_sta"]) #indispensable pour faire traitement_forecast
df_train = traitement_forecast.add_prevision(p,df_distance2, df_train, path, model,var)
df_train.tail()

date : 2016-01-01T00:00:00.000000000
date : 2016-01-02T00:00:00.000000000
date : 2016-01-03T00:00:00.000000000
date : 2016-01-04T00:00:00.000000000
date : 2016-01-05T00:00:00.000000000
date : 2016-01-06T00:00:00.000000000
date : 2016-01-07T00:00:00.000000000
date : 2016-01-08T00:00:00.000000000
date : 2016-01-09T00:00:00.000000000
date : 2016-01-10T00:00:00.000000000
date : 2016-01-11T00:00:00.000000000
date : 2016-01-12T00:00:00.000000000
date : 2016-01-13T00:00:00.000000000
date : 2016-01-14T00:00:00.000000000
date : 2016-01-15T00:00:00.000000000
date : 2016-01-16T00:00:00.000000000
date : 2016-01-17T00:00:00.000000000
date : 2016-01-18T00:00:00.000000000
date : 2016-01-19T00:00:00.000000000
date : 2016-01-20T00:00:00.000000000
date : 2016-01-21T00:00:00.000000000
date : 2016-01-22T00:00:00.000000000
date : 2016-01-23T00:00:00.000000000
date : 2016-01-24T00:00:00.000000000
date : 2016-01-25T00:00:00.000000000
date : 2016-01-26T00:00:00.000000000
date : 2016-01-27T00:00:00.000000000
date : 2016-01-28T00:00:00.000000000
date : 2016-01-29T00:00:00.000000000
date : 2016-01-30T00:00:00.000000000
date : 2016-01-31T00:00:00.000000000
date : 2016-02-01T00:00:00.000000000
date : 2016-02-02T00:00:00.000000000
date : 2016-02-03T00:00:00.000000000
date : 2016-02-04T00:00:00.000000000
date : 2016-02-05T00:00:00.000000000
date : 2016-02-06T00:00:00.000000000
date : 2016-02-07T00:00:00.000000000
date : 2016-02-08T00:00:00.000000000
date : 2016-02-09T00:00:00.000000000
date : 2016-02-10T00:00:00.000000000
date : 2016-02-11T00:00:00.000000000
date : 2016-02-12T00:00:00.000000000
date : 2016-02-13T00:00:00.000000000
date : 2016-02-14T00:00:00.000000000
date : 2016-02-15T00:00:00.000000000
date : 2016-02-16T00:00:00.000000000
date : 2016-02-17T00:00:00.000000000
date : 2016-02-18T00:00:00.000000000
date : 2016-02-19T00:00:00.000000000
date : 2016-02-20T00:00:00.000000000
date : 2016-02-21T00:00:00.000000000
date : 2016-02-22T00:00:00.000000000
date : 2016-02-23T00:00:00.000000000
date : 2016-02-24T00:00:00.000000000
date : 2016-02-25T00:00:00.000000000
date : 2016-02-26T00:00:00.000000000
date : 2016-02-27T00:00:00.000000000
date : 2016-02-28T00:00:00.000000000
date : 2016-02-29T00:00:00.000000000
date : 2016-03-01T00:00:00.000000000
date : 2016-03-02T00:00:00.000000000
date : 2016-03-03T00:00:00.000000000
date : 2016-03-04T00:00:00.000000000
date : 2016-03-05T00:00:00.000000000
date : 2016-03-06T00:00:00.000000000
date : 2016-03-07T00:00:00.000000000
date : 2016-03-08T00:00:00.000000000
date : 2016-03-09T00:00:00.000000000
date : 2016-03-10T00:00:00.000000000
date : 2016-03-11T00:00:00.000000000
date : 2016-03-12T00:00:00.000000000
date : 2016-03-13T00:00:00.000000000
date : 2016-03-14T00:00:00.000000000
date : 2016-03-15T00:00:00.000000000
date : 2016-03-16T00:00:00.000000000
date : 2016-03-17T00:00:00.000000000
date : 2016-03-18T00:00:00.000000000
date : 2016-03-19T00:00:00.000000000
date : 2016-03-20T00:00:00.000000000
date : 2016-03-21T00:00:00.000000000
date : 2016-03-22T00:00:00.000000000
date : 2016-03-23T00:00:00.000000000
date : 2016-03-24T00:00:00.000000000
date : 2016-03-25T00:00:00.000000000
date : 2016-03-26T00:00:00.000000000
date : 2016-03-27T00:00:00.000000000
date : 2016-03-28T00:00:00.000000000
date : 2016-03-29T00:00:00.000000000
date : 2016-03-30T00:00:00.000000000
date : 2016-03-31T00:00:00.000000000
date : 2016-04-01T00:00:00.000000000
date : 2016-04-02T00:00:00.000000000
date : 2016-04-03T00:00:00.000000000
date : 2016-04-04T00:00:00.000000000
date : 2016-04-05T00:00:00.000000000
date : 2016-04-06T00:00:00.000000000
date : 2016-04-07T00:00:00.000000000
date : 2016-04-08T00:00:00.000000000
date : 2016-04-09T00:00:00.000000000
date : 2016-04-10T00:00:00.000000000
date : 2016-04-11T00:00:00.000000000
date : 2016-04-12T00:00:00.000000000
date : 2016-04-13T00:00:00.000000000
date : 2016-04-14T00:00:00.000000000
date : 2016-04-15T00:00:00.000000000
date : 2016-04-16T00:00:00.000000000
date : 2016-04-17T00:00:00.000000000
date : 2016-04-18T00:00:00.000000000
date : 2016-04-19T00:00:00.000000000
date : 2016-04-20T00:00:00.000000000
date : 2016-04-21T00:00:00.000000000
date : 2016-04-22T00:00:00.000000000
date : 2016-04-23T00:00:00.000000000
date : 2016-04-24T00:00:00.000000000
date : 2016-04-25T00:00:00.000000000
date : 2016-04-26T00:00:00.000000000
date : 2016-04-27T00:00:00.000000000
date : 2016-04-28T00:00:00.000000000
date : 2016-04-29T00:00:00.000000000
date : 2016-04-30T00:00:00.000000000
date : 2016-05-01T00:00:00.000000000
date : 2016-05-02T00:00:00.000000000
date : 2016-05-03T00:00:00.000000000
date : 2016-05-04T00:00:00.000000000
date : 2016-05-05T00:00:00.000000000
date : 2016-05-06T00:00:00.000000000
date : 2016-05-07T00:00:00.000000000
date : 2016-05-08T00:00:00.000000000
date : 2016-05-09T00:00:00.000000000
date : 2016-05-10T00:00:00.000000000
date : 2016-05-11T00:00:00.000000000
date : 2016-05-12T00:00:00.000000000
date : 2016-05-13T00:00:00.000000000
date : 2016-05-14T00:00:00.000000000
date : 2016-05-15T00:00:00.000000000
date : 2016-05-16T00:00:00.000000000
date : 2016-05-17T00:00:00.000000000
date : 2016-05-18T00:00:00.000000000
date : 2016-05-19T00:00:00.000000000
date : 2016-05-20T00:00:00.000000000
date : 2016-05-21T00:00:00.000000000
date : 2016-05-22T00:00:00.000000000
date : 2016-05-23T00:00:00.000000000
date : 2016-05-24T00:00:00.000000000
date : 2016-05-25T00:00:00.000000000
date : 2016-05-26T00:00:00.000000000
date : 2016-05-27T00:00:00.000000000
date : 2016-05-28T00:00:00.000000000
date : 2016-05-29T00:00:00.000000000
date : 2016-05-30T00:00:00.000000000
date : 2016-05-31T00:00:00.000000000
date : 2016-06-01T00:00:00.000000000
date : 2016-06-02T00:00:00.000000000
date : 2016-06-03T00:00:00.000000000
date : 2016-06-04T00:00:00.000000000
date : 2016-06-05T00:00:00.000000000
date : 2016-06-06T00:00:00.000000000
date : 2016-06-07T00:00:00.000000000
date : 2016-06-08T00:00:00.000000000
date : 2016-06-09T00:00:00.000000000
date : 2016-06-10T00:00:00.000000000
date : 2016-06-11T00:00:00.000000000
date : 2016-06-12T00:00:00.000000000
date : 2016-06-13T00:00:00.000000000
date : 2016-06-14T00:00:00.000000000
date : 2016-06-15T00:00:00.000000000
date : 2016-06-16T00:00:00.000000000
date : 2016-06-17T00:00:00.000000000
date : 2016-06-18T00:00:00.000000000
date : 2016-06-19T00:00:00.000000000
date : 2016-06-20T00:00:00.000000000
date : 2016-06-21T00:00:00.000000000
date : 2016-06-22T00:00:00.000000000
date : 2016-06-23T00:00:00.000000000
date : 2016-06-24T00:00:00.000000000
date : 2016-06-25T00:00:00.000000000
date : 2016-06-26T00:00:00.000000000
date : 2016-06-27T00:00:00.000000000
date : 2016-06-28T00:00:00.000000000
date : 2016-06-29T00:00:00.000000000
date : 2016-06-30T00:00:00.000000000
date : 2016-07-01T00:00:00.000000000
date : 2016-07-02T00:00:00.000000000
date : 2016-07-03T00:00:00.000000000
date : 2016-07-04T00:00:00.000000000
date : 2016-07-05T00:00:00.000000000
date : 2016-07-06T00:00:00.000000000
date : 2016-07-07T00:00:00.000000000
date : 2016-07-08T00:00:00.000000000
date : 2016-07-09T00:00:00.000000000
date : 2016-07-10T00:00:00.000000000
date : 2016-07-11T00:00:00.000000000
date : 2016-07-12T00:00:00.000000000
date : 2016-07-13T00:00:00.000000000
date : 2016-07-14T00:00:00.000000000
date : 2016-07-15T00:00:00.000000000
date : 2016-07-16T00:00:00.000000000
date : 2016-07-17T00:00:00.000000000
date : 2016-07-18T00:00:00.000000000
date : 2016-07-19T00:00:00.000000000
date : 2016-07-20T00:00:00.000000000
date : 2016-07-21T00:00:00.000000000
date : 2016-07-22T00:00:00.000000000
date : 2016-07-23T00:00:00.000000000
date : 2016-07-24T00:00:00.000000000
date : 2016-07-25T00:00:00.000000000
date : 2016-07-26T00:00:00.000000000
date : 2016-07-27T00:00:00.000000000
date : 2016-07-28T00:00:00.000000000
date : 2016-07-29T00:00:00.000000000
date : 2016-07-30T00:00:00.000000000
date : 2016-07-31T00:00:00.000000000
date : 2016-08-01T00:00:00.000000000
date : 2016-08-02T00:00:00.000000000
date : 2016-08-03T00:00:00.000000000
date : 2016-08-04T00:00:00.000000000
date : 2016-08-05T00:00:00.000000000
date : 2016-08-06T00:00:00.000000000
date : 2016-08-07T00:00:00.000000000
date : 2016-08-08T00:00:00.000000000
date : 2016-08-09T00:00:00.000000000

date : 2016-08-10T00:00:00.000000000
date : 2016-08-11T00:00:00.000000000
date : 2016-08-12T00:00:00.000000000
date : 2016-08-13T00:00:00.000000000
date : 2016-08-14T00:00:00.000000000
date : 2016-08-15T00:00:00.000000000
date : 2016-08-16T00:00:00.000000000
date : 2016-08-17T00:00:00.000000000
date : 2016-08-18T00:00:00.000000000
date : 2016-08-19T00:00:00.000000000
date : 2016-08-20T00:00:00.000000000
date : 2016-08-21T00:00:00.000000000
date : 2016-08-22T00:00:00.000000000
date : 2016-08-23T00:00:00.000000000
date : 2016-08-24T00:00:00.000000000
date : 2016-08-25T00:00:00.000000000
date : 2016-08-26T00:00:00.000000000
date : 2016-08-27T00:00:00.000000000
date : 2016-08-28T00:00:00.000000000
date : 2016-08-29T00:00:00.000000000
date : 2016-08-30T00:00:00.000000000
date : 2016-08-31T00:00:00.000000000
date : 2016-09-01T00:00:00.000000000
date : 2016-09-02T00:00:00.000000000
date : 2016-09-03T00:00:00.000000000
date : 2016-09-04T00:00:00.000000000
date : 2016-09-05T00:00:00.000000000
date : 2016-09-06T00:00:00.000000000
date : 2016-09-07T00:00:00.000000000
date : 2016-09-08T00:00:00.000000000
date : 2016-09-09T00:00:00.000000000
date : 2016-09-10T00:00:00.000000000
date : 2016-09-11T00:00:00.000000000
date : 2016-09-12T00:00:00.000000000
date : 2016-09-13T00:00:00.000000000
date : 2016-09-14T00:00:00.000000000
date : 2016-09-15T00:00:00.000000000
date : 2016-09-16T00:00:00.000000000
date : 2016-09-17T00:00:00.000000000
date : 2016-09-18T00:00:00.000000000
date : 2016-09-19T00:00:00.000000000
date : 2016-09-20T00:00:00.000000000
date : 2016-09-21T00:00:00.000000000
date : 2016-09-22T00:00:00.000000000
date : 2016-09-23T00:00:00.000000000
date : 2016-09-24T00:00:00.000000000
date : 2016-09-25T00:00:00.000000000
date : 2016-09-26T00:00:00.000000000
date : 2016-09-27T00:00:00.000000000
date : 2016-09-28T00:00:00.000000000
date : 2016-09-29T00:00:00.000000000
date : 2016-09-30T00:00:00.000000000
date : 2016-10-01T00:00:00.000000000
date : 2016-10-02T00:00:00.000000000
date : 2016-10-03T00:00:00.000000000
date : 2016-10-04T00:00:00.000000000
date : 2016-10-05T00:00:00.000000000
date : 2016-10-06T00:00:00.000000000
date : 2016-10-07T00:00:00.000000000
date : 2016-10-08T00:00:00.000000000
date : 2016-10-09T00:00:00.000000000
date : 2016-10-10T00:00:00.000000000
date : 2016-10-11T00:00:00.000000000
date : 2016-10-12T00:00:00.000000000
date : 2016-10-13T00:00:00.000000000
date : 2016-10-14T00:00:00.000000000
date : 2016-10-15T00:00:00.000000000
date : 2016-10-16T00:00:00.000000000
date : 2016-10-17T00:00:00.000000000
date : 2016-10-18T00:00:00.000000000
date : 2016-10-19T00:00:00.000000000
date : 2016-10-20T00:00:00.000000000
date : 2016-10-21T00:00:00.000000000
date : 2016-10-22T00:00:00.000000000
date : 2016-10-23T00:00:00.000000000
date : 2016-10-24T00:00:00.000000000
date : 2016-10-25T00:00:00.000000000
date : 2016-10-26T00:00:00.000000000
date : 2016-10-27T00:00:00.000000000
date : 2016-10-28T00:00:00.000000000
date : 2016-10-29T00:00:00.000000000
date : 2016-10-30T00:00:00.000000000
date : 2016-10-31T00:00:00.000000000
date : 2016-11-01T00:00:00.000000000
date : 2016-11-02T00:00:00.000000000
date : 2016-11-03T00:00:00.000000000
date : 2016-11-04T00:00:00.000000000
date : 2016-11-05T00:00:00.000000000
date : 2016-11-06T00:00:00.000000000
date : 2016-11-07T00:00:00.000000000
date : 2016-11-08T00:00:00.000000000
date : 2016-11-09T00:00:00.000000000
date : 2016-11-10T00:00:00.000000000
date : 2016-11-11T00:00:00.000000000
date : 2016-11-12T00:00:00.000000000
date : 2016-11-13T00:00:00.000000000
date : 2016-11-14T00:00:00.000000000
date : 2016-11-15T00:00:00.000000000
date : 2016-11-16T00:00:00.000000000
date : 2016-11-17T00:00:00.000000000
date : 2016-11-18T00:00:00.000000000
date : 2016-11-19T00:00:00.000000000
date : 2016-11-20T00:00:00.000000000
date : 2016-11-21T00:00:00.000000000
date : 2016-11-22T00:00:00.000000000
date : 2016-11-23T00:00:00.000000000
date : 2016-11-24T00:00:00.000000000
date : 2016-11-25T00:00:00.000000000
date : 2016-11-26T00:00:00.000000000
date : 2016-11-27T00:00:00.000000000
date : 2016-11-28T00:00:00.000000000
date : 2016-11-29T00:00:00.000000000
date : 2016-11-30T00:00:00.000000000
date : 2016-12-01T00:00:00.000000000
date : 2016-12-02T00:00:00.000000000
date : 2016-12-03T00:00:00.000000000
date : 2016-12-04T00:00:00.000000000
date : 2016-12-05T00:00:00.000000000
date : 2016-12-06T00:00:00.000000000
date : 2016-12-07T00:00:00.000000000
date : 2016-12-08T00:00:00.000000000
date : 2016-12-09T00:00:00.000000000
date : 2016-12-10T00:00:00.000000000
date : 2016-12-11T00:00:00.000000000
date : 2016-12-12T00:00:00.000000000
date : 2016-12-13T00:00:00.000000000
date : 2016-12-14T00:00:00.000000000
date : 2016-12-15T00:00:00.000000000
date : 2016-12-16T00:00:00.000000000
date : 2016-12-17T00:00:00.000000000
date : 2016-12-18T00:00:00.000000000
date : 2016-12-19T00:00:00.000000000
date : 2016-12-20T00:00:00.000000000
date : 2016-12-21T00:00:00.000000000
date : 2016-12-22T00:00:00.000000000
date : 2016-12-23T00:00:00.000000000
date : 2016-12-24T00:00:00.000000000
date : 2016-12-25T00:00:00.000000000
date : 2016-12-26T00:00:00.000000000
date : 2016-12-27T00:00:00.000000000
date : 2016-12-28T00:00:00.000000000
date : 2016-12-29T00:00:00.000000000
date : 2016-12-30T00:00:00.000000000
date : 2016-12-31T00:00:00.000000000
date : 2017-01-01T00:00:00.000000000
date : 2017-01-02T00:00:00.000000000
date : 2017-01-03T00:00:00.000000000
date : 2017-01-04T00:00:00.000000000
date : 2017-01-05T00:00:00.000000000
date : 2017-01-06T00:00:00.000000000
date : 2017-01-07T00:00:00.000000000
date : 2017-01-08T00:00:00.000000000
date : 2017-01-09T00:00:00.000000000
date : 2017-01-10T00:00:00.000000000
date : 2017-01-11T00:00:00.000000000
date : 2017-01-12T00:00:00.000000000
date : 2017-01-13T00:00:00.000000000
date : 2017-01-14T00:00:00.000000000
date : 2017-01-15T00:00:00.000000000
date : 2017-01-16T00:00:00.000000000
date : 2017-01-17T00:00:00.000000000
date : 2017-01-18T00:00:00.000000000
date : 2017-01-19T00:00:00.000000000
date : 2017-01-20T00:00:00.000000000
date : 2017-01-21T00:00:00.000000000
date : 2017-01-22T00:00:00.000000000
date : 2017-01-23T00:00:00.000000000
date : 2017-01-24T00:00:00.000000000
date : 2017-01-25T00:00:00.000000000
date : 2017-01-26T00:00:00.000000000
date : 2017-01-27T00:00:00.000000000
date : 2017-01-28T00:00:00.000000000
date : 2017-01-29T00:00:00.000000000
date : 2017-01-30T00:00:00.000000000
date : 2017-01-31T00:00:00.000000000
date : 2017-02-01T00:00:00.000000000
date : 2017-02-02T00:00:00.000000000
date : 2017-02-03T00:00:00.000000000
date : 2017-02-04T00:00:00.000000000
date : 2017-02-05T00:00:00.000000000
date : 2017-02-06T00:00:00.000000000
date : 2017-02-07T00:00:00.000000000
date : 2017-02-08T00:00:00.000000000
date : 2017-02-09T00:00:00.000000000
date : 2017-02-10T00:00:00.000000000
date : 2017-02-11T00:00:00.000000000
date : 2017-02-12T00:00:00.000000000
date : 2017-02-13T00:00:00.000000000
date : 2017-02-14T00:00:00.000000000
date : 2017-02-15T00:00:00.000000000
date : 2017-02-16T00:00:00.000000000
date : 2017-02-17T00:00:00.000000000
date : 2017-02-18T00:00:00.000000000
date : 2017-02-19T00:00:00.000000000
date : 2017-02-20T00:00:00.000000000
date : 2017-02-21T00:00:00.000000000
date : 2017-02-22T00:00:00.000000000
date : 2017-02-23T00:00:00.000000000
date : 2017-02-24T00:00:00.000000000
date : 2017-02-25T00:00:00.000000000
date : 2017-02-26T00:00:00.000000000
date : 2017-02-27T00:00:00.000000000
date : 2017-02-28T00:00:00.000000000
date : 2017-03-01T00:00:00.000000000
date : 2017-03-02T00:00:00.000000000
date : 2017-03-03T00:00:00.000000000
date : 2017-03-04T00:00:00.000000000
date : 2017-03-05T00:00:00.000000000
date : 2017-03-06T00:00:00.000000000
date : 2017-03-07T00:00:00.000000000
date : 2017-03-08T00:00:00.000000000
date : 2017-03-09T00:00:00.000000000
date : 2017-03-10T00:00:00.000000000
date : 2017-03-11T00:00:00.000000000
date : 2017-03-12T00:00:00.000000000
date : 2017-03-13T00:00:00.000000000
date : 2017-03-14T00:00:00.000000000
date : 2017-03-15T00:00:00.000000000
date : 2017-03-16T00:00:00.000000000
date : 2017-03-17T00:00:00.000000000
date : 2017-03-18T00:00:00.000000000
date : 2017-03-19T00:00:00.000000000

date : 2017-03-20T00:00:00.000000000
date : 2017-03-21T00:00:00.000000000
date : 2017-03-22T00:00:00.000000000
date : 2017-03-23T00:00:00.000000000
date : 2017-03-24T00:00:00.000000000
date : 2017-03-25T00:00:00.000000000
date : 2017-03-26T00:00:00.000000000
date : 2017-03-27T00:00:00.000000000
date : 2017-03-28T00:00:00.000000000
date : 2017-03-29T00:00:00.000000000
date : 2017-03-30T00:00:00.000000000
date : 2017-03-31T00:00:00.000000000
date : 2017-04-01T00:00:00.000000000
date : 2017-04-02T00:00:00.000000000
date : 2017-04-03T00:00:00.000000000
date : 2017-04-04T00:00:00.000000000
date : 2017-04-05T00:00:00.000000000
date : 2017-04-06T00:00:00.000000000
date : 2017-04-07T00:00:00.000000000
date : 2017-04-08T00:00:00.000000000
date : 2017-04-09T00:00:00.000000000
date : 2017-04-10T00:00:00.000000000
date : 2017-04-11T00:00:00.000000000
date : 2017-04-12T00:00:00.000000000
date : 2017-04-13T00:00:00.000000000
date : 2017-04-14T00:00:00.000000000
date : 2017-04-15T00:00:00.000000000
date : 2017-04-16T00:00:00.000000000
date : 2017-04-17T00:00:00.000000000
date : 2017-04-18T00:00:00.000000000
date : 2017-04-19T00:00:00.000000000
date : 2017-04-20T00:00:00.000000000
date : 2017-04-21T00:00:00.000000000
date : 2017-04-22T00:00:00.000000000
date : 2017-04-23T00:00:00.000000000
date : 2017-04-24T00:00:00.000000000
date : 2017-04-25T00:00:00.000000000
date : 2017-04-26T00:00:00.000000000
date : 2017-04-27T00:00:00.000000000
date : 2017-04-28T00:00:00.000000000
date : 2017-04-29T00:00:00.000000000
date : 2017-04-30T00:00:00.000000000
date : 2017-05-01T00:00:00.000000000
date : 2017-05-02T00:00:00.000000000
date : 2017-05-03T00:00:00.000000000
date : 2017-05-04T00:00:00.000000000
date : 2017-05-05T00:00:00.000000000
date : 2017-05-06T00:00:00.000000000
date : 2017-05-07T00:00:00.000000000
date : 2017-05-08T00:00:00.000000000
date : 2017-05-09T00:00:00.000000000
date : 2017-05-10T00:00:00.000000000
date : 2017-05-11T00:00:00.000000000
date : 2017-05-12T00:00:00.000000000
date : 2017-05-13T00:00:00.000000000
date : 2017-05-14T00:00:00.000000000
date : 2017-05-15T00:00:00.000000000
date : 2017-05-16T00:00:00.000000000
date : 2017-05-17T00:00:00.000000000
date : 2017-05-18T00:00:00.000000000
date : 2017-05-19T00:00:00.000000000
date : 2017-05-20T00:00:00.000000000
date : 2017-05-21T00:00:00.000000000
date : 2017-05-22T00:00:00.000000000
date : 2017-05-23T00:00:00.000000000
date : 2017-05-24T00:00:00.000000000
date : 2017-05-25T00:00:00.000000000
date : 2017-05-26T00:00:00.000000000
date : 2017-05-27T00:00:00.000000000
date : 2017-05-28T00:00:00.000000000
date : 2017-05-29T00:00:00.000000000
date : 2017-05-30T00:00:00.000000000
date : 2017-05-31T00:00:00.000000000
date : 2017-06-01T00:00:00.000000000
date : 2017-06-02T00:00:00.000000000
date : 2017-06-03T00:00:00.000000000
date : 2017-06-04T00:00:00.000000000
date : 2017-06-05T00:00:00.000000000
date : 2017-06-06T00:00:00.000000000
date : 2017-06-07T00:00:00.000000000
date : 2017-06-08T00:00:00.000000000
date : 2017-06-09T00:00:00.000000000
date : 2017-06-10T00:00:00.000000000
date : 2017-06-11T00:00:00.000000000
date : 2017-06-12T00:00:00.000000000
date : 2017-06-13T00:00:00.000000000
date : 2017-06-14T00:00:00.000000000
date : 2017-06-15T00:00:00.000000000
date : 2017-06-16T00:00:00.000000000
date : 2017-06-17T00:00:00.000000000
date : 2017-06-18T00:00:00.000000000
date : 2017-06-19T00:00:00.000000000
date : 2017-06-20T00:00:00.000000000
date : 2017-06-21T00:00:00.000000000
date : 2017-06-22T00:00:00.000000000
date : 2017-06-23T00:00:00.000000000
date : 2017-06-24T00:00:00.000000000
date : 2017-06-25T00:00:00.000000000
date : 2017-06-26T00:00:00.000000000
date : 2017-06-27T00:00:00.000000000
date : 2017-06-28T00:00:00.000000000
date : 2017-06-29T00:00:00.000000000
date : 2017-06-30T00:00:00.000000000
date : 2017-07-01T00:00:00.000000000
date : 2017-07-02T00:00:00.000000000
date : 2017-07-03T00:00:00.000000000
date : 2017-07-04T00:00:00.000000000
date : 2017-07-05T00:00:00.000000000
date : 2017-07-06T00:00:00.000000000
date : 2017-07-07T00:00:00.000000000
date : 2017-07-08T00:00:00.000000000
date : 2017-07-09T00:00:00.000000000
date : 2017-07-10T00:00:00.000000000
date : 2017-07-11T00:00:00.000000000
date : 2017-07-12T00:00:00.000000000
date : 2017-07-13T00:00:00.000000000
date : 2017-07-14T00:00:00.000000000
date : 2017-07-15T00:00:00.000000000
date : 2017-07-16T00:00:00.000000000
date : 2017-07-17T00:00:00.000000000
date : 2017-07-18T00:00:00.000000000
date : 2017-07-19T00:00:00.000000000
date : 2017-07-20T00:00:00.000000000
date : 2017-07-21T00:00:00.000000000
date : 2017-07-22T00:00:00.000000000
date : 2017-07-23T00:00:00.000000000
date : 2017-07-24T00:00:00.000000000
date : 2017-07-25T00:00:00.000000000
date : 2017-07-26T00:00:00.000000000
date : 2017-07-27T00:00:00.000000000
date : 2017-07-28T00:00:00.000000000
date : 2017-07-29T00:00:00.000000000
date : 2017-07-30T00:00:00.000000000
date : 2017-07-31T00:00:00.000000000
date : 2017-08-01T00:00:00.000000000
date : 2017-08-02T00:00:00.000000000
date : 2017-08-03T00:00:00.000000000
date : 2017-08-04T00:00:00.000000000
date : 2017-08-05T00:00:00.000000000
date : 2017-08-06T00:00:00.000000000
date : 2017-08-07T00:00:00.000000000
date : 2017-08-08T00:00:00.000000000
date : 2017-08-09T00:00:00.000000000
date : 2017-08-10T00:00:00.000000000
date : 2017-08-11T00:00:00.000000000
date : 2017-08-12T00:00:00.000000000
date : 2017-08-13T00:00:00.000000000
date : 2017-08-14T00:00:00.000000000
date : 2017-08-15T00:00:00.000000000
date : 2017-08-16T00:00:00.000000000
date : 2017-08-17T00:00:00.000000000
date : 2017-08-18T00:00:00.000000000
date : 2017-08-19T00:00:00.000000000
date : 2017-08-20T00:00:00.000000000
date : 2017-08-21T00:00:00.000000000
date : 2017-08-22T00:00:00.000000000
date : 2017-08-23T00:00:00.000000000
date : 2017-08-24T00:00:00.000000000
date : 2017-08-25T00:00:00.000000000
date : 2017-08-26T00:00:00.000000000
date : 2017-08-27T00:00:00.000000000
date : 2017-08-28T00:00:00.000000000
date : 2017-08-29T00:00:00.000000000
date : 2017-08-30T00:00:00.000000000
date : 2017-08-31T00:00:00.000000000
date : 2017-09-01T00:00:00.000000000
date : 2017-09-02T00:00:00.000000000
date : 2017-09-03T00:00:00.000000000
date : 2017-09-04T00:00:00.000000000
date : 2017-09-05T00:00:00.000000000
date : 2017-09-06T00:00:00.000000000
date : 2017-09-07T00:00:00.000000000
date : 2017-09-08T00:00:00.000000000
date : 2017-09-09T00:00:00.000000000
date : 2017-09-10T00:00:00.000000000
date : 2017-09-11T00:00:00.000000000
date : 2017-09-12T00:00:00.000000000
date : 2017-09-13T00:00:00.000000000
date : 2017-09-14T00:00:00.000000000
date : 2017-09-15T00:00:00.000000000
date : 2017-09-16T00:00:00.000000000
date : 2017-09-17T00:00:00.000000000
date : 2017-09-18T00:00:00.000000000
date : 2017-09-19T00:00:00.000000000
date : 2017-09-20T00:00:00.000000000
date : 2017-09-21T00:00:00.000000000
date : 2017-09-22T00:00:00.000000000
date : 2017-09-23T00:00:00.000000000
date : 2017-09-24T00:00:00.000000000
date : 2017-09-25T00:00:00.000000000
date : 2017-09-26T00:00:00.000000000
date : 2017-09-27T00:00:00.000000000
date : 2017-09-28T00:00:00.000000000
date : 2017-09-29T00:00:00.000000000
date : 2017-09-30T00:00:00.000000000
date : 2017-10-01T00:00:00.000000000
date : 2017-10-02T00:00:00.000000000
date : 2017-10-03T00:00:00.000000000
date : 2017-10-04T00:00:00.000000000
date : 2017-10-05T00:00:00.000000000
date : 2017-10-06T00:00:00.000000000
date : 2017-10-07T00:00:00.000000000
date : 2017-10-08T00:00:00.000000000
date : 2017-10-09T00:00:00.000000000
date : 2017-10-10T00:00:00.000000000
date : 2017-10-11T00:00:00.000000000
date : 2017-10-12T00:00:00.000000000
date : 2017-10-13T00:00:00.000000000
date : 2017-10-14T00:00:00.000000000
date : 2017-10-15T00:00:00.000000000
date : 2017-10-16T00:00:00.000000000
date : 2017-10-17T00:00:00.000000000
date : 2017-10-18T00:00:00.000000000
date : 2017-10-19T00:00:00.000000000
date : 2017-10-20T00:00:00.000000000
date : 2017-10-21T00:00:00.000000000
date : 2017-10-22T00:00:00.000000000
date : 2017-10-23T00:00:00.000000000
date : 2017-10-24T00:00:00.000000000
date : 2017-10-25T00:00:00.000000000
date : 2017-10-26T00:00:00.000000000
date : 2017-10-27T00:00:00.000000000
date : 2017-10-28T00:00:00.000000000
date : 2017-10-29T00:00:00.000000000
date : 2017-10-30T00:00:00.000000000
date : 2017-10-31T00:00:00.000000000

date : 2017-11-01T00:00:00.000000000
date : 2017-11-02T00:00:00.000000000
date : 2017-11-03T00:00:00.000000000
date : 2017-11-04T00:00:00.000000000
date : 2017-11-05T00:00:00.000000000
date : 2017-11-06T00:00:00.000000000
date : 2017-11-07T00:00:00.000000000
date : 2017-11-08T00:00:00.000000000
date : 2017-11-09T00:00:00.000000000
date : 2017-11-10T00:00:00.000000000
date : 2017-11-11T00:00:00.000000000
date : 2017-11-12T00:00:00.000000000
date : 2017-11-13T00:00:00.000000000
date : 2017-11-14T00:00:00.000000000
date : 2017-11-15T00:00:00.000000000
date : 2017-11-16T00:00:00.000000000
date : 2017-11-17T00:00:00.000000000
date : 2017-11-18T00:00:00.000000000
date : 2017-11-19T00:00:00.000000000
date : 2017-11-20T00:00:00.000000000
date : 2017-11-21T00:00:00.000000000
date : 2017-11-22T00:00:00.000000000
date : 2017-11-23T00:00:00.000000000
date : 2017-11-24T00:00:00.000000000
date : 2017-11-25T00:00:00.000000000
date : 2017-11-26T00:00:00.000000000
date : 2017-11-27T00:00:00.000000000
date : 2017-11-28T00:00:00.000000000
date : 2017-11-29T00:00:00.000000000
date : 2017-11-30T00:00:00.000000000
date : 2017-12-01T00:00:00.000000000
date : 2017-12-02T00:00:00.000000000
date : 2017-12-03T00:00:00.000000000
date : 2017-12-04T00:00:00.000000000
date : 2017-12-05T00:00:00.000000000
date : 2017-12-06T00:00:00.000000000
date : 2017-12-07T00:00:00.000000000
date : 2017-12-08T00:00:00.000000000
date : 2017-12-09T00:00:00.000000000
date : 2017-12-10T00:00:00.000000000
date : 2017-12-11T00:00:00.000000000
date : 2017-12-12T00:00:00.000000000
date : 2017-12-13T00:00:00.000000000
date : 2017-12-14T00:00:00.000000000
date : 2017-12-15T00:00:00.000000000
date : 2017-12-16T00:00:00.000000000
date : 2017-12-17T00:00:00.000000000
date : 2017-12-18T00:00:00.000000000
date : 2017-12-19T00:00:00.000000000
date : 2017-12-20T00:00:00.000000000
date : 2017-12-21T00:00:00.000000000
date : 2017-12-22T00:00:00.000000000
date : 2017-12-23T00:00:00.000000000
date : 2017-12-24T00:00:00.000000000
date : 2017-12-25T00:00:00.000000000
date : 2017-12-26T00:00:00.000000000
date : 2017-12-27T00:00:00.000000000
date : 2017-12-28T00:00:00.000000000
date : 2017-12-29T00:00:00.000000000
date : 2017-12-30T00:00:00.000000000

,date,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,forecast_2D_arome_msl,forecast_2D_arpege_ws,forecast_2D_arpege_p3031,forecast_2D_arpege_u10,forecast_2D_arpege_v10,forecast_2D_arpege_t2m,forecast_2D_arpege_d2m,forecast_2D_arpege_r,forecast_2D_arpege_tp,forecast_2D_arpege_msl
183742,2017-12-30,86137003,4.028333,286.465417,284.495417,88.0250,221.166667,3.4,86137003_729_0,0,...,101165.904888,9.252916,219.655643,5.567250,6.655889,284.048556,281.279492,83.074523,2.052794,101153.218439
183743,2017-12-30,86165005,5.950833,285.988333,284.020833,87.8875,239.291667,5.6,86165005_729_0,0,...,101387.611321,8.578518,213.895880,4.652563,6.648792,283.658364,281.074614,84.240508,2.841173,101391.056611
183744,2017-12-30,86272002,NaN,286.118750,NaN,NaN,NaN,5.6,86272002_729_0,0,...,101262.104974,8.281766,218.348579,4.921711,6.114034,283.815923,281.421370,85.189870,1.898490,101246.519678
183745,2017-12-30,91200002,4.212500,285.455000,284.124167,91.6750,229.708333,5.6,91200002_729_0,0,...,100778.423065,9.707421,218.647633,5.881056,7.448153,283.378643,281.557296,88.539244,2.670354,100772.481539
183746,2017-12-30,95690001,8.529583,285.330833,283.395417,88.1750,230.958333,5.4,95690001_729_0,0,...,100558.002879,9.368429,219.243324,5.771374,7.184695,283.656741,281.453239,86.277629,4.561992,100538.999917

In [11]:
#ajout des prévisions dans X_test
path = './data_meteonet/test/2D_arpege/'
p = 1
model = '2D_arpege'

df_X_test = traitement_forecast.add_prevision(p,df_distance2,df_X_test, path, model, var,bool_train = False)
df_X_test.tail()

date : 0
./data_meteonet/test/2D_arpege/2D_arpege_1.nc
date : 1
./data_meteonet/test/2D_arpege/2D_arpege_2.nc
date : 2
./data_meteonet/test/2D_arpege/2D_arpege_3.nc
date : 3
./data_meteonet/test/2D_arpege/2D_arpege_4.nc
date : 4
./data_meteonet/test/2D_arpege/2D_arpege_5.nc
date : 5
./data_meteonet/test/2D_arpege/2D_arpege_6.nc
date : 6
./data_meteonet/test/2D_arpege/2D_arpege_7.nc
date : 7
./data_meteonet/test/2D_arpege/2D_arpege_8.nc
date : 8
./data_meteonet/test/2D_arpege/2D_arpege_9.nc
date : 9
./data_meteonet/test/2D_arpege/2D_arpege_10.nc
date : 10
./data_meteonet/test/2D_arpege/2D_arpege_11.nc
date : 11
./data_meteonet/test/2D_arpege/2D_arpege_12.nc
date : 12
./data_meteonet/test/2D_arpege/2D_arpege_13.nc
date : 13
./data_meteonet/test/2D_arpege/2D_arpege_14.nc
date : 14
./data_meteonet/test/2D_arpege/2D_arpege_15.nc
date : 15
./data_meteonet/test/2D_arpege/2D_arpege_16.nc
date : 16
./data_meteonet/test/2D_arpege/2D_arpege_17.nc
date : 17
./data_meteonet/test/2D_arpege/2D_arpege_18.nc
date : 18
./data_meteonet/test/2D_arpege/2D_arpege_19.nc
date : 19
./data_meteonet/test/2D_arpege/2D_arpege_20.nc
date : 20
./data_meteonet/test/2D_arpege/2D_arpege_21.nc
date : 21
./data_meteonet/test/2D_arpege/2D_arpege_22.nc
date : 22
./data_meteonet/test/2D_arpege/2D_arpege_23.nc
date : 23
./data_meteonet/test/2D_arpege/2D_arpege_24.nc
date : 24
./data_meteonet/test/2D_arpege/2D_arpege_25.nc
date : 25
./data_meteonet/test/2D_arpege/2D_arpege_26.nc
date : 26
./data_meteonet/test/2D_arpege/2D_arpege_27.nc
date : 27
./data_meteonet/test/2D_arpege/2D_arpege_28.nc
date : 28
./data_meteonet/test/2D_arpege/2D_arpege_29.nc
date : 29
./data_meteonet/test/2D_arpege/2D_arpege_30.nc
date : 30
./data_meteonet/test/2D_arpege/2D_arpege_31.nc
date : 31
./data_meteonet/test/2D_arpege/2D_arpege_32.nc
date : 32
./data_meteonet/test/2D_arpege/2D_arpege_33.nc
date : 33
./data_meteonet/test/2D_arpege/2D_arpege_34.nc
date : 34
./data_meteonet/test/2D_arpege/2D_arpege_35.nc
date : 35
./data_meteonet/test/2D_arpege/2D_arpege_36.nc
date : 36
./data_meteonet/test/2D_arpege/2D_arpege_37.nc
date : 37
./data_meteonet/test/2D_arpege/2D_arpege_38.nc
date : 38
./data_meteonet/test/2D_arpege/2D_arpege_39.nc
date : 39
./data_meteonet/test/2D_arpege/2D_arpege_40.nc
date : 40
./data_meteonet/test/2D_arpege/2D_arpege_41.nc
date : 41
./data_meteonet/test/2D_arpege/2D_arpege_42.nc
date : 42
./data_meteonet/test/2D_arpege/2D_arpege_43.nc
date : 43
./data_meteonet/test/2D_arpege/2D_arpege_44.nc
date : 44
./data_meteonet/test/2D_arpege/2D_arpege_45.nc
date : 45
./data_meteonet/test/2D_arpege/2D_arpege_46.nc
date : 46
./data_meteonet/test/2D_arpege/2D_arpege_47.nc
date : 47
./data_meteonet/test/2D_arpege/2D_arpege_48.nc
date : 48
./data_meteonet/test/2D_arpege/2D_arpege_49.nc
date : 49
./data_meteonet/test/2D_arpege/2D_arpege_50.nc
date : 50
./data_meteonet/test/2D_arpege/2D_arpege_51.nc
date : 51
./data_meteonet/test/2D_arpege/2D_arpege_52.nc
date : 52
./data_meteonet/test/2D_arpege/2D_arpege_53.nc
date : 53
./data_meteonet/test/2D_arpege/2D_arpege_54.nc
date : 54
./data_meteonet/test/2D_arpege/2D_arpege_55.nc
date : 55
./data_meteonet/test/2D_arpege/2D_arpege_56.nc
date : 56
./data_meteonet/test/2D_arpege/2D_arpege_57.nc
date : 57
./data_meteonet/test/2D_arpege/2D_arpege_58.nc
date : 58
./data_meteonet/test/2D_arpege/2D_arpege_59.nc
date : 59
./data_meteonet/test/2D_arpege/2D_arpege_60.nc
date : 60
./data_meteonet/test/2D_arpege/2D_arpege_61.nc
date : 61
./data_meteonet/test/2D_arpege/2D_arpege_62.nc
date : 62
./data_meteonet/test/2D_arpege/2D_arpege_63.nc
date : 63
./data_meteonet/test/2D_arpege/2D_arpege_64.nc
date : 64
./data_meteonet/test/2D_arpege/2D_arpege_65.nc
date : 65
./data_meteonet/test/2D_arpege/2D_arpege_66.nc
date : 66
./data_meteonet/test/2D_arpege/2D_arpege_67.nc
date : 67
./data_meteonet/test/2D_arpege/2D_arpege_68.nc
date : 68
./data_meteonet/test/2D_arpege/2D_arpege_69.nc
date : 69
./data_meteonet/test/2D_arpege/2D_arpege_70.nc
date : 70
./data_meteonet/test/2D_arpege/2D_arpege_71.nc
date : 71
./data_meteonet/test/2D_arpege/2D_arpege_72.nc
date : 72
./data_meteonet/test/2D_arpege/2D_arpege_73.nc
date : 73
./data_meteonet/test/2D_arpege/2D_arpege_74.nc
date : 74
./data_meteonet/test/2D_arpege/2D_arpege_75.nc
date : 75
./data_meteonet/test/2D_arpege/2D_arpege_76.nc
date : 76
./data_meteonet/test/2D_arpege/2D_arpege_77.nc
date : 77
./data_meteonet/test/2D_arpege/2D_arpege_78.nc
date : 78
./data_meteonet/test/2D_arpege/2D_arpege_79.nc
date : 79
./data_meteonet/test/2D_arpege/2D_arpege_80.nc
date : 80
./data_meteonet/test/2D_arpege/2D_arpege_81.nc
date : 81
./data_meteonet/test/2D_arpege/2D_arpege_82.nc
date : 82
./data_meteonet/test/2D_arpege/2D_arpege_83.nc
date : 83
./data_meteonet/test/2D_arpege/2D_arpege_84.nc
date : 84
./data_meteonet/test/2D_arpege/2D_arpege_85.nc
date : 85
./data_meteonet/test/2D_arpege/2D_arpege_86.nc
date : 86
./data_meteonet/test/2D_arpege/2D_arpege_87.nc
date : 87
./data_meteonet/test/2D_arpege/2D_arpege_88.nc
date : 88
./data_meteonet/test/2D_arpege/2D_arpege_89.nc
date : 89
./data_meteonet/test/2D_arpege/2D_arpege_90.nc
date : 90
./data_meteonet/test/2D_arpege/2D_arpege_91.nc
date : 91
./data_meteonet/test/2D_arpege/2D_arpege_92.nc
date : 92
./data_meteonet/test/2D_arpege/2D_arpege_93.nc
date : 93
./data_meteonet/test/2D_arpege/2D_arpege_94.nc
date : 94
./data_meteonet/test/2D_arpege/2D_arpege_95.nc
date : 95
./data_meteonet/test/2D_arpege/2D_arpege_96.nc
date : 96
./data_meteonet/test/2D_arpege/2D_arpege_97.nc
date : 97
./data_meteonet/test/2D_arpege/2D_arpege_98.nc
date : 98
./data_meteonet/test/2D_arpege/2D_arpege_99.nc
date : 99
./data_meteonet/test/2D_arpege/2D_arpege_100.nc
date : 100
./data_meteonet/test/2D_arpege/2D_arpege_101.nc
date : 101
./data_meteonet/test/2D_arpege/2D_arpege_102.nc
date : 102
./data_meteonet/test/2D_arpege/2D_arpege_103.nc
date : 103
./data_meteonet/test/2D_arpege/2D_arpege_104.nc
date : 104
./data_meteonet/test/2D_arpege/2D_arpege_105.nc
date : 105
./data_meteonet/test/2D_arpege/2D_arpege_106.nc
date : 106
./data_meteonet/test/2D_arpege/2D_arpege_107.nc
date : 107
./data_meteonet/test/2D_arpege/2D_arpege_108.nc
date : 108
./data_meteonet/test/2D_arpege/2D_arpege_109.nc
date : 109
./data_meteonet/test/2D_arpege/2D_arpege_110.nc
date : 110
./data_meteonet/test/2D_arpege/2D_arpege_111.nc
date : 111
./data_meteonet/test/2D_arpege/2D_arpege_112.nc
date : 112
./data_meteonet/test/2D_arpege/2D_arpege_113.nc
date : 113
./data_meteonet/test/2D_arpege/2D_arpege_114.nc
date : 114
./data_meteonet/test/2D_arpege/2D_arpege_115.nc
date : 115
./data_meteonet/test/2D_arpege/2D_arpege_116.nc
date : 116
./data_meteonet/test/2D_arpege/2D_arpege_117.nc
date : 117
./data_meteonet/test/2D_arpege/2D_arpege_118.nc
date : 118
./data_meteonet/test/2D_arpege/2D_arpege_119.nc
date : 119
./data_meteonet/test/2D_arpege/2D_arpege_120.nc
date : 120
./data_meteonet/test/2D_arpege/2D_arpege_121.nc
date : 121
./data_meteonet/test/2D_arpege/2D_arpege_122.nc
date : 122
./data_meteonet/test/2D_arpege/2D_arpege_123.nc
date : 123
./data_meteonet/test/2D_arpege/2D_arpege_124.nc
date : 124
./data_meteonet/test/2D_arpege/2D_arpege_125.nc
date : 125
./data_meteonet/test/2D_arpege/2D_arpege_126.nc
date : 126
./data_meteonet/test/2D_arpege/2D_arpege_127.nc
date : 127
./data_meteonet/test/2D_arpege/2D_arpege_128.nc
date : 128
./data_meteonet/test/2D_arpege/2D_arpege_129.nc
date : 129
./data_meteonet/test/2D_arpege/2D_arpege_130.nc
date : 130
./data_meteonet/test/2D_arpege/2D_arpege_131.nc
date : 131
./data_meteonet/test/2D_arpege/2D_arpege_132.nc
date : 132
./data_meteonet/test/2D_arpege/2D_arpege_133.nc
date : 133
./data_meteonet/test/2D_arpege/2D_arpege_134.nc
date : 134
./data_meteonet/test/2D_arpege/2D_arpege_135.nc
date : 135
./data_meteonet/test/2D_arpege/2D_arpege_136.nc
date : 136
./data_meteonet/test/2D_arpege/2D_arpege_137.nc
date : 137
./data_meteonet/test/2D_arpege/2D_arpege_138.nc
date : 138
./data_meteonet/test/2D_arpege/2D_arpege_139.nc
date : 139
./data_meteonet/test/2D_arpege/2D_arpege_140.nc
date : 140
./data_meteonet/test/2D_arpege/2D_arpege_141.nc
date : 141
./data_meteonet/test/2D_arpege/2D_arpege_142.nc
date : 142
./data_meteonet/test/2D_arpege/2D_arpege_143.nc

date : 143
./data_meteonet/test/2D_arpege/2D_arpege_144.nc
date : 144
./data_meteonet/test/2D_arpege/2D_arpege_145.nc
date : 145
./data_meteonet/test/2D_arpege/2D_arpege_146.nc
date : 146
./data_meteonet/test/2D_arpege/2D_arpege_147.nc
date : 147
./data_meteonet/test/2D_arpege/2D_arpege_148.nc
date : 148
./data_meteonet/test/2D_arpege/2D_arpege_149.nc
date : 149
./data_meteonet/test/2D_arpege/2D_arpege_150.nc
date : 150
./data_meteonet/test/2D_arpege/2D_arpege_151.nc
date : 151
./data_meteonet/test/2D_arpege/2D_arpege_152.nc
date : 152
./data_meteonet/test/2D_arpege/2D_arpege_153.nc
date : 153
./data_meteonet/test/2D_arpege/2D_arpege_154.nc
date : 154
./data_meteonet/test/2D_arpege/2D_arpege_155.nc
date : 155
./data_meteonet/test/2D_arpege/2D_arpege_156.nc
date : 156
./data_meteonet/test/2D_arpege/2D_arpege_157.nc
date : 157
./data_meteonet/test/2D_arpege/2D_arpege_158.nc
date : 158
./data_meteonet/test/2D_arpege/2D_arpege_159.nc
date : 159
./data_meteonet/test/2D_arpege/2D_arpege_160.nc
date : 160
./data_meteonet/test/2D_arpege/2D_arpege_161.nc
date : 161
./data_meteonet/test/2D_arpege/2D_arpege_162.nc
date : 162
./data_meteonet/test/2D_arpege/2D_arpege_163.nc
date : 163
./data_meteonet/test/2D_arpege/2D_arpege_164.nc
date : 164
./data_meteonet/test/2D_arpege/2D_arpege_165.nc
date : 165
./data_meteonet/test/2D_arpege/2D_arpege_166.nc
date : 166
./data_meteonet/test/2D_arpege/2D_arpege_167.nc
date : 167
./data_meteonet/test/2D_arpege/2D_arpege_168.nc
date : 168
./data_meteonet/test/2D_arpege/2D_arpege_169.nc
date : 169
./data_meteonet/test/2D_arpege/2D_arpege_170.nc
date : 170
./data_meteonet/test/2D_arpege/2D_arpege_171.nc
date : 171
./data_meteonet/test/2D_arpege/2D_arpege_172.nc
date : 172
./data_meteonet/test/2D_arpege/2D_arpege_173.nc
date : 173
./data_meteonet/test/2D_arpege/2D_arpege_174.nc
date : 174
./data_meteonet/test/2D_arpege/2D_arpege_175.nc
date : 175
./data_meteonet/test/2D_arpege/2D_arpege_176.nc
date : 176
./data_meteonet/test/2D_arpege/2D_arpege_177.nc
date : 177
./data_meteonet/test/2D_arpege/2D_arpege_178.nc
date : 178
./data_meteonet/test/2D_arpege/2D_arpege_179.nc
date : 179
./data_meteonet/test/2D_arpege/2D_arpege_180.nc
date : 180
./data_meteonet/test/2D_arpege/2D_arpege_181.nc
date : 181
./data_meteonet/test/2D_arpege/2D_arpege_182.nc
date : 182
./data_meteonet/test/2D_arpege/2D_arpege_183.nc
date : 183
./data_meteonet/test/2D_arpege/2D_arpege_184.nc
date : 184
./data_meteonet/test/2D_arpege/2D_arpege_185.nc
date : 185
./data_meteonet/test/2D_arpege/2D_arpege_186.nc
date : 186
./data_meteonet/test/2D_arpege/2D_arpege_187.nc
date : 187
./data_meteonet/test/2D_arpege/2D_arpege_188.nc
date : 188
./data_meteonet/test/2D_arpege/2D_arpege_189.nc
date : 189
./data_meteonet/test/2D_arpege/2D_arpege_190.nc
date : 190
./data_meteonet/test/2D_arpege/2D_arpege_191.nc
date : 191
./data_meteonet/test/2D_arpege/2D_arpege_192.nc
date : 192
./data_meteonet/test/2D_arpege/2D_arpege_193.nc
date : 193
./data_meteonet/test/2D_arpege/2D_arpege_194.nc
date : 194
./data_meteonet/test/2D_arpege/2D_arpege_195.nc
date : 195
./data_meteonet/test/2D_arpege/2D_arpege_196.nc
date : 196
./data_meteonet/test/2D_arpege/2D_arpege_197.nc
date : 197
./data_meteonet/test/2D_arpege/2D_arpege_198.nc
date : 198
./data_meteonet/test/2D_arpege/2D_arpege_199.nc
date : 199
./data_meteonet/test/2D_arpege/2D_arpege_200.nc
date : 200
./data_meteonet/test/2D_arpege/2D_arpege_201.nc
date : 201
./data_meteonet/test/2D_arpege/2D_arpege_202.nc
date : 202
./data_meteonet/test/2D_arpege/2D_arpege_203.nc
date : 203
./data_meteonet/test/2D_arpege/2D_arpege_204.nc
date : 204
./data_meteonet/test/2D_arpege/2D_arpege_205.nc
date : 205
./data_meteonet/test/2D_arpege/2D_arpege_206.nc
date : 206
./data_meteonet/test/2D_arpege/2D_arpege_207.nc
date : 207
./data_meteonet/test/2D_arpege/2D_arpege_208.nc
date : 208
./data_meteonet/test/2D_arpege/2D_arpege_209.nc
date : 209
./data_meteonet/test/2D_arpege/2D_arpege_210.nc
date : 210
./data_meteonet/test/2D_arpege/2D_arpege_211.nc
date : 211
./data_meteonet/test/2D_arpege/2D_arpege_212.nc
date : 212
./data_meteonet/test/2D_arpege/2D_arpege_213.nc
date : 213
./data_meteonet/test/2D_arpege/2D_arpege_214.nc
date : 214
./data_meteonet/test/2D_arpege/2D_arpege_215.nc
date : 215
./data_meteonet/test/2D_arpege/2D_arpege_216.nc
date : 216
./data_meteonet/test/2D_arpege/2D_arpege_217.nc
date : 217
./data_meteonet/test/2D_arpege/2D_arpege_218.nc
date : 218
./data_meteonet/test/2D_arpege/2D_arpege_219.nc
date : 219
./data_meteonet/test/2D_arpege/2D_arpege_220.nc
date : 220
./data_meteonet/test/2D_arpege/2D_arpege_221.nc
date : 221
./data_meteonet/test/2D_arpege/2D_arpege_222.nc
date : 222
./data_meteonet/test/2D_arpege/2D_arpege_223.nc
date : 223
./data_meteonet/test/2D_arpege/2D_arpege_224.nc
date : 224
./data_meteonet/test/2D_arpege/2D_arpege_225.nc
date : 225
./data_meteonet/test/2D_arpege/2D_arpege_226.nc
date : 226
./data_meteonet/test/2D_arpege/2D_arpege_227.nc
date : 227
./data_meteonet/test/2D_arpege/2D_arpege_228.nc
date : 228
./data_meteonet/test/2D_arpege/2D_arpege_229.nc
date : 229
./data_meteonet/test/2D_arpege/2D_arpege_230.nc
date : 230
./data_meteonet/test/2D_arpege/2D_arpege_231.nc
date : 231
./data_meteonet/test/2D_arpege/2D_arpege_232.nc
date : 232
./data_meteonet/test/2D_arpege/2D_arpege_233.nc
date : 233
./data_meteonet/test/2D_arpege/2D_arpege_234.nc
date : 234
./data_meteonet/test/2D_arpege/2D_arpege_235.nc
date : 235
./data_meteonet/test/2D_arpege/2D_arpege_236.nc
date : 236
./data_meteonet/test/2D_arpege/2D_arpege_237.nc
date : 237
./data_meteonet/test/2D_arpege/2D_arpege_238.nc
date : 238
./data_meteonet/test/2D_arpege/2D_arpege_239.nc
date : 239
./data_meteonet/test/2D_arpege/2D_arpege_240.nc
date : 240
./data_meteonet/test/2D_arpege/2D_arpege_241.nc
date : 241
./data_meteonet/test/2D_arpege/2D_arpege_242.nc
date : 242
./data_meteonet/test/2D_arpege/2D_arpege_243.nc
date : 243
./data_meteonet/test/2D_arpege/2D_arpege_244.nc
date : 244
./data_meteonet/test/2D_arpege/2D_arpege_245.nc
date : 245
./data_meteonet/test/2D_arpege/2D_arpege_246.nc
date : 246
./data_meteonet/test/2D_arpege/2D_arpege_247.nc
date : 247
./data_meteonet/test/2D_arpege/2D_arpege_248.nc
date : 248
./data_meteonet/test/2D_arpege/2D_arpege_249.nc
date : 249
./data_meteonet/test/2D_arpege/2D_arpege_250.nc
date : 250
./data_meteonet/test/2D_arpege/2D_arpege_251.nc
date : 251
./data_meteonet/test/2D_arpege/2D_arpege_252.nc
date : 252
./data_meteonet/test/2D_arpege/2D_arpege_253.nc
date : 253
./data_meteonet/test/2D_arpege/2D_arpege_254.nc
date : 254
./data_meteonet/test/2D_arpege/2D_arpege_255.nc
date : 255
./data_meteonet/test/2D_arpege/2D_arpege_256.nc
date : 256
./data_meteonet/test/2D_arpege/2D_arpege_257.nc
date : 257
./data_meteonet/test/2D_arpege/2D_arpege_258.nc
date : 258
./data_meteonet/test/2D_arpege/2D_arpege_259.nc
date : 259
./data_meteonet/test/2D_arpege/2D_arpege_260.nc
date : 260
./data_meteonet/test/2D_arpege/2D_arpege_261.nc
date : 261
./data_meteonet/test/2D_arpege/2D_arpege_262.nc
date : 262
./data_meteonet/test/2D_arpege/2D_arpege_263.nc
date : 263
./data_meteonet/test/2D_arpege/2D_arpege_264.nc
date : 264
./data_meteonet/test/2D_arpege/2D_arpege_265.nc
date : 265
./data_meteonet/test/2D_arpege/2D_arpege_266.nc
date : 266
./data_meteonet/test/2D_arpege/2D_arpege_267.nc
date : 267
./data_meteonet/test/2D_arpege/2D_arpege_268.nc
date : 268
./data_meteonet/test/2D_arpege/2D_arpege_269.nc
date : 269
./data_meteonet/test/2D_arpege/2D_arpege_270.nc
date : 270
./data_meteonet/test/2D_arpege/2D_arpege_271.nc
date : 271
./data_meteonet/test/2D_arpege/2D_arpege_272.nc
date : 272
./data_meteonet/test/2D_arpege/2D_arpege_273.nc
date : 273
./data_meteonet/test/2D_arpege/2D_arpege_274.nc
date : 274
./data_meteonet/test/2D_arpege/2D_arpege_275.nc
date : 275
./data_meteonet/test/2D_arpege/2D_arpege_276.nc
date : 276
./data_meteonet/test/2D_arpege/2D_arpege_277.nc
date : 277
./data_meteonet/test/2D_arpege/2D_arpege_278.nc
date : 278
./data_meteonet/test/2D_arpege/2D_arpege_279.nc
date : 279
./data_meteonet/test/2D_arpege/2D_arpege_280.nc
date : 280
./data_meteonet/test/2D_arpege/2D_arpege_281.nc
date : 281
./data_meteonet/test/2D_arpege/2D_arpege_282.nc

date : 282
./data_meteonet/test/2D_arpege/2D_arpege_283.nc
date : 283
./data_meteonet/test/2D_arpege/2D_arpege_284.nc
date : 284
./data_meteonet/test/2D_arpege/2D_arpege_285.nc
date : 285
./data_meteonet/test/2D_arpege/2D_arpege_286.nc
date : 286
./data_meteonet/test/2D_arpege/2D_arpege_287.nc
date : 287
./data_meteonet/test/2D_arpege/2D_arpege_288.nc
date : 288
./data_meteonet/test/2D_arpege/2D_arpege_289.nc
date : 289
./data_meteonet/test/2D_arpege/2D_arpege_290.nc
date : 290
./data_meteonet/test/2D_arpege/2D_arpege_291.nc
date : 291
./data_meteonet/test/2D_arpege/2D_arpege_292.nc
date : 292
./data_meteonet/test/2D_arpege/2D_arpege_293.nc
date : 293
./data_meteonet/test/2D_arpege/2D_arpege_294.nc
date : 294
./data_meteonet/test/2D_arpege/2D_arpege_295.nc
date : 295
./data_meteonet/test/2D_arpege/2D_arpege_296.nc
date : 296
./data_meteonet/test/2D_arpege/2D_arpege_297.nc
date : 297
./data_meteonet/test/2D_arpege/2D_arpege_298.nc
date : 298
./data_meteonet/test/2D_arpege/2D_arpege_299.nc
date : 299
./data_meteonet/test/2D_arpege/2D_arpege_300.nc
date : 300
./data_meteonet/test/2D_arpege/2D_arpege_301.nc
date : 301
./data_meteonet/test/2D_arpege/2D_arpege_302.nc
date : 302
./data_meteonet/test/2D_arpege/2D_arpege_303.nc
date : 303
./data_meteonet/test/2D_arpege/2D_arpege_304.nc
date : 304
./data_meteonet/test/2D_arpege/2D_arpege_305.nc
date : 305
./data_meteonet/test/2D_arpege/2D_arpege_306.nc
date : 306
./data_meteonet/test/2D_arpege/2D_arpege_307.nc
date : 307
./data_meteonet/test/2D_arpege/2D_arpege_308.nc
date : 308
./data_meteonet/test/2D_arpege/2D_arpege_309.nc
date : 309
./data_meteonet/test/2D_arpege/2D_arpege_310.nc
date : 310
./data_meteonet/test/2D_arpege/2D_arpege_311.nc
date : 311
./data_meteonet/test/2D_arpege/2D_arpege_312.nc
date : 312
./data_meteonet/test/2D_arpege/2D_arpege_313.nc
date : 313
./data_meteonet/test/2D_arpege/2D_arpege_314.nc
date : 314
./data_meteonet/test/2D_arpege/2D_arpege_315.nc
date : 315
./data_meteonet/test/2D_arpege/2D_arpege_316.nc
date : 316
./data_meteonet/test/2D_arpege/2D_arpege_317.nc
date : 317
./data_meteonet/test/2D_arpege/2D_arpege_318.nc
date : 318
./data_meteonet/test/2D_arpege/2D_arpege_319.nc
date : 319
./data_meteonet/test/2D_arpege/2D_arpege_320.nc
date : 320
./data_meteonet/test/2D_arpege/2D_arpege_321.nc
date : 321
./data_meteonet/test/2D_arpege/2D_arpege_322.nc
date : 322
./data_meteonet/test/2D_arpege/2D_arpege_323.nc
date : 323
./data_meteonet/test/2D_arpege/2D_arpege_324.nc
date : 324
./data_meteonet/test/2D_arpege/2D_arpege_325.nc
date : 325
./data_meteonet/test/2D_arpege/2D_arpege_326.nc
date : 326
./data_meteonet/test/2D_arpege/2D_arpege_327.nc
date : 327
./data_meteonet/test/2D_arpege/2D_arpege_328.nc
date : 328
./data_meteonet/test/2D_arpege/2D_arpege_329.nc
date : 329
./data_meteonet/test/2D_arpege/2D_arpege_330.nc
date : 330
./data_meteonet/test/2D_arpege/2D_arpege_331.nc
date : 331
./data_meteonet/test/2D_arpege/2D_arpege_332.nc
date : 332
./data_meteonet/test/2D_arpege/2D_arpege_333.nc
date : 333
./data_meteonet/test/2D_arpege/2D_arpege_334.nc
date : 334
./data_meteonet/test/2D_arpege/2D_arpege_335.nc
date : 335
./data_meteonet/test/2D_arpege/2D_arpege_336.nc
date : 336
./data_meteonet/test/2D_arpege/2D_arpege_337.nc
date : 337
./data_meteonet/test/2D_arpege/2D_arpege_338.nc
date : 338
./data_meteonet/test/2D_arpege/2D_arpege_339.nc
date : 339
./data_meteonet/test/2D_arpege/2D_arpege_340.nc
date : 340
./data_meteonet/test/2D_arpege/2D_arpege_341.nc
date : 341
./data_meteonet/test/2D_arpege/2D_arpege_342.nc
date : 342
./data_meteonet/test/2D_arpege/2D_arpege_343.nc
date : 343
./data_meteonet/test/2D_arpege/2D_arpege_344.nc
date : 344
./data_meteonet/test/2D_arpege/2D_arpege_345.nc
date : 345
./data_meteonet/test/2D_arpege/2D_arpege_346.nc
date : 346
./data_meteonet/test/2D_arpege/2D_arpege_347.nc
date : 347
./data_meteonet/test/2D_arpege/2D_arpege_348.nc
date : 348
./data_meteonet/test/2D_arpege/2D_arpege_349.nc
date : 349
./data_meteonet/test/2D_arpege/2D_arpege_350.nc
date : 350
./data_meteonet/test/2D_arpege/2D_arpege_351.nc
date : 351
./data_meteonet/test/2D_arpege/2D_arpege_352.nc
date : 352
./data_meteonet/test/2D_arpege/2D_arpege_353.nc
date : 353
./data_meteonet/test/2D_arpege/2D_arpege_354.nc
date : 354
./data_meteonet/test/2D_arpege/2D_arpege_355.nc
date : 355
./data_meteonet/test/2D_arpege/2D_arpege_356.nc
date : 356
./data_meteonet/test/2D_arpege/2D_arpege_357.nc
date : 357
./data_meteonet/test/2D_arpege/2D_arpege_358.nc
date : 358
./data_meteonet/test/2D_arpege/2D_arpege_359.nc
date : 359
./data_meteonet/test/2D_arpege/2D_arpege_360.nc
date : 360
./data_meteonet/test/2D_arpege/2D_arpege_361.nc
date : 361
./data_meteonet/test/2D_arpege/2D_arpege_362.nc
date : 362
./data_meteonet/test/2D_arpege/2D_arpege_363.nc

,day,number_sta,ff,t,td,hu,dd,precip,Id,month_2,...,forecast_2D_arome_msl,forecast_2D_arpege_ws,forecast_2D_arpege_p3031,forecast_2D_arpege_u10,forecast_2D_arpege_v10,forecast_2D_arpege_t2m,forecast_2D_arpege_d2m,forecast_2D_arpege_r,forecast_2D_arpege_tp,forecast_2D_arpege_msl
69203,362,86137003,4.680000,279.822083,275.260833,73.958333,162.166667,3.0,86137003_362,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69204,362,86165005,4.528750,280.806250,274.163333,64.429167,192.916667,1.6,86165005_362,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69205,362,86272002,NaN,279.885417,NaN,NaN,NaN,5.0,86272002_362,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69206,362,91200002,2.612917,276.440417,273.216667,80.400000,131.625000,1.8,91200002_362,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69207,362,95690001,4.542083,275.627917,271.831667,76.795833,130.166667,0.4,95690001_362,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Modèle arpege 3D

In [12]:
model = 'arpege_3D_height'
path = './data_meteonet/train/X_forecast/3D_arpege_train/'
p = 1
K = 3
df_distance3 = traitement_forecast.calcul_distance(coords, path, model, K)

In [13]:
df_train = traitement_forecast.add_prevision_3D(p,df_distance3, df_train, path, model, bool_train = True)

date : 2016-01-01T00:00:00.000000000
date : 2016-01-02T00:00:00.000000000
date : 2016-01-03T00:00:00.000000000
date : 2016-01-04T00:00:00.000000000
date : 2016-01-05T00:00:00.000000000
date : 2016-01-06T00:00:00.000000000
date : 2016-01-07T00:00:00.000000000
date : 2016-01-08T00:00:00.000000000
date : 2016-01-09T00:00:00.000000000
date : 2016-01-10T00:00:00.000000000
date : 2016-01-11T00:00:00.000000000
date : 2016-01-12T00:00:00.000000000
date : 2016-01-13T00:00:00.000000000
date : 2016-01-14T00:00:00.000000000
date : 2016-01-15T00:00:00.000000000
date : 2016-01-16T00:00:00.000000000
date : 2016-01-17T00:00:00.000000000
date : 2016-01-18T00:00:00.000000000
date : 2016-01-19T00:00:00.000000000
date : 2016-01-20T00:00:00.000000000
date : 2016-01-21T00:00:00.000000000
date : 2016-01-22T00:00:00.000000000
date : 2016-01-23T00:00:00.000000000
date : 2016-01-24T00:00:00.000000000
date : 2016-01-25T00:00:00.000000000
date : 2016-01-26T00:00:00.000000000
date : 2016-01-27T00:00:00.000000000
date : 2016-01-28T00:00:00.000000000
date : 2016-01-29T00:00:00.000000000
date : 2016-01-30T00:00:00.000000000
date : 2016-01-31T00:00:00.000000000
date : 2016-02-01T00:00:00.000000000
date : 2016-02-02T00:00:00.000000000
date : 2016-02-03T00:00:00.000000000
date : 2016-02-04T00:00:00.000000000
date : 2016-02-05T00:00:00.000000000
date : 2016-02-06T00:00:00.000000000
date : 2016-02-07T00:00:00.000000000
date : 2016-02-08T00:00:00.000000000
date : 2016-02-09T00:00:00.000000000
date : 2016-02-10T00:00:00.000000000
date : 2016-02-11T00:00:00.000000000
date : 2016-02-12T00:00:00.000000000
date : 2016-02-13T00:00:00.000000000
date : 2016-02-14T00:00:00.000000000
date : 2016-02-15T00:00:00.000000000
date : 2016-02-16T00:00:00.000000000
date : 2016-02-17T00:00:00.000000000
date : 2016-02-18T00:00:00.000000000
date : 2016-02-19T00:00:00.000000000
date : 2016-02-20T00:00:00.000000000
date : 2016-02-21T00:00:00.000000000
date : 2016-02-22T00:00:00.000000000
date : 2016-02-23T00:00:00.000000000
date : 2016-02-24T00:00:00.000000000
date : 2016-02-25T00:00:00.000000000
date : 2016-02-26T00:00:00.000000000
date : 2016-02-27T00:00:00.000000000
date : 2016-02-28T00:00:00.000000000
date : 2016-02-29T00:00:00.000000000
date : 2016-03-01T00:00:00.000000000
date : 2016-03-02T00:00:00.000000000
date : 2016-03-03T00:00:00.000000000
date : 2016-03-04T00:00:00.000000000
date : 2016-03-05T00:00:00.000000000
date : 2016-03-06T00:00:00.000000000
date : 2016-03-07T00:00:00.000000000
date : 2016-03-08T00:00:00.000000000
date : 2016-03-09T00:00:00.000000000
date : 2016-03-10T00:00:00.000000000
date : 2016-03-11T00:00:00.000000000
date : 2016-03-12T00:00:00.000000000
date : 2016-03-13T00:00:00.000000000
date : 2016-03-14T00:00:00.000000000
date : 2016-03-15T00:00:00.000000000
date : 2016-03-16T00:00:00.000000000
date : 2016-03-17T00:00:00.000000000
date : 2016-03-18T00:00:00.000000000
date : 2016-03-19T00:00:00.000000000
date : 2016-03-20T00:00:00.000000000
date : 2016-03-21T00:00:00.000000000
date : 2016-03-22T00:00:00.000000000
date : 2016-03-23T00:00:00.000000000
date : 2016-03-24T00:00:00.000000000
date : 2016-03-25T00:00:00.000000000
date : 2016-03-26T00:00:00.000000000
date : 2016-03-27T00:00:00.000000000
date : 2016-03-28T00:00:00.000000000
date : 2016-03-29T00:00:00.000000000
date : 2016-03-30T00:00:00.000000000
date : 2016-03-31T00:00:00.000000000
date : 2016-04-01T00:00:00.000000000
date : 2016-04-02T00:00:00.000000000
date : 2016-04-03T00:00:00.000000000
date : 2016-04-04T00:00:00.000000000
date : 2016-04-05T00:00:00.000000000
date : 2016-04-06T00:00:00.000000000
date : 2016-04-07T00:00:00.000000000
date : 2016-04-08T00:00:00.000000000
date : 2016-04-09T00:00:00.000000000
date : 2016-04-10T00:00:00.000000000
date : 2016-04-11T00:00:00.000000000
date : 2016-04-12T00:00:00.000000000
date : 2016-04-13T00:00:00.000000000
date : 2016-04-14T00:00:00.000000000
date : 2016-04-15T00:00:00.000000000
date : 2016-04-16T00:00:00.000000000
date : 2016-04-17T00:00:00.000000000
date : 2016-04-18T00:00:00.000000000
date : 2016-04-19T00:00:00.000000000
date : 2016-04-20T00:00:00.000000000
date : 2016-04-21T00:00:00.000000000
date : 2016-04-22T00:00:00.000000000
date : 2016-04-23T00:00:00.000000000
date : 2016-04-24T00:00:00.000000000
date : 2016-04-25T00:00:00.000000000
date : 2016-04-26T00:00:00.000000000
date : 2016-04-27T00:00:00.000000000
date : 2016-04-28T00:00:00.000000000
date : 2016-04-29T00:00:00.000000000
date : 2016-04-30T00:00:00.000000000
date : 2016-05-01T00:00:00.000000000
date : 2016-05-02T00:00:00.000000000
date : 2016-05-03T00:00:00.000000000
date : 2016-05-04T00:00:00.000000000
date : 2016-05-05T00:00:00.000000000
date : 2016-05-06T00:00:00.000000000
date : 2016-05-07T00:00:00.000000000
date : 2016-05-08T00:00:00.000000000
date : 2016-05-09T00:00:00.000000000
date : 2016-05-10T00:00:00.000000000
date : 2016-05-11T00:00:00.000000000
date : 2016-05-12T00:00:00.000000000
date : 2016-05-13T00:00:00.000000000
date : 2016-05-14T00:00:00.000000000
date : 2016-05-15T00:00:00.000000000
date : 2016-05-16T00:00:00.000000000
date : 2016-05-17T00:00:00.000000000
date : 2016-05-18T00:00:00.000000000
date : 2016-05-19T00:00:00.000000000
date : 2016-05-20T00:00:00.000000000
date : 2016-05-21T00:00:00.000000000
date : 2016-05-22T00:00:00.000000000
date : 2016-05-23T00:00:00.000000000
date : 2016-05-24T00:00:00.000000000
date : 2016-05-25T00:00:00.000000000
date : 2016-05-26T00:00:00.000000000
date : 2016-05-27T00:00:00.000000000
date : 2016-05-28T00:00:00.000000000
date : 2016-05-29T00:00:00.000000000
date : 2016-05-30T00:00:00.000000000
date : 2016-05-31T00:00:00.000000000
date : 2016-06-01T00:00:00.000000000
date : 2016-06-02T00:00:00.000000000
date : 2016-06-03T00:00:00.000000000
date : 2016-06-04T00:00:00.000000000
date : 2016-06-05T00:00:00.000000000
date : 2016-06-06T00:00:00.000000000
date : 2016-06-07T00:00:00.000000000
date : 2016-06-08T00:00:00.000000000
date : 2016-06-09T00:00:00.000000000
date : 2016-06-10T00:00:00.000000000
date : 2016-06-11T00:00:00.000000000
date : 2016-06-12T00:00:00.000000000
date : 2016-06-13T00:00:00.000000000
date : 2016-06-14T00:00:00.000000000
date : 2016-06-15T00:00:00.000000000
date : 2016-06-16T00:00:00.000000000
date : 2016-06-17T00:00:00.000000000
date : 2016-06-18T00:00:00.000000000
date : 2016-06-19T00:00:00.000000000
date : 2016-06-20T00:00:00.000000000
date : 2016-06-21T00:00:00.000000000
date : 2016-06-22T00:00:00.000000000
date : 2016-06-23T00:00:00.000000000
date : 2016-06-24T00:00:00.000000000
date : 2016-06-25T00:00:00.000000000
date : 2016-06-26T00:00:00.000000000
date : 2016-06-27T00:00:00.000000000
date : 2016-06-28T00:00:00.000000000
date : 2016-06-29T00:00:00.000000000
date : 2016-06-30T00:00:00.000000000
date : 2016-07-01T00:00:00.000000000
date : 2016-07-02T00:00:00.000000000
date : 2016-07-03T00:00:00.000000000
date : 2016-07-04T00:00:00.000000000
date : 2016-07-05T00:00:00.000000000
date : 2016-07-06T00:00:00.000000000
date : 2016-07-07T00:00:00.000000000
date : 2016-07-08T00:00:00.000000000
date : 2016-07-09T00:00:00.000000000
date : 2016-07-10T00:00:00.000000000
date : 2016-07-11T00:00:00.000000000
date : 2016-07-12T00:00:00.000000000
date : 2016-07-13T00:00:00.000000000
date : 2016-07-14T00:00:00.000000000
date : 2016-07-15T00:00:00.000000000
date : 2016-07-16T00:00:00.000000000
date : 2016-07-17T00:00:00.000000000
date : 2016-07-18T00:00:00.000000000
date : 2016-07-19T00:00:00.000000000
date : 2016-07-20T00:00:00.000000000
date : 2016-07-21T00:00:00.000000000
date : 2016-07-22T00:00:00.000000000
date : 2016-07-23T00:00:00.000000000
date : 2016-07-24T00:00:00.000000000
date : 2016-07-25T00:00:00.000000000
date : 2016-07-26T00:00:00.000000000
date : 2016-07-27T00:00:00.000000000
date : 2016-07-28T00:00:00.000000000
date : 2016-07-29T00:00:00.000000000
date : 2016-07-30T00:00:00.000000000
date : 2016-07-31T00:00:00.000000000
date : 2016-08-01T00:00:00.000000000
date : 2016-08-02T00:00:00.000000000
date : 2016-08-03T00:00:00.000000000
date : 2016-08-04T00:00:00.000000000
date : 2016-08-05T00:00:00.000000000
date : 2016-08-06T00:00:00.000000000
date : 2016-08-07T00:00:00.000000000
date : 2016-08-08T00:00:00.000000000
date : 2016-08-09T00:00:00.000000000

date : 2016-08-10T00:00:00.000000000
date : 2016-08-11T00:00:00.000000000
date : 2016-08-12T00:00:00.000000000
date : 2016-08-13T00:00:00.000000000
date : 2016-08-14T00:00:00.000000000
date : 2016-08-15T00:00:00.000000000
date : 2016-08-16T00:00:00.000000000
date : 2016-08-17T00:00:00.000000000
date : 2016-08-18T00:00:00.000000000
date : 2016-08-19T00:00:00.000000000
date : 2016-08-20T00:00:00.000000000
date : 2016-08-21T00:00:00.000000000
date : 2016-08-22T00:00:00.000000000
date : 2016-08-23T00:00:00.000000000
date : 2016-08-24T00:00:00.000000000
date : 2016-08-25T00:00:00.000000000
date : 2016-08-26T00:00:00.000000000
date : 2016-08-27T00:00:00.000000000
date : 2016-08-28T00:00:00.000000000
date : 2016-08-29T00:00:00.000000000
date : 2016-08-30T00:00:00.000000000
date : 2016-08-31T00:00:00.000000000
date : 2016-09-01T00:00:00.000000000
date : 2016-09-02T00:00:00.000000000
date : 2016-09-03T00:00:00.000000000
date : 2016-09-04T00:00:00.000000000
date : 2016-09-05T00:00:00.000000000
date : 2016-09-06T00:00:00.000000000
date : 2016-09-07T00:00:00.000000000
date : 2016-09-08T00:00:00.000000000
date : 2016-09-09T00:00:00.000000000
date : 2016-09-10T00:00:00.000000000
date : 2016-09-11T00:00:00.000000000
date : 2016-09-12T00:00:00.000000000
date : 2016-09-13T00:00:00.000000000
date : 2016-09-14T00:00:00.000000000
date : 2016-09-15T00:00:00.000000000
date : 2016-09-16T00:00:00.000000000
date : 2016-09-17T00:00:00.000000000
date : 2016-09-18T00:00:00.000000000
date : 2016-09-19T00:00:00.000000000
date : 2016-09-20T00:00:00.000000000
date : 2016-09-21T00:00:00.000000000
date : 2016-09-22T00:00:00.000000000
date : 2016-09-23T00:00:00.000000000
date : 2016-09-24T00:00:00.000000000
date : 2016-09-25T00:00:00.000000000
date : 2016-09-26T00:00:00.000000000
date : 2016-09-27T00:00:00.000000000
date : 2016-09-28T00:00:00.000000000
date : 2016-09-29T00:00:00.000000000
date : 2016-09-30T00:00:00.000000000
date : 2016-10-01T00:00:00.000000000
date : 2016-10-02T00:00:00.000000000
date : 2016-10-03T00:00:00.000000000
date : 2016-10-04T00:00:00.000000000
date : 2016-10-05T00:00:00.000000000
date : 2016-10-06T00:00:00.000000000
date : 2016-10-07T00:00:00.000000000
date : 2016-10-08T00:00:00.000000000
date : 2016-10-09T00:00:00.000000000
date : 2016-10-10T00:00:00.000000000
date : 2016-10-11T00:00:00.000000000
date : 2016-10-12T00:00:00.000000000
date : 2016-10-13T00:00:00.000000000
date : 2016-10-14T00:00:00.000000000
date : 2016-10-15T00:00:00.000000000
date : 2016-10-16T00:00:00.000000000
date : 2016-10-17T00:00:00.000000000
date : 2016-10-18T00:00:00.000000000
date : 2016-10-19T00:00:00.000000000
date : 2016-10-20T00:00:00.000000000
date : 2016-10-21T00:00:00.000000000
date : 2016-10-22T00:00:00.000000000
date : 2016-10-23T00:00:00.000000000
date : 2016-10-24T00:00:00.000000000
date : 2016-10-25T00:00:00.000000000
date : 2016-10-26T00:00:00.000000000
date : 2016-10-27T00:00:00.000000000
date : 2016-10-28T00:00:00.000000000
date : 2016-10-29T00:00:00.000000000
date : 2016-10-30T00:00:00.000000000
date : 2016-10-31T00:00:00.000000000
date : 2016-11-01T00:00:00.000000000
date : 2016-11-02T00:00:00.000000000
date : 2016-11-03T00:00:00.000000000
date : 2016-11-04T00:00:00.000000000
date : 2016-11-05T00:00:00.000000000
date : 2016-11-06T00:00:00.000000000
date : 2016-11-07T00:00:00.000000000
date : 2016-11-08T00:00:00.000000000
date : 2016-11-09T00:00:00.000000000
date : 2016-11-10T00:00:00.000000000
date : 2016-11-11T00:00:00.000000000
date : 2016-11-12T00:00:00.000000000
date : 2016-11-13T00:00:00.000000000
date : 2016-11-14T00:00:00.000000000
date : 2016-11-15T00:00:00.000000000
date : 2016-11-16T00:00:00.000000000
date : 2016-11-17T00:00:00.000000000
date : 2016-11-18T00:00:00.000000000
date : 2016-11-19T00:00:00.000000000
date : 2016-11-20T00:00:00.000000000
date : 2016-11-21T00:00:00.000000000
date : 2016-11-22T00:00:00.000000000
date : 2016-11-23T00:00:00.000000000
date : 2016-11-24T00:00:00.000000000
date : 2016-11-25T00:00:00.000000000
date : 2016-11-26T00:00:00.000000000
date : 2016-11-27T00:00:00.000000000
date : 2016-11-28T00:00:00.000000000
date : 2016-11-29T00:00:00.000000000
date : 2016-11-30T00:00:00.000000000
date : 2016-12-01T00:00:00.000000000
date : 2016-12-02T00:00:00.000000000
date : 2016-12-03T00:00:00.000000000
date : 2016-12-04T00:00:00.000000000
date : 2016-12-05T00:00:00.000000000
date : 2016-12-06T00:00:00.000000000
date : 2016-12-07T00:00:00.000000000
date : 2016-12-08T00:00:00.000000000
date : 2016-12-09T00:00:00.000000000
date : 2016-12-10T00:00:00.000000000
date : 2016-12-11T00:00:00.000000000
date : 2016-12-12T00:00:00.000000000
date : 2016-12-13T00:00:00.000000000
date : 2016-12-14T00:00:00.000000000
date : 2016-12-15T00:00:00.000000000
date : 2016-12-16T00:00:00.000000000
date : 2016-12-17T00:00:00.000000000
date : 2016-12-18T00:00:00.000000000
date : 2016-12-19T00:00:00.000000000
date : 2016-12-20T00:00:00.000000000
date : 2016-12-21T00:00:00.000000000
date : 2016-12-22T00:00:00.000000000
date : 2016-12-23T00:00:00.000000000
date : 2016-12-24T00:00:00.000000000
date : 2016-12-25T00:00:00.000000000
date : 2016-12-26T00:00:00.000000000
date : 2016-12-27T00:00:00.000000000
date : 2016-12-28T00:00:00.000000000
date : 2016-12-29T00:00:00.000000000
date : 2016-12-30T00:00:00.000000000
date : 2016-12-31T00:00:00.000000000
date : 2017-01-01T00:00:00.000000000
date : 2017-01-02T00:00:00.000000000
date : 2017-01-03T00:00:00.000000000
date : 2017-01-04T00:00:00.000000000
date : 2017-01-05T00:00:00.000000000
date : 2017-01-06T00:00:00.000000000
date : 2017-01-07T00:00:00.000000000
date : 2017-01-08T00:00:00.000000000
date : 2017-01-09T00:00:00.000000000
date : 2017-01-10T00:00:00.000000000
date : 2017-01-11T00:00:00.000000000
date : 2017-01-12T00:00:00.000000000
date : 2017-01-13T00:00:00.000000000
date : 2017-01-14T00:00:00.000000000
date : 2017-01-15T00:00:00.000000000
date : 2017-01-16T00:00:00.000000000
date : 2017-01-17T00:00:00.000000000
date : 2017-01-18T00:00:00.000000000
date : 2017-01-19T00:00:00.000000000
date : 2017-01-20T00:00:00.000000000
date : 2017-01-21T00:00:00.000000000
date : 2017-01-22T00:00:00.000000000
date : 2017-01-23T00:00:00.000000000
date : 2017-01-24T00:00:00.000000000
date : 2017-01-25T00:00:00.000000000
date : 2017-01-26T00:00:00.000000000
date : 2017-01-27T00:00:00.000000000
date : 2017-01-28T00:00:00.000000000
date : 2017-01-29T00:00:00.000000000
date : 2017-01-30T00:00:00.000000000
date : 2017-01-31T00:00:00.000000000
date : 2017-02-01T00:00:00.000000000
date : 2017-02-02T00:00:00.000000000
date : 2017-02-03T00:00:00.000000000
date : 2017-02-04T00:00:00.000000000
date : 2017-02-05T00:00:00.000000000
date : 2017-02-06T00:00:00.000000000
date : 2017-02-07T00:00:00.000000000
date : 2017-02-08T00:00:00.000000000
date : 2017-02-09T00:00:00.000000000
date : 2017-02-10T00:00:00.000000000
date : 2017-02-11T00:00:00.000000000
date : 2017-02-12T00:00:00.000000000
date : 2017-02-13T00:00:00.000000000
date : 2017-02-14T00:00:00.000000000
date : 2017-02-15T00:00:00.000000000
date : 2017-02-16T00:00:00.000000000
date : 2017-02-17T00:00:00.000000000
date : 2017-02-18T00:00:00.000000000
date : 2017-02-19T00:00:00.000000000
date : 2017-02-20T00:00:00.000000000
date : 2017-02-21T00:00:00.000000000
date : 2017-02-22T00:00:00.000000000
date : 2017-02-23T00:00:00.000000000
date : 2017-02-24T00:00:00.000000000
date : 2017-02-25T00:00:00.000000000
date : 2017-02-26T00:00:00.000000000
date : 2017-02-27T00:00:00.000000000
date : 2017-02-28T00:00:00.000000000
date : 2017-03-01T00:00:00.000000000
date : 2017-03-02T00:00:00.000000000
date : 2017-03-03T00:00:00.000000000
date : 2017-03-04T00:00:00.000000000
date : 2017-03-05T00:00:00.000000000
date : 2017-03-06T00:00:00.000000000
date : 2017-03-07T00:00:00.000000000
date : 2017-03-08T00:00:00.000000000
date : 2017-03-09T00:00:00.000000000
date : 2017-03-10T00:00:00.000000000
date : 2017-03-11T00:00:00.000000000
date : 2017-03-12T00:00:00.000000000
date : 2017-03-13T00:00:00.000000000
date : 2017-03-14T00:00:00.000000000
date : 2017-03-15T00:00:00.000000000
date : 2017-03-16T00:00:00.000000000
date : 2017-03-17T00:00:00.000000000
date : 2017-03-18T00:00:00.000000000
date : 2017-03-19T00:00:00.000000000

date : 2017-03-20T00:00:00.000000000
date : 2017-03-21T00:00:00.000000000
date : 2017-03-22T00:00:00.000000000
date : 2017-03-23T00:00:00.000000000
date : 2017-03-24T00:00:00.000000000
date : 2017-03-25T00:00:00.000000000
date : 2017-03-26T00:00:00.000000000
date : 2017-03-27T00:00:00.000000000
date : 2017-03-28T00:00:00.000000000
date : 2017-03-29T00:00:00.000000000
date : 2017-03-30T00:00:00.000000000
date : 2017-03-31T00:00:00.000000000
date : 2017-04-01T00:00:00.000000000
date : 2017-04-02T00:00:00.000000000
date : 2017-04-03T00:00:00.000000000
date : 2017-04-04T00:00:00.000000000
date : 2017-04-05T00:00:00.000000000
date : 2017-04-06T00:00:00.000000000
date : 2017-04-07T00:00:00.000000000
date : 2017-04-08T00:00:00.000000000
date : 2017-04-09T00:00:00.000000000
date : 2017-04-10T00:00:00.000000000
date : 2017-04-11T00:00:00.000000000
date : 2017-04-12T00:00:00.000000000
date : 2017-04-13T00:00:00.000000000
date : 2017-04-14T00:00:00.000000000
date : 2017-04-15T00:00:00.000000000
date : 2017-04-16T00:00:00.000000000
date : 2017-04-17T00:00:00.000000000
date : 2017-04-18T00:00:00.000000000
date : 2017-04-19T00:00:00.000000000
date : 2017-04-20T00:00:00.000000000
date : 2017-04-21T00:00:00.000000000
date : 2017-04-22T00:00:00.000000000
date : 2017-04-23T00:00:00.000000000
date : 2017-04-24T00:00:00.000000000
date : 2017-04-25T00:00:00.000000000
date : 2017-04-26T00:00:00.000000000
date : 2017-04-27T00:00:00.000000000
date : 2017-04-28T00:00:00.000000000
date : 2017-04-29T00:00:00.000000000
date : 2017-04-30T00:00:00.000000000
date : 2017-05-01T00:00:00.000000000
date : 2017-05-02T00:00:00.000000000
date : 2017-05-03T00:00:00.000000000
date : 2017-05-04T00:00:00.000000000
date : 2017-05-05T00:00:00.000000000
date : 2017-05-06T00:00:00.000000000
date : 2017-05-07T00:00:00.000000000
date : 2017-05-08T00:00:00.000000000
date : 2017-05-09T00:00:00.000000000
date : 2017-05-10T00:00:00.000000000
date : 2017-05-11T00:00:00.000000000
date : 2017-05-12T00:00:00.000000000
date : 2017-05-13T00:00:00.000000000
date : 2017-05-14T00:00:00.000000000
date : 2017-05-15T00:00:00.000000000
date : 2017-05-16T00:00:00.000000000
date : 2017-05-17T00:00:00.000000000
date : 2017-05-18T00:00:00.000000000
date : 2017-05-19T00:00:00.000000000
date : 2017-05-20T00:00:00.000000000
date : 2017-05-21T00:00:00.000000000
date : 2017-05-22T00:00:00.000000000
date : 2017-05-23T00:00:00.000000000
date : 2017-05-24T00:00:00.000000000
date : 2017-05-25T00:00:00.000000000
date : 2017-05-26T00:00:00.000000000
date : 2017-05-27T00:00:00.000000000
date : 2017-05-28T00:00:00.000000000
date : 2017-05-29T00:00:00.000000000
date : 2017-05-30T00:00:00.000000000
date : 2017-05-31T00:00:00.000000000
date : 2017-06-01T00:00:00.000000000
date : 2017-06-02T00:00:00.000000000
date : 2017-06-03T00:00:00.000000000
date : 2017-06-04T00:00:00.000000000
date : 2017-06-05T00:00:00.000000000
date : 2017-06-06T00:00:00.000000000
date : 2017-06-07T00:00:00.000000000
date : 2017-06-08T00:00:00.000000000
date : 2017-06-09T00:00:00.000000000
date : 2017-06-10T00:00:00.000000000
date : 2017-06-11T00:00:00.000000000
date : 2017-06-12T00:00:00.000000000
date : 2017-06-13T00:00:00.000000000
date : 2017-06-14T00:00:00.000000000
date : 2017-06-15T00:00:00.000000000
date : 2017-06-16T00:00:00.000000000
date : 2017-06-17T00:00:00.000000000
date : 2017-06-18T00:00:00.000000000
date : 2017-06-19T00:00:00.000000000
date : 2017-06-20T00:00:00.000000000
date : 2017-06-21T00:00:00.000000000
date : 2017-06-22T00:00:00.000000000
date : 2017-06-23T00:00:00.000000000
date : 2017-06-24T00:00:00.000000000
date : 2017-06-25T00:00:00.000000000
date : 2017-06-26T00:00:00.000000000
date : 2017-06-27T00:00:00.000000000
date : 2017-06-28T00:00:00.000000000
date : 2017-06-29T00:00:00.000000000
date : 2017-06-30T00:00:00.000000000
date : 2017-07-01T00:00:00.000000000
date : 2017-07-02T00:00:00.000000000
date : 2017-07-03T00:00:00.000000000
date : 2017-07-04T00:00:00.000000000
date : 2017-07-05T00:00:00.000000000
date : 2017-07-06T00:00:00.000000000
date : 2017-07-07T00:00:00.000000000
date : 2017-07-08T00:00:00.000000000
date : 2017-07-09T00:00:00.000000000
date : 2017-07-10T00:00:00.000000000
date : 2017-07-11T00:00:00.000000000
date : 2017-07-12T00:00:00.000000000
date : 2017-07-13T00:00:00.000000000
date : 2017-07-14T00:00:00.000000000
date : 2017-07-15T00:00:00.000000000
date : 2017-07-16T00:00:00.000000000
date : 2017-07-17T00:00:00.000000000
date : 2017-07-18T00:00:00.000000000
date : 2017-07-19T00:00:00.000000000
date : 2017-07-20T00:00:00.000000000
date : 2017-07-21T00:00:00.000000000
date : 2017-07-22T00:00:00.000000000
date : 2017-07-23T00:00:00.000000000
date : 2017-07-24T00:00:00.000000000
date : 2017-07-25T00:00:00.000000000
date : 2017-07-26T00:00:00.000000000
date : 2017-07-27T00:00:00.000000000
date : 2017-07-28T00:00:00.000000000
date : 2017-07-29T00:00:00.000000000
date : 2017-07-30T00:00:00.000000000
date : 2017-07-31T00:00:00.000000000
date : 2017-08-01T00:00:00.000000000
date : 2017-08-02T00:00:00.000000000
date : 2017-08-03T00:00:00.000000000
date : 2017-08-04T00:00:00.000000000
date : 2017-08-05T00:00:00.000000000
date : 2017-08-06T00:00:00.000000000
date : 2017-08-07T00:00:00.000000000
date : 2017-08-08T00:00:00.000000000
date : 2017-08-09T00:00:00.000000000
date : 2017-08-10T00:00:00.000000000
date : 2017-08-11T00:00:00.000000000
date : 2017-08-12T00:00:00.000000000
date : 2017-08-13T00:00:00.000000000
date : 2017-08-14T00:00:00.000000000
date : 2017-08-15T00:00:00.000000000
date : 2017-08-16T00:00:00.000000000
date : 2017-08-17T00:00:00.000000000
date : 2017-08-18T00:00:00.000000000
date : 2017-08-19T00:00:00.000000000
date : 2017-08-20T00:00:00.000000000
date : 2017-08-21T00:00:00.000000000
date : 2017-08-22T00:00:00.000000000
date : 2017-08-23T00:00:00.000000000
date : 2017-08-24T00:00:00.000000000
date : 2017-08-25T00:00:00.000000000
date : 2017-08-26T00:00:00.000000000
date : 2017-08-27T00:00:00.000000000
date : 2017-08-28T00:00:00.000000000
date : 2017-08-29T00:00:00.000000000
date : 2017-08-30T00:00:00.000000000
date : 2017-08-31T00:00:00.000000000
date : 2017-09-01T00:00:00.000000000
date : 2017-09-02T00:00:00.000000000
date : 2017-09-03T00:00:00.000000000
date : 2017-09-04T00:00:00.000000000
date : 2017-09-05T00:00:00.000000000
date : 2017-09-06T00:00:00.000000000
date : 2017-09-07T00:00:00.000000000
date : 2017-09-08T00:00:00.000000000
date : 2017-09-09T00:00:00.000000000
date : 2017-09-10T00:00:00.000000000
date : 2017-09-11T00:00:00.000000000
date : 2017-09-12T00:00:00.000000000
date : 2017-09-13T00:00:00.000000000
date : 2017-09-14T00:00:00.000000000
date : 2017-09-15T00:00:00.000000000
date : 2017-09-16T00:00:00.000000000
date : 2017-09-17T00:00:00.000000000
date : 2017-09-18T00:00:00.000000000
date : 2017-09-19T00:00:00.000000000
date : 2017-09-20T00:00:00.000000000
date : 2017-09-21T00:00:00.000000000
date : 2017-09-22T00:00:00.000000000
date : 2017-09-23T00:00:00.000000000
date : 2017-09-24T00:00:00.000000000
date : 2017-09-25T00:00:00.000000000
date : 2017-09-26T00:00:00.000000000
date : 2017-09-27T00:00:00.000000000
date : 2017-09-28T00:00:00.000000000
date : 2017-09-29T00:00:00.000000000
date : 2017-09-30T00:00:00.000000000
date : 2017-10-01T00:00:00.000000000
date : 2017-10-02T00:00:00.000000000
date : 2017-10-03T00:00:00.000000000
date : 2017-10-04T00:00:00.000000000
date : 2017-10-05T00:00:00.000000000
date : 2017-10-06T00:00:00.000000000
date : 2017-10-07T00:00:00.000000000
date : 2017-10-08T00:00:00.000000000
date : 2017-10-09T00:00:00.000000000
date : 2017-10-10T00:00:00.000000000
date : 2017-10-11T00:00:00.000000000
date : 2017-10-12T00:00:00.000000000
date : 2017-10-13T00:00:00.000000000
date : 2017-10-14T00:00:00.000000000
date : 2017-10-15T00:00:00.000000000
date : 2017-10-16T00:00:00.000000000
date : 2017-10-17T00:00:00.000000000
date : 2017-10-18T00:00:00.000000000
date : 2017-10-19T00:00:00.000000000
date : 2017-10-20T00:00:00.000000000
date : 2017-10-21T00:00:00.000000000
date : 2017-10-22T00:00:00.000000000
date : 2017-10-23T00:00:00.000000000
date : 2017-10-24T00:00:00.000000000
erreur
date : 2017-10-25T00:00:00.000000000
date : 2017-10-26T00:00:00.000000000
date : 2017-10-27T00:00:00.000000000

date : 2017-10-28T00:00:00.000000000
date : 2017-10-29T00:00:00.000000000
date : 2017-10-30T00:00:00.000000000
date : 2017-10-31T00:00:00.000000000
date : 2017-11-01T00:00:00.000000000
date : 2017-11-02T00:00:00.000000000
date : 2017-11-03T00:00:00.000000000
date : 2017-11-04T00:00:00.000000000
date : 2017-11-05T00:00:00.000000000
date : 2017-11-06T00:00:00.000000000
date : 2017-11-07T00:00:00.000000000
date : 2017-11-08T00:00:00.000000000
date : 2017-11-09T00:00:00.000000000
date : 2017-11-10T00:00:00.000000000
date : 2017-11-11T00:00:00.000000000
date : 2017-11-12T00:00:00.000000000
date : 2017-11-13T00:00:00.000000000
date : 2017-11-14T00:00:00.000000000
date : 2017-11-15T00:00:00.000000000
date : 2017-11-16T00:00:00.000000000
date : 2017-11-17T00:00:00.000000000
date : 2017-11-18T00:00:00.000000000
date : 2017-11-19T00:00:00.000000000
date : 2017-11-20T00:00:00.000000000
date : 2017-11-21T00:00:00.000000000
date : 2017-11-22T00:00:00.000000000
date : 2017-11-23T00:00:00.000000000
date : 2017-11-24T00:00:00.000000000
date : 2017-11-25T00:00:00.000000000
date : 2017-11-26T00:00:00.000000000
date : 2017-11-27T00:00:00.000000000
date : 2017-11-28T00:00:00.000000000
date : 2017-11-29T00:00:00.000000000
date : 2017-11-30T00:00:00.000000000
date : 2017-12-01T00:00:00.000000000
date : 2017-12-02T00:00:00.000000000
date : 2017-12-03T00:00:00.000000000
date : 2017-12-04T00:00:00.000000000
erreur
date : 2017-12-05T00:00:00.000000000
date : 2017-12-06T00:00:00.000000000
date : 2017-12-07T00:00:00.000000000
date : 2017-12-08T00:00:00.000000000
date : 2017-12-09T00:00:00.000000000
date : 2017-12-10T00:00:00.000000000
date : 2017-12-11T00:00:00.000000000
date : 2017-12-12T00:00:00.000000000
date : 2017-12-13T00:00:00.000000000
date : 2017-12-14T00:00:00.000000000
date : 2017-12-15T00:00:00.000000000
date : 2017-12-16T00:00:00.000000000
date : 2017-12-17T00:00:00.000000000
date : 2017-12-18T00:00:00.000000000
date : 2017-12-19T00:00:00.000000000
date : 2017-12-20T00:00:00.000000000
date : 2017-12-21T00:00:00.000000000
date : 2017-12-22T00:00:00.000000000
date : 2017-12-23T00:00:00.000000000
date : 2017-12-24T00:00:00.000000000
date : 2017-12-25T00:00:00.000000000
date : 2017-12-26T00:00:00.000000000
date : 2017-12-27T00:00:00.000000000
date : 2017-12-28T00:00:00.000000000
date : 2017-12-29T00:00:00.000000000
date : 2017-12-30T00:00:00.000000000

In [14]:
path = './data_meteonet/test/3D_arpege/'
df_X_test = traitement_forecast.add_prevision_3D(p,df_distance3, df_X_test, path, model, bool_train = False)

date : 0
./data_meteonet/test/3D_arpege/arpege_3D_height_1.nc
date : 1
./data_meteonet/test/3D_arpege/arpege_3D_height_2.nc
date : 2
./data_meteonet/test/3D_arpege/arpege_3D_height_3.nc
date : 3
./data_meteonet/test/3D_arpege/arpege_3D_height_4.nc
date : 4
./data_meteonet/test/3D_arpege/arpege_3D_height_5.nc
date : 5
./data_meteonet/test/3D_arpege/arpege_3D_height_6.nc
date : 6
./data_meteonet/test/3D_arpege/arpege_3D_height_7.nc
date : 7
./data_meteonet/test/3D_arpege/arpege_3D_height_8.nc
date : 8
./data_meteonet/test/3D_arpege/arpege_3D_height_9.nc
date : 9
./data_meteonet/test/3D_arpege/arpege_3D_height_10.nc
date : 10
./data_meteonet/test/3D_arpege/arpege_3D_height_11.nc
date : 11
./data_meteonet/test/3D_arpege/arpege_3D_height_12.nc
date : 12
./data_meteonet/test/3D_arpege/arpege_3D_height_13.nc
date : 13
./data_meteonet/test/3D_arpege/arpege_3D_height_14.nc
date : 14
./data_meteonet/test/3D_arpege/arpege_3D_height_15.nc
date : 15
./data_meteonet/test/3D_arpege/arpege_3D_height_16.nc
date : 16
./data_meteonet/test/3D_arpege/arpege_3D_height_17.nc
date : 17
./data_meteonet/test/3D_arpege/arpege_3D_height_18.nc
date : 18
./data_meteonet/test/3D_arpege/arpege_3D_height_19.nc
date : 19
./data_meteonet/test/3D_arpege/arpege_3D_height_20.nc
date : 20
./data_meteonet/test/3D_arpege/arpege_3D_height_21.nc
date : 21
./data_meteonet/test/3D_arpege/arpege_3D_height_22.nc
date : 22
./data_meteonet/test/3D_arpege/arpege_3D_height_23.nc
date : 23
./data_meteonet/test/3D_arpege/arpege_3D_height_24.nc
date : 24
./data_meteonet/test/3D_arpege/arpege_3D_height_25.nc
date : 25
./data_meteonet/test/3D_arpege/arpege_3D_height_26.nc
date : 26
./data_meteonet/test/3D_arpege/arpege_3D_height_27.nc
date : 27
./data_meteonet/test/3D_arpege/arpege_3D_height_28.nc
date : 28
./data_meteonet/test/3D_arpege/arpege_3D_height_29.nc
date : 29
./data_meteonet/test/3D_arpege/arpege_3D_height_30.nc
date : 30
./data_meteonet/test/3D_arpege/arpege_3D_height_31.nc
date : 31
./data_meteonet/test/3D_arpege/arpege_3D_height_32.nc
date : 32
./data_meteonet/test/3D_arpege/arpege_3D_height_33.nc
date : 33
./data_meteonet/test/3D_arpege/arpege_3D_height_34.nc
date : 34
./data_meteonet/test/3D_arpege/arpege_3D_height_35.nc
date : 35
./data_meteonet/test/3D_arpege/arpege_3D_height_36.nc
date : 36
./data_meteonet/test/3D_arpege/arpege_3D_height_37.nc
date : 37
./data_meteonet/test/3D_arpege/arpege_3D_height_38.nc
date : 38
./data_meteonet/test/3D_arpege/arpege_3D_height_39.nc
date : 39
./data_meteonet/test/3D_arpege/arpege_3D_height_40.nc
date : 40
./data_meteonet/test/3D_arpege/arpege_3D_height_41.nc
date : 41
./data_meteonet/test/3D_arpege/arpege_3D_height_42.nc
date : 42
./data_meteonet/test/3D_arpege/arpege_3D_height_43.nc
date : 43
./data_meteonet/test/3D_arpege/arpege_3D_height_44.nc
date : 44
./data_meteonet/test/3D_arpege/arpege_3D_height_45.nc
date : 45
./data_meteonet/test/3D_arpege/arpege_3D_height_46.nc
date : 46
./data_meteonet/test/3D_arpege/arpege_3D_height_47.nc
date : 47
./data_meteonet/test/3D_arpege/arpege_3D_height_48.nc
date : 48
./data_meteonet/test/3D_arpege/arpege_3D_height_49.nc
date : 49
./data_meteonet/test/3D_arpege/arpege_3D_height_50.nc
date : 50
./data_meteonet/test/3D_arpege/arpege_3D_height_51.nc
date : 51
./data_meteonet/test/3D_arpege/arpege_3D_height_52.nc
date : 52
./data_meteonet/test/3D_arpege/arpege_3D_height_53.nc
date : 53
./data_meteonet/test/3D_arpege/arpege_3D_height_54.nc
date : 54
./data_meteonet/test/3D_arpege/arpege_3D_height_55.nc
date : 55
./data_meteonet/test/3D_arpege/arpege_3D_height_56.nc
date : 56
./data_meteonet/test/3D_arpege/arpege_3D_height_57.nc
date : 57
./data_meteonet/test/3D_arpege/arpege_3D_height_58.nc
date : 58
./data_meteonet/test/3D_arpege/arpege_3D_height_59.nc
date : 59
./data_meteonet/test/3D_arpege/arpege_3D_height_60.nc
date : 60
./data_meteonet/test/3D_arpege/arpege_3D_height_61.nc
date : 61
./data_meteonet/test/3D_arpege/arpege_3D_height_62.nc
date : 62
./data_meteonet/test/3D_arpege/arpege_3D_height_63.nc
date : 63
./data_meteonet/test/3D_arpege/arpege_3D_height_64.nc
date : 64
./data_meteonet/test/3D_arpege/arpege_3D_height_65.nc
date : 65
./data_meteonet/test/3D_arpege/arpege_3D_height_66.nc
date : 66
./data_meteonet/test/3D_arpege/arpege_3D_height_67.nc
date : 67
./data_meteonet/test/3D_arpege/arpege_3D_height_68.nc
date : 68
./data_meteonet/test/3D_arpege/arpege_3D_height_69.nc
date : 69
./data_meteonet/test/3D_arpege/arpege_3D_height_70.nc
date : 70
./data_meteonet/test/3D_arpege/arpege_3D_height_71.nc
date : 71
./data_meteonet/test/3D_arpege/arpege_3D_height_72.nc
date : 72
./data_meteonet/test/3D_arpege/arpege_3D_height_73.nc
date : 73
./data_meteonet/test/3D_arpege/arpege_3D_height_74.nc
date : 74
./data_meteonet/test/3D_arpege/arpege_3D_height_75.nc
date : 75
./data_meteonet/test/3D_arpege/arpege_3D_height_76.nc
date : 76
./data_meteonet/test/3D_arpege/arpege_3D_height_77.nc
date : 77
./data_meteonet/test/3D_arpege/arpege_3D_height_78.nc
date : 78
./data_meteonet/test/3D_arpege/arpege_3D_height_79.nc
date : 79
./data_meteonet/test/3D_arpege/arpege_3D_height_80.nc
date : 80
./data_meteonet/test/3D_arpege/arpege_3D_height_81.nc
date : 81
./data_meteonet/test/3D_arpege/arpege_3D_height_82.nc
date : 82
./data_meteonet/test/3D_arpege/arpege_3D_height_83.nc
date : 83
./data_meteonet/test/3D_arpege/arpege_3D_height_84.nc
date : 84
./data_meteonet/test/3D_arpege/arpege_3D_height_85.nc
date : 85
./data_meteonet/test/3D_arpege/arpege_3D_height_86.nc
date : 86
./data_meteonet/test/3D_arpege/arpege_3D_height_87.nc
date : 87
./data_meteonet/test/3D_arpege/arpege_3D_height_88.nc
date : 88
./data_meteonet/test/3D_arpege/arpege_3D_height_89.nc
date : 89
./data_meteonet/test/3D_arpege/arpege_3D_height_90.nc
date : 90
./data_meteonet/test/3D_arpege/arpege_3D_height_91.nc
date : 91
./data_meteonet/test/3D_arpege/arpege_3D_height_92.nc
date : 92
./data_meteonet/test/3D_arpege/arpege_3D_height_93.nc
date : 93
./data_meteonet/test/3D_arpege/arpege_3D_height_94.nc
date : 94
./data_meteonet/test/3D_arpege/arpege_3D_height_95.nc
date : 95
./data_meteonet/test/3D_arpege/arpege_3D_height_96.nc
date : 96
./data_meteonet/test/3D_arpege/arpege_3D_height_97.nc
date : 97
./data_meteonet/test/3D_arpege/arpege_3D_height_98.nc
date : 98
./data_meteonet/test/3D_arpege/arpege_3D_height_99.nc
date : 99
./data_meteonet/test/3D_arpege/arpege_3D_height_100.nc
date : 100
./data_meteonet/test/3D_arpege/arpege_3D_height_101.nc
date : 101
./data_meteonet/test/3D_arpege/arpege_3D_height_102.nc
date : 102
./data_meteonet/test/3D_arpege/arpege_3D_height_103.nc
date : 103
./data_meteonet/test/3D_arpege/arpege_3D_height_104.nc
date : 104
./data_meteonet/test/3D_arpege/arpege_3D_height_105.nc
date : 105
./data_meteonet/test/3D_arpege/arpege_3D_height_106.nc
date : 106
./data_meteonet/test/3D_arpege/arpege_3D_height_107.nc
date : 107
./data_meteonet/test/3D_arpege/arpege_3D_height_108.nc
date : 108
./data_meteonet/test/3D_arpege/arpege_3D_height_109.nc
date : 109
./data_meteonet/test/3D_arpege/arpege_3D_height_110.nc
date : 110
./data_meteonet/test/3D_arpege/arpege_3D_height_111.nc
date : 111
./data_meteonet/test/3D_arpege/arpege_3D_height_112.nc
date : 112
./data_meteonet/test/3D_arpege/arpege_3D_height_113.nc
date : 113
./data_meteonet/test/3D_arpege/arpege_3D_height_114.nc
date : 114
./data_meteonet/test/3D_arpege/arpege_3D_height_115.nc
date : 115
./data_meteonet/test/3D_arpege/arpege_3D_height_116.nc
date : 116
./data_meteonet/test/3D_arpege/arpege_3D_height_117.nc
date : 117
./data_meteonet/test/3D_arpege/arpege_3D_height_118.nc
date : 118
./data_meteonet/test/3D_arpege/arpege_3D_height_119.nc
date : 119
./data_meteonet/test/3D_arpege/arpege_3D_height_120.nc
date : 120
./data_meteonet/test/3D_arpege/arpege_3D_height_121.nc
date : 121
./data_meteonet/test/3D_arpege/arpege_3D_height_122.nc
date : 122
./data_meteonet/test/3D_arpege/arpege_3D_height_123.nc
date : 123
./data_meteonet/test/3D_arpege/arpege_3D_height_124.nc
date : 124
./data_meteonet/test/3D_arpege/arpege_3D_height_125.nc
date : 125
./data_meteonet/test/3D_arpege/arpege_3D_height_126.nc
date : 126
./data_meteonet/test/3D_arpege/arpege_3D_height_127.nc
date : 127
./data_meteonet/test/3D_arpege/arpege_3D_height_128.nc

date : 128
./data_meteonet/test/3D_arpege/arpege_3D_height_129.nc
date : 129
./data_meteonet/test/3D_arpege/arpege_3D_height_130.nc
date : 130
./data_meteonet/test/3D_arpege/arpege_3D_height_131.nc
date : 131
./data_meteonet/test/3D_arpege/arpege_3D_height_132.nc
date : 132
./data_meteonet/test/3D_arpege/arpege_3D_height_133.nc
date : 133
./data_meteonet/test/3D_arpege/arpege_3D_height_134.nc
date : 134
./data_meteonet/test/3D_arpege/arpege_3D_height_135.nc
date : 135
./data_meteonet/test/3D_arpege/arpege_3D_height_136.nc
date : 136
./data_meteonet/test/3D_arpege/arpege_3D_height_137.nc
erreur
date : 137
./data_meteonet/test/3D_arpege/arpege_3D_height_138.nc
date : 138
./data_meteonet/test/3D_arpege/arpege_3D_height_139.nc
date : 139
./data_meteonet/test/3D_arpege/arpege_3D_height_140.nc
date : 140
./data_meteonet/test/3D_arpege/arpege_3D_height_141.nc
date : 141
./data_meteonet/test/3D_arpege/arpege_3D_height_142.nc
date : 142
./data_meteonet/test/3D_arpege/arpege_3D_height_143.nc
date : 143
./data_meteonet/test/3D_arpege/arpege_3D_height_144.nc
date : 144
./data_meteonet/test/3D_arpege/arpege_3D_height_145.nc
date : 145
./data_meteonet/test/3D_arpege/arpege_3D_height_146.nc
date : 146
./data_meteonet/test/3D_arpege/arpege_3D_height_147.nc
date : 147
./data_meteonet/test/3D_arpege/arpege_3D_height_148.nc
date : 148
./data_meteonet/test/3D_arpege/arpege_3D_height_149.nc
date : 149
./data_meteonet/test/3D_arpege/arpege_3D_height_150.nc
date : 150
./data_meteonet/test/3D_arpege/arpege_3D_height_151.nc
date : 151
./data_meteonet/test/3D_arpege/arpege_3D_height_152.nc
date : 152
./data_meteonet/test/3D_arpege/arpege_3D_height_153.nc
date : 153
./data_meteonet/test/3D_arpege/arpege_3D_height_154.nc
date : 154
./data_meteonet/test/3D_arpege/arpege_3D_height_155.nc
date : 155
./data_meteonet/test/3D_arpege/arpege_3D_height_156.nc
date : 156
./data_meteonet/test/3D_arpege/arpege_3D_height_157.nc
date : 157
./data_meteonet/test/3D_arpege/arpege_3D_height_158.nc
date : 158
./data_meteonet/test/3D_arpege/arpege_3D_height_159.nc
date : 159
./data_meteonet/test/3D_arpege/arpege_3D_height_160.nc
date : 160
./data_meteonet/test/3D_arpege/arpege_3D_height_161.nc
date : 161
./data_meteonet/test/3D_arpege/arpege_3D_height_162.nc
date : 162
./data_meteonet/test/3D_arpege/arpege_3D_height_163.nc
date : 163
./data_meteonet/test/3D_arpege/arpege_3D_height_164.nc
date : 164
./data_meteonet/test/3D_arpege/arpege_3D_height_165.nc
date : 165
./data_meteonet/test/3D_arpege/arpege_3D_height_166.nc
date : 166
./data_meteonet/test/3D_arpege/arpege_3D_height_167.nc
date : 167
./data_meteonet/test/3D_arpege/arpege_3D_height_168.nc
date : 168
./data_meteonet/test/3D_arpege/arpege_3D_height_169.nc
date : 169
./data_meteonet/test/3D_arpege/arpege_3D_height_170.nc
date : 170
./data_meteonet/test/3D_arpege/arpege_3D_height_171.nc
date : 171
./data_meteonet/test/3D_arpege/arpege_3D_height_172.nc
date : 172
./data_meteonet/test/3D_arpege/arpege_3D_height_173.nc
date : 173
./data_meteonet/test/3D_arpege/arpege_3D_height_174.nc
date : 174
./data_meteonet/test/3D_arpege/arpege_3D_height_175.nc
date : 175
./data_meteonet/test/3D_arpege/arpege_3D_height_176.nc
date : 176
./data_meteonet/test/3D_arpege/arpege_3D_height_177.nc
date : 177
./data_meteonet/test/3D_arpege/arpege_3D_height_178.nc
date : 178
./data_meteonet/test/3D_arpege/arpege_3D_height_179.nc
date : 179
./data_meteonet/test/3D_arpege/arpege_3D_height_180.nc
date : 180
./data_meteonet/test/3D_arpege/arpege_3D_height_181.nc
date : 181
./data_meteonet/test/3D_arpege/arpege_3D_height_182.nc
date : 182
./data_meteonet/test/3D_arpege/arpege_3D_height_183.nc
date : 183
./data_meteonet/test/3D_arpege/arpege_3D_height_184.nc
date : 184
./data_meteonet/test/3D_arpege/arpege_3D_height_185.nc
date : 185
./data_meteonet/test/3D_arpege/arpege_3D_height_186.nc
date : 186
./data_meteonet/test/3D_arpege/arpege_3D_height_187.nc
date : 187
./data_meteonet/test/3D_arpege/arpege_3D_height_188.nc
date : 188
./data_meteonet/test/3D_arpege/arpege_3D_height_189.nc
date : 189
./data_meteonet/test/3D_arpege/arpege_3D_height_190.nc
date : 190
./data_meteonet/test/3D_arpege/arpege_3D_height_191.nc
date : 191
./data_meteonet/test/3D_arpege/arpege_3D_height_192.nc
date : 192
./data_meteonet/test/3D_arpege/arpege_3D_height_193.nc
date : 193
./data_meteonet/test/3D_arpege/arpege_3D_height_194.nc
date : 194
./data_meteonet/test/3D_arpege/arpege_3D_height_195.nc
date : 195
./data_meteonet/test/3D_arpege/arpege_3D_height_196.nc
date : 196
./data_meteonet/test/3D_arpege/arpege_3D_height_197.nc
date : 197
./data_meteonet/test/3D_arpege/arpege_3D_height_198.nc
date : 198
./data_meteonet/test/3D_arpege/arpege_3D_height_199.nc
date : 199
./data_meteonet/test/3D_arpege/arpege_3D_height_200.nc
date : 200
./data_meteonet/test/3D_arpege/arpege_3D_height_201.nc
date : 201
./data_meteonet/test/3D_arpege/arpege_3D_height_202.nc
date : 202
./data_meteonet/test/3D_arpege/arpege_3D_height_203.nc
date : 203
./data_meteonet/test/3D_arpege/arpege_3D_height_204.nc
date : 204
./data_meteonet/test/3D_arpege/arpege_3D_height_205.nc
date : 205
./data_meteonet/test/3D_arpege/arpege_3D_height_206.nc
date : 206
./data_meteonet/test/3D_arpege/arpege_3D_height_207.nc
date : 207
./data_meteonet/test/3D_arpege/arpege_3D_height_208.nc
date : 208
./data_meteonet/test/3D_arpege/arpege_3D_height_209.nc
date : 209
./data_meteonet/test/3D_arpege/arpege_3D_height_210.nc
date : 210
./data_meteonet/test/3D_arpege/arpege_3D_height_211.nc
date : 211
./data_meteonet/test/3D_arpege/arpege_3D_height_212.nc
date : 212
./data_meteonet/test/3D_arpege/arpege_3D_height_213.nc
date : 213
./data_meteonet/test/3D_arpege/arpege_3D_height_214.nc
date : 214
./data_meteonet/test/3D_arpege/arpege_3D_height_215.nc
date : 215
./data_meteonet/test/3D_arpege/arpege_3D_height_216.nc
date : 216
./data_meteonet/test/3D_arpege/arpege_3D_height_217.nc
date : 217
./data_meteonet/test/3D_arpege/arpege_3D_height_218.nc
date : 218
./data_meteonet/test/3D_arpege/arpege_3D_height_219.nc
date : 219
./data_meteonet/test/3D_arpege/arpege_3D_height_220.nc
date : 220
./data_meteonet/test/3D_arpege/arpege_3D_height_221.nc
date : 221
./data_meteonet/test/3D_arpege/arpege_3D_height_222.nc
date : 222
./data_meteonet/test/3D_arpege/arpege_3D_height_223.nc
date : 223
./data_meteonet/test/3D_arpege/arpege_3D_height_224.nc
date : 224
./data_meteonet/test/3D_arpege/arpege_3D_height_225.nc
date : 225
./data_meteonet/test/3D_arpege/arpege_3D_height_226.nc
date : 226
./data_meteonet/test/3D_arpege/arpege_3D_height_227.nc
date : 227
./data_meteonet/test/3D_arpege/arpege_3D_height_228.nc
date : 228
./data_meteonet/test/3D_arpege/arpege_3D_height_229.nc
date : 229
./data_meteonet/test/3D_arpege/arpege_3D_height_230.nc
date : 230
./data_meteonet/test/3D_arpege/arpege_3D_height_231.nc
date : 231
./data_meteonet/test/3D_arpege/arpege_3D_height_232.nc
date : 232
./data_meteonet/test/3D_arpege/arpege_3D_height_233.nc
date : 233
./data_meteonet/test/3D_arpege/arpege_3D_height_234.nc
date : 234
./data_meteonet/test/3D_arpege/arpege_3D_height_235.nc
date : 235
./data_meteonet/test/3D_arpege/arpege_3D_height_236.nc
date : 236
./data_meteonet/test/3D_arpege/arpege_3D_height_237.nc
date : 237
./data_meteonet/test/3D_arpege/arpege_3D_height_238.nc
date : 238
./data_meteonet/test/3D_arpege/arpege_3D_height_239.nc
date : 239
./data_meteonet/test/3D_arpege/arpege_3D_height_240.nc
date : 240
./data_meteonet/test/3D_arpege/arpege_3D_height_241.nc
date : 241
./data_meteonet/test/3D_arpege/arpege_3D_height_242.nc
date : 242
./data_meteonet/test/3D_arpege/arpege_3D_height_243.nc
date : 243
./data_meteonet/test/3D_arpege/arpege_3D_height_244.nc
date : 244
./data_meteonet/test/3D_arpege/arpege_3D_height_245.nc
date : 245
./data_meteonet/test/3D_arpege/arpege_3D_height_246.nc
date : 246
./data_meteonet/test/3D_arpege/arpege_3D_height_247.nc
date : 247
./data_meteonet/test/3D_arpege/arpege_3D_height_248.nc
date : 248
./data_meteonet/test/3D_arpege/arpege_3D_height_249.nc
date : 249
./data_meteonet/test/3D_arpege/arpege_3D_height_250.nc
date : 250
./data_meteonet/test/3D_arpege/arpege_3D_height_251.nc
date : 251
./data_meteonet/test/3D_arpege/arpege_3D_height_252.nc
date : 252
./data_meteonet/test/3D_arpege/arpege_3D_height_253.nc

date : 253
./data_meteonet/test/3D_arpege/arpege_3D_height_254.nc
date : 254
./data_meteonet/test/3D_arpege/arpege_3D_height_255.nc
date : 255
./data_meteonet/test/3D_arpege/arpege_3D_height_256.nc
date : 256
./data_meteonet/test/3D_arpege/arpege_3D_height_257.nc
date : 257
./data_meteonet/test/3D_arpege/arpege_3D_height_258.nc
date : 258
./data_meteonet/test/3D_arpege/arpege_3D_height_259.nc
date : 259
./data_meteonet/test/3D_arpege/arpege_3D_height_260.nc
date : 260
./data_meteonet/test/3D_arpege/arpege_3D_height_261.nc
date : 261
./data_meteonet/test/3D_arpege/arpege_3D_height_262.nc
date : 262
./data_meteonet/test/3D_arpege/arpege_3D_height_263.nc
date : 263
./data_meteonet/test/3D_arpege/arpege_3D_height_264.nc
date : 264
./data_meteonet/test/3D_arpege/arpege_3D_height_265.nc
date : 265
./data_meteonet/test/3D_arpege/arpege_3D_height_266.nc
date : 266
./data_meteonet/test/3D_arpege/arpege_3D_height_267.nc
date : 267
./data_meteonet/test/3D_arpege/arpege_3D_height_268.nc
date : 268
./data_meteonet/test/3D_arpege/arpege_3D_height_269.nc
date : 269
./data_meteonet/test/3D_arpege/arpege_3D_height_270.nc
date : 270
./data_meteonet/test/3D_arpege/arpege_3D_height_271.nc
date : 271
./data_meteonet/test/3D_arpege/arpege_3D_height_272.nc
date : 272
./data_meteonet/test/3D_arpege/arpege_3D_height_273.nc
date : 273
./data_meteonet/test/3D_arpege/arpege_3D_height_274.nc
date : 274
./data_meteonet/test/3D_arpege/arpege_3D_height_275.nc
date : 275
./data_meteonet/test/3D_arpege/arpege_3D_height_276.nc
date : 276
./data_meteonet/test/3D_arpege/arpege_3D_height_277.nc
date : 277
./data_meteonet/test/3D_arpege/arpege_3D_height_278.nc
date : 278
./data_meteonet/test/3D_arpege/arpege_3D_height_279.nc
date : 279
./data_meteonet/test/3D_arpege/arpege_3D_height_280.nc
date : 280
./data_meteonet/test/3D_arpege/arpege_3D_height_281.nc
date : 281
./data_meteonet/test/3D_arpege/arpege_3D_height_282.nc
date : 282
./data_meteonet/test/3D_arpege/arpege_3D_height_283.nc
date : 283
./data_meteonet/test/3D_arpege/arpege_3D_height_284.nc
date : 284
./data_meteonet/test/3D_arpege/arpege_3D_height_285.nc
date : 285
./data_meteonet/test/3D_arpege/arpege_3D_height_286.nc
date : 286
./data_meteonet/test/3D_arpege/arpege_3D_height_287.nc
date : 287
./data_meteonet/test/3D_arpege/arpege_3D_height_288.nc
date : 288
./data_meteonet/test/3D_arpege/arpege_3D_height_289.nc
date : 289
./data_meteonet/test/3D_arpege/arpege_3D_height_290.nc
date : 290
./data_meteonet/test/3D_arpege/arpege_3D_height_291.nc
date : 291
./data_meteonet/test/3D_arpege/arpege_3D_height_292.nc
date : 292
./data_meteonet/test/3D_arpege/arpege_3D_height_293.nc
date : 293
./data_meteonet/test/3D_arpege/arpege_3D_height_294.nc
date : 294
./data_meteonet/test/3D_arpege/arpege_3D_height_295.nc
date : 295
./data_meteonet/test/3D_arpege/arpege_3D_height_296.nc
date : 296
./data_meteonet/test/3D_arpege/arpege_3D_height_297.nc
date : 297
./data_meteonet/test/3D_arpege/arpege_3D_height_298.nc
date : 298
./data_meteonet/test/3D_arpege/arpege_3D_height_299.nc
date : 299
./data_meteonet/test/3D_arpege/arpege_3D_height_300.nc
date : 300
./data_meteonet/test/3D_arpege/arpege_3D_height_301.nc
date : 301
./data_meteonet/test/3D_arpege/arpege_3D_height_302.nc
date : 302
./data_meteonet/test/3D_arpege/arpege_3D_height_303.nc
date : 303
./data_meteonet/test/3D_arpege/arpege_3D_height_304.nc
date : 304
./data_meteonet/test/3D_arpege/arpege_3D_height_305.nc
date : 305
./data_meteonet/test/3D_arpege/arpege_3D_height_306.nc
date : 306
./data_meteonet/test/3D_arpege/arpege_3D_height_307.nc
date : 307
./data_meteonet/test/3D_arpege/arpege_3D_height_308.nc
date : 308
./data_meteonet/test/3D_arpege/arpege_3D_height_309.nc
date : 309
./data_meteonet/test/3D_arpege/arpege_3D_height_310.nc
date : 310
./data_meteonet/test/3D_arpege/arpege_3D_height_311.nc
date : 311
./data_meteonet/test/3D_arpege/arpege_3D_height_312.nc
date : 312
./data_meteonet/test/3D_arpege/arpege_3D_height_313.nc
date : 313
./data_meteonet/test/3D_arpege/arpege_3D_height_314.nc
date : 314
./data_meteonet/test/3D_arpege/arpege_3D_height_315.nc
date : 315
./data_meteonet/test/3D_arpege/arpege_3D_height_316.nc
date : 316
./data_meteonet/test/3D_arpege/arpege_3D_height_317.nc
date : 317
./data_meteonet/test/3D_arpege/arpege_3D_height_318.nc
date : 318
./data_meteonet/test/3D_arpege/arpege_3D_height_319.nc
date : 319
./data_meteonet/test/3D_arpege/arpege_3D_height_320.nc
date : 320
./data_meteonet/test/3D_arpege/arpege_3D_height_321.nc
date : 321
./data_meteonet/test/3D_arpege/arpege_3D_height_322.nc
date : 322
./data_meteonet/test/3D_arpege/arpege_3D_height_323.nc
date : 323
./data_meteonet/test/3D_arpege/arpege_3D_height_324.nc
date : 324
./data_meteonet/test/3D_arpege/arpege_3D_height_325.nc
date : 325
./data_meteonet/test/3D_arpege/arpege_3D_height_326.nc
date : 326
./data_meteonet/test/3D_arpege/arpege_3D_height_327.nc
date : 327
./data_meteonet/test/3D_arpege/arpege_3D_height_328.nc
date : 328
./data_meteonet/test/3D_arpege/arpege_3D_height_329.nc
date : 329
./data_meteonet/test/3D_arpege/arpege_3D_height_330.nc
date : 330
./data_meteonet/test/3D_arpege/arpege_3D_height_331.nc
date : 331
./data_meteonet/test/3D_arpege/arpege_3D_height_332.nc
date : 332
./data_meteonet/test/3D_arpege/arpege_3D_height_333.nc
date : 333
./data_meteonet/test/3D_arpege/arpege_3D_height_334.nc
date : 334
./data_meteonet/test/3D_arpege/arpege_3D_height_335.nc
date : 335
./data_meteonet/test/3D_arpege/arpege_3D_height_336.nc
date : 336
./data_meteonet/test/3D_arpege/arpege_3D_height_337.nc
date : 337
./data_meteonet/test/3D_arpege/arpege_3D_height_338.nc
date : 338
./data_meteonet/test/3D_arpege/arpege_3D_height_339.nc
date : 339
./data_meteonet/test/3D_arpege/arpege_3D_height_340.nc
date : 340
./data_meteonet/test/3D_arpege/arpege_3D_height_341.nc
date : 341
./data_meteonet/test/3D_arpege/arpege_3D_height_342.nc
date : 342
./data_meteonet/test/3D_arpege/arpege_3D_height_343.nc
date : 343
./data_meteonet/test/3D_arpege/arpege_3D_height_344.nc
date : 344
./data_meteonet/test/3D_arpege/arpege_3D_height_345.nc
date : 345
./data_meteonet/test/3D_arpege/arpege_3D_height_346.nc
date : 346
./data_meteonet/test/3D_arpege/arpege_3D_height_347.nc
date : 347
./data_meteonet/test/3D_arpege/arpege_3D_height_348.nc
date : 348
./data_meteonet/test/3D_arpege/arpege_3D_height_349.nc
date : 349
./data_meteonet/test/3D_arpege/arpege_3D_height_350.nc
date : 350
./data_meteonet/test/3D_arpege/arpege_3D_height_351.nc
date : 351
./data_meteonet/test/3D_arpege/arpege_3D_height_352.nc
date : 352
./data_meteonet/test/3D_arpege/arpege_3D_height_353.nc
date : 353
./data_meteonet/test/3D_arpege/arpege_3D_height_354.nc
date : 354
./data_meteonet/test/3D_arpege/arpege_3D_height_355.nc
date : 355
./data_meteonet/test/3D_arpege/arpege_3D_height_356.nc
date : 356
./data_meteonet/test/3D_arpege/arpege_3D_height_357.nc
date : 357
./data_meteonet/test/3D_arpege/arpege_3D_height_358.nc
date : 358
./data_meteonet/test/3D_arpege/arpege_3D_height_359.nc
date : 359
./data_meteonet/test/3D_arpege/arpege_3D_height_360.nc
date : 360
./data_meteonet/test/3D_arpege/arpege_3D_height_361.nc
date : 361
./data_meteonet/test/3D_arpege/arpege_3D_height_362.nc
date : 362
./data_meteonet/test/3D_arpege/arpege_3D_height_363.nc
erreur

In [15]:
#téléchargement des dataframes
df_train.to_csv("df_train_complet_avec_nan.csv", index = False)

df_X_test.to_csv("df_X_test_complet_avec_nan.csv", index = False)

### Traitement des NaN dans les données forecast

In [12]:
df_X_test = pd.read_csv("df_X_test_complet_avec_nan.csv")
df_train = pd.read_csv("df_train_complet_avec_nan.csv")

In [14]:
df_X_test.describe()

,day,number_sta,ff,t,td,hu,dd,precip,month_2,month_3,...,forecast_2D_arpege_r,forecast_2D_arpege_tp,forecast_2D_arpege_msl,forecast_arpege_3D_height_20,forecast_arpege_3D_height_100,forecast_arpege_3D_height_500,forecast_arpege_3D_height_875,forecast_arpege_3D_height_1375,forecast_arpege_3D_height_2000,forecast_arpege_3D_height_3000
count,85140.000000,8.514000e+04,47067.000000,85078.000000,55263.000000,55272.000000,47061.000000,85140.000000,85140.000000,85140.000000,...,84216.000000,84434.000000,84434.000000,84697.000000,84697.000000,84697.000000,84697.000000,84697.000000,84697.000000,84697.000000
mean,181.376368,4.940777e+07,3.727269,285.412636,281.482136,79.560229,179.075554,2.211344,0.073949,0.083051,...,78.602467,2.418337,101598.909738,100108.528477,99155.253732,94519.565851,90344.499270,85017.858974,78733.681867,69499.345232
std,104.684171,2.191618e+07,1.970027,6.068282,4.956047,11.931719,73.384732,4.538714,0.261689,0.275962,...,14.848274,4.333288,940.991605,1216.898129,1207.095166,1165.981092,1137.363891,1114.908952,1107.754739,1119.682311
min,0.000000,1.404700e+07,0.000000,265.922083,226.035833,2.005208,0.000000,0.000000,0.000000,0.000000,...,27.699097,0.000000,97895.091108,93826.321702,92917.524766,88527.319230,84599.207316,79596.280314,73576.890300,64707.245064
25%,91.000000,2.926300e+07,2.355000,281.018438,278.191458,72.307292,122.791667,0.000000,0.000000,0.000000,...,69.047057,0.005952,101091.483231,99381.289326,98435.568079,93827.606847,89668.468010,84347.601164,78054.624324,68780.505991
50%,182.000000,4.902000e+07,3.288333,284.974167,281.725833,81.450000,189.166667,0.200000,0.000000,0.000000,...,82.215505,0.390117,101693.030136,100175.660700,99225.715243,94603.799703,90438.999390,85123.693274,78848.424106,69624.532862
75%,272.000000,7.208600e+07,4.643333,290.026667,285.262083,88.567708,235.666667,2.200000,0.000000,0.000000,...,90.397741,3.133457,102169.786457,100937.445030,99979.726057,95322.749835,91137.631950,85806.324498,79530.562750,70316.859762
max,362.000000,9.569000e+07,19.580417,305.843750,295.593333,100.000000,350.750000,73.600000,1.000000,1.000000,...,99.915835,64.374146,104152.288853,103800.914190,102789.630665,97849.083563,93417.817007,87920.888349,81597.469941,72332.366235

In [14]:
for col in df_train.columns : 
    print(col, " : ", sum(df_train[col].isnull()), " NaN = ", sum(df_train[col].isnull())/df_train.shape[0]*100, "%")

date  :  0  NaN =  0.0 %
number_sta  :  0  NaN =  0.0 %
ff  :  69049  NaN =  42.5947059658127 %
t  :  156  NaN =  0.09623273516874657 %
td  :  48618  NaN =  29.99130204124436 %
hu  :  48544  NaN =  29.945653179689955 %
dd  :  69099  NaN =  42.625549791187304 %
precip  :  0  NaN =  0.0 %
Id  :  0  NaN =  0.0 %
month_2  :  0  NaN =  0.0 %
month_3  :  0  NaN =  0.0 %
month_4  :  0  NaN =  0.0 %
month_5  :  0  NaN =  0.0 %
month_6  :  0  NaN =  0.0 %
month_7  :  0  NaN =  0.0 %
month_8  :  0  NaN =  0.0 %
month_9  :  0  NaN =  0.0 %
month_10  :  0  NaN =  0.0 %
month_11  :  0  NaN =  0.0 %
month_12  :  0  NaN =  0.0 %
lat  :  0  NaN =  0.0 %
lon  :  0  NaN =  0.0 %
height_sta  :  0  NaN =  0.0 %
Ground_truth  :  0  NaN =  0.0 %
forecast_2D_arome_ws  :  8102  NaN =  4.997933463699901 %
forecast_2D_arome_p3031  :  8102  NaN =  4.997933463699901 %
forecast_2D_arome_u10  :  8102  NaN =  4.997933463699901 %
forecast_2D_arome_v10  :  8102  NaN =  4.997933463699901 %
forecast_2D_arome_t2m  :  6750  NaN =  4.163916425570765 %
forecast_2D_arome_d2m  :  6750  NaN =  4.163916425570765 %
forecast_2D_arome_r  :  6750  NaN =  4.163916425570765 %
forecast_2D_arome_tp  :  7429  NaN =  4.582775574157809 %
forecast_2D_arome_msl  :  5164  NaN =  3.1855502846885084 %
forecast_2D_arpege_ws  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_p3031  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_u10  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_v10  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_t2m  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_d2m  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_r  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_tp  :  21171  NaN =  13.059892540112394 %
forecast_2D_arpege_msl  :  21171  NaN =  13.059892540112394 %
forecast_arpege_3D_height_20  :  681  NaN =  0.42009290160202833 %
forecast_arpege_3D_height_100  :  452  NaN =  0.2788281813863683 %
forecast_arpege_3D_height_500  :  452  NaN =  0.2788281813863683 %
forecast_arpege_3D_height_875  :  452  NaN =  0.2788281813863683 %
forecast_arpege_3D_height_1375  :  681  NaN =  0.42009290160202833 %
forecast_arpege_3D_height_2000  :  452  NaN =  0.2788281813863683 %
forecast_arpege_3D_height_3000  :  681  NaN =  0.42009290160202833 %

In [15]:
for col in df_X_test.columns : 
    print(col, " : ", sum(df_X_test[col].isnull()), " NaN = ", sum(df_X_test[col].isnull())/df_X_test.shape[0]*100, "%")

day  :  0  NaN =  0.0 %
number_sta  :  0  NaN =  0.0 %
ff  :  38073  NaN =  44.718111346018325 %
t  :  62  NaN =  0.0728212356119333 %
td  :  29877  NaN =  35.09161381254404 %
hu  :  29868  NaN =  35.08104298801973 %
dd  :  38079  NaN =  44.72515856236787 %
precip  :  0  NaN =  0.0 %
Id  :  0  NaN =  0.0 %
month_2  :  0  NaN =  0.0 %
month_3  :  0  NaN =  0.0 %
month_4  :  0  NaN =  0.0 %
month_5  :  0  NaN =  0.0 %
month_6  :  0  NaN =  0.0 %
month_7  :  0  NaN =  0.0 %
month_8  :  0  NaN =  0.0 %
month_9  :  0  NaN =  0.0 %
month_10  :  0  NaN =  0.0 %
month_11  :  0  NaN =  0.0 %
month_12  :  0  NaN =  0.0 %
lat  :  0  NaN =  0.0 %
lon  :  0  NaN =  0.0 %
height_sta  :  0  NaN =  0.0 %
date  :  0  NaN =  0.0 %
forecast_2D_arome_ws  :  7140  NaN =  8.386187455954898 %
forecast_2D_arome_p3031  :  7140  NaN =  8.386187455954898 %
forecast_2D_arome_u10  :  7140  NaN =  8.386187455954898 %
forecast_2D_arome_v10  :  6669  NaN =  7.8329809725158555 %
forecast_2D_arome_t2m  :  5455  NaN =  6.4070941977918725 %
forecast_2D_arome_d2m  :  5679  NaN =  6.670190274841438 %
forecast_2D_arome_r  :  5679  NaN =  6.670190274841438 %
forecast_2D_arome_tp  :  6112  NaN =  7.178764388066713 %
forecast_2D_arome_msl  :  4707  NaN =  5.528541226215645 %
forecast_2D_arpege_ws  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_p3031  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_u10  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_v10  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_t2m  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_d2m  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_r  :  924  NaN =  1.0852713178294573 %
forecast_2D_arpege_tp  :  706  NaN =  0.8292224571294339 %
forecast_2D_arpege_msl  :  706  NaN =  0.8292224571294339 %
forecast_arpege_3D_height_20  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_100  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_500  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_875  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_1375  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_2000  :  443  NaN =  0.5203194738078459 %
forecast_arpege_3D_height_3000  :  443  NaN =  0.5203194738078459 %

**Méthode 1: miss forest**

In [20]:
#!pip install sklearn

Requirement already satisfied: sklearn in c:\users\elisa\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\elisa\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: joblib>=0.11 in c:\users\elisa\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\elisa\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\elisa\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\elisa\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.1)

In [17]:
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest

In [19]:
#pour train
df_train2 = df_train.drop(["date", "Id", "number_sta"], axis = 1)
imputer = MissForest()
X_imputed = imputer.fit_transform(df_train2)

In [24]:
df1 = pd.DataFrame(X_imputed, columns = df_train2.columns)
df1["date"] = df_train["date"]
df1["Id"] = df_train["Id"]
df1["number_sta"] = df_train["number_sta"]
df1.to_csv("df_train_nan_by_missforest.csv", index = False)

In [28]:
#pour test
df_test2 = df_X_test.drop(["date", "Id", "number_sta"], axis = 1)
imputer2 = MissForest()
X_imputed2 = imputer2.fit_transform(df_test2)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8

In [30]:
df2 = pd.DataFrame(X_imputed2, columns = df_test2.columns)
df2["date"] = df_X_test["date"]
df2["Id"] = df_X_test["Id"]
df2["number_sta"] = df_X_test["number_sta"]
df2.to_csv("df_X_test_nan_by_missforest.csv", index = False)

In [50]:
df2.to_csv("df_X_test_nan_by_missforest.csv", index = False)

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85140 entries, 0 to 85139
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   day                             85140 non-null  int32
 1   ff                              85140 non-null  float64
 2   t                               85140 non-null  float64
 3   td                              85140 non-null  float64
 4   hu                              85140 non-null  float64
 5   dd                              85140 non-null  float64
 6   precip                          85140 non-null  float64
 7   month_2                         85140 non-null  int32
 8   month_3                         85140 non-null  int32
 9   month_4                         85140 non-null  int32
 10  month_5                         85140 non-null  int32
 11  month_6                         85140 non-null  int32
 12  month_7                         85140 non-null  int32
 13  month_8                         85140 non-null  int32
 14  month_9                         85140 non-null  int32
 15  month_10                        85140 non-null  int32
 16  month_11                        85140 non-null  int32
 17  month_12                        85140 non-null  int32
 18  lat                             85140 non-null  float64
 19  lon                             85140 non-null  float64
 20  height_sta                      85140 non-null  float64
 21  forecast_2D_arome_ws            85140 non-null  float64
 22  forecast_2D_arome_p3031         85140 non-null  float64
 23  forecast_2D_arome_u10           85140 non-null  float64
 24  forecast_2D_arome_v10           85140 non-null  float64
 25  forecast_2D_arome_t2m           85140 non-null  float64
 26  forecast_2D_arome_d2m           85140 non-null  float64
 27  forecast_2D_arome_r             85140 non-null  float64
 28  forecast_2D_arome_tp            85140 non-null  float64
 29  forecast_2D_arome_msl           85140 non-null  float64
 30  forecast_2D_arpege_ws           85140 non-null  float64
 31  forecast_2D_arpege_p3031        85140 non-null  float64
 32  forecast_2D_arpege_u10          85140 non-null  float64
 33  forecast_2D_arpege_v10          85140 non-null  float64
 34  forecast_2D_arpege_t2m          85140 non-null  float64
 35  forecast_2D_arpege_d2m          85140 non-null  float64
 36  forecast_2D_arpege_r            85140 non-null  float64
 37  forecast_2D_arpege_tp           85140 non-null  float64
 38  forecast_2D_arpege_msl          85140 non-null  float64
 39  forecast_arpege_3D_height_20    85140 non-null  float64
 40  forecast_arpege_3D_height_100   85140 non-null  float64
 41  forecast_arpege_3D_height_500   85140 non-null  float64
 42  forecast_arpege_3D_height_875   85140 non-null  float64
 43  forecast_arpege_3D_height_1375  85140 non-null  float64
 44  forecast_arpege_3D_height_2000  85140 non-null  float64
 45  forecast_arpege_3D_height_3000  85140 non-null  float64
 46  date                            85140 non-null  int64
 47  Id                              85140 non-null  object
 48  number_sta                      85140 non-null  int64
dtypes: float64(34), int32(12), int64(2), object(1)
memory usage: 27.9+ MB

In [47]:
i = '12'
df2["month_"+i] = df2["month_"+i].astype("int")